# Import Libraries and Clone Github

In [1]:
# Import Libraries
import os
import re
import time
import pandas as pd
import google.generativeai as genai

In [2]:
# Global Variables
CATEGORIES = [
        "Finance",
        "Production",
        "Reserves / Exploration / Acquisitions / Mergers / Divestments",
        "Environment / Regulatory / Geopolitics",
        "Alternative Energy / Lower Carbon",
        "Oil Price / Natural Gas Price / Gasoline Price"]
SENTIMENT_RESULTS_FILE_PATH = 'Prompt2_Sentiment_Analysis_Results.csv'

# Import Data

In [3]:
# Import all cleaned data files
invest_df1 = pd.read_csv('../02_Cleaned_Data/Investment_Research_Part1.csv')
invest_df2 = pd.read_csv('../02_Cleaned_Data/Investment_Research_Part2.csv')
proquest_df = pd.read_csv('../02_Cleaned_Data/ProQuest_Articles.csv')
earnings_presentations = pd.read_csv('../02_Cleaned_Data/Earnings_Presentations.csv')
earnings_qa = pd.read_csv('../02_Cleaned_Data/Earnings_QA.csv')
sec_df = pd.read_csv('../02_Cleaned_Data/SEC_Filings.csv')

# Merge into single df
text_df = pd.concat([invest_df1, invest_df2, proquest_df, sec_df, earnings_presentations, earnings_qa], ignore_index=True)
display(text_df.shape)
display(text_df.head())
display(text_df.tail())

(10053, 7)

,Source,Unique_ID,Ticker,Date,Article Headline,Article Text,URL
0,Investment Research,IR-1,MRO,2024-05-16,Marathon Oil Corporation,"Stock Report | May 16, 2024 | NYSESymbol: MRO ...",NaN
1,Investment Research,IR-2,EOG,2024-05-14,"EOG Resources, Inc.","Stock Report | May 14, 2024 | NYSESymbol: EOG ...",NaN
2,Investment Research,IR-3,EOG,2024-05-11,"EOG Resources, Inc.","Stock Report | May 11, 2024 | NYSESymbol: EOG ...",NaN
3,Investment Research,IR-4,DVN,2024-05-11,Devon Energy Corporation,"Stock Report | May 11, 2024 | NYSESymbol: DVN ...",NaN
4,Investment Research,IR-5,COP,2024-05-07,ConocoPhillips,"Stock Report | May 07, 2024 | NYSESymbol:\n\nC...",NaN

,Source,Unique_ID,Ticker,Date,Article Headline,Article Text,URL
10048,Earnings Call Q&A,EQ-338,XOM,2021-02-02,"Exxon Mobil Corporation, Q4 2020 Earnings Call...",Question and Answer\nOperator\n[Operator Instr...,NaN
10049,Earnings Call Q&A,EQ-339,COP,2021-02-02,"ConocoPhillips, Q4 2020 Earnings Call, Feb 02,...",Question and Answer\nOperator\n[Operator Instr...,NaN
10050,Earnings Call Q&A,EQ-340,EOG,2019-05-03,"EOG Resources, Inc., Q1 2019 Earnings Call, Ma...",Question and Answer\nOperator\n[Operator Instr...,NaN
10051,Earnings Call Q&A,EQ-341,SHEL,2019-05-02,"Royal Dutch Shell plc, Q1 2019 Earnings Call, ...",Question and Answer\nOperator\n[Operator Instr...,NaN
10052,Earnings Call Q&A,EQ-342,COP,2019-04-30,"ConocoPhillips, Q1 2019 Earnings Call, Apr 30,...",Question and Answer\nOperator\n[Operator Instr...,NaN

In [4]:
# Drop rows google gemini will not process
rows_to_drop = ['PQ-2840736837']
index_to_drops = text_df[text_df['Unique_ID'].isin(rows_to_drop)].index
text_df.drop(index_to_drops, inplace=True)
print(index_to_drops)

Index([5379], dtype='int64')

# Find or Create Results CSV

In [5]:
# Determine if the Sentiment Analysis Results file already exists
file_exists = os.path.isfile(SENTIMENT_RESULTS_FILE_PATH)

# Print the result
if file_exists:
    print(f"The file exists in the current directory.")
else:
    print(f"The file does not exist in the current directory.")

The file exists in the current directory.

In [6]:
# Create an empty file if the file does not exist
if not file_exists:
    # Copy text df and drop the text and headline column due to size
    empty_sentiment_df = text_df.copy()
    empty_sentiment_df = empty_sentiment_df.drop(['Article Text', 'Article Headline'], axis=1)

    for category in CATEGORIES:
        empty_sentiment_df[category] = ""
        empty_sentiment_df[category] = empty_sentiment_df[category].astype('object')

    # Display results
    display(empty_sentiment_df.head())

    # Save as CSV
    empty_sentiment_df.to_csv(SENTIMENT_RESULTS_FILE_PATH, index=False)

### NOTE: If you want to re-run the sentiment analysis, delete or archive the csv to create a blank one

# Sentiment Analysis
NOTE: Google gemini **currently** has a daily query limit of 1,500 requests per day.  As we have over 10,000 documents, the code will be designed to run over multiple days and pick up where we last left off.  After the code is run, the user will still need to manually download the csv and upload to github.

**Gemini Free Rate Limits**
*   15 RPM (requests per minute)
*   1 million TPM (tokens per minute)
*   1,500 RPD (requests per day)

In [7]:
# Set up Gemini. (API key needs to be in your environment variables)
key = 'GOOGLE_API_KEY'
GOOGLE_API_KEY = os.getenv(key)
genai.configure(api_key=GOOGLE_API_KEY)

# So it doesn't block the output
safety_settings = [
    {
        "category": "HARM_CATEGORY_DANGEROUS",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_HARASSMENT",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_HATE_SPEECH",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
        "threshold": "BLOCK_NONE",},]

model = genai.GenerativeModel('gemini-1.5-flash-latest', safety_settings=safety_settings)

In [8]:
# Function to find the first empty row of the csv
def find_first_unique_id_with_empty_values(file_path, categories):
    """
    Finds the first unique ID where any of the specified columns have empty values in a CSV file.

    Args:
        file_path (str): The path to the CSV file.
        categories (list of str): List of column names to check for empty values.

    Returns:
        str: The first Unique_ID where any of the specified columns have empty values.
        None: If no such row is found.
    """

    # Load the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Iterate over each row to find the first unique ID with any empty values in the specified columns
    for index, row in df.iterrows():
        if row[categories].isnull().any() or (row[categories] == '').any():
            return row['Unique_ID']

    return None  # Return None if no such row is found

# Test function
unique_id = find_first_unique_id_with_empty_values(SENTIMENT_RESULTS_FILE_PATH, CATEGORIES)
print(unique_id)

IR-24

In [9]:
# Helper function to get Gemini query function inputs
def get_gemini_inputs(text_df, unique_id):
    """
    Retrieves information from the DataFrame based on the unique ID and outputs company, source, headline, and text.

    Args:
        text_df (pd.DataFrame): The DataFrame containing the text data.
        unique_id (str): The unique ID to search for.

    Returns:
        tuple: A tuple containing company, source, headline, and text.
    """
    # Find the row with the specified unique ID
    row = text_df[text_df['Unique_ID'] == unique_id]

    # Extract the required information
    company = row['Ticker'].values[0]
    source = row['Source'].values[0]
    headline = row['Article Headline'].values[0]
    text = row['Article Text'].values[0]

    return company, source, headline, text

# Test function
company, source, headline, text = get_gemini_inputs(text_df, unique_id)
print(f"Company: {company}\n")
print(f"Source: {source}\n")
print(f"Headline: {headline}\n")
print(f"Text:\n{text}")

Company: DVN

Source: Investment Research

Headline: Devon Energy Corporation

Text:
Stock Report | April 20, 2024 | NYSESymbol: DVN | DVN is in the S&P 500
Devon Energy Corporation

CFRA

Recommendation

Equity Analyst Stewart Glickman, CFA

Price 12-Mo. Target Price Report Currency

USD 51.83 {as of market close Apr 19, 2024) USD 51.00

Investment Style
USD Large-Cap Value

GICS Sector Energy

Sub-Industry Oil and Gas Exploration and Production

Summary Devon Energy is one of the largest independent oil & gas exploration and production

companies in the U.S.

Key Stock Statistics (Source: CFRA, S&P Global Market Intelligence (SPGMI), Company Reports)

52-Wk Range USD 55.09 - 40.47 = Oper.EPS2024E USD 5.33 = Market Capitalization[B] USD 32.64 _ Beta 2.21
Trailing 12-Month EPS USD 5.7 Oper.EPS2025E USD 5.80 = Yield [%] 1.71 = 3-yr Proj. EPS CAGR[%] -7
Trailing 12-Month P/E 9.09 P/E on Oper.EPS2024E 9.72 Dividend Rate/Share USD 0.88 = SPGMI's Quality Ranking B-
USD 10K Invested 5 YrsAgo 20,395.0 Common Shares Outstg.[M] 636.00 = Trailing 12-Month Dividend USD2.42 Institutional Ownership [%] 70.0
Price Performance Analyst's Risk Assessment
30-Week Mov. Avg. ====  10-Week Mov. Avg. == == GAAP Earnings vs. Previous Year Volume Above Avg. Wh STARS LOW MEDIUM HIGH
12-Mo. Target Price = A.Up W Down p> No Change Below Ava. || xT Our risk assessment reflects our view of DVN's position as

hare Price

fol. (Min)

ao dhatuliati wl AT ib ul vali ll i lil hl lid da A

4*

4 4*

3

MAMJJASONDJFMAMJJASONDJFMAMJJASONDJFMAMJJASONDJFMAMJJASONDJFMAMJJ

2019 2020 2021

Source: CFRA, S&P Global Market Intelligence

2022 2023 2024

Past performance is not an indication of future performance and should not be relied upon as such.
Analysis prepared by Stewart Glickman, CFA on Mar 18, 2024 12:19 AM ET, when the stock traded at USD 46.58.

Highlights

> In the fourth quarter, DVN’s crude oil production
averaged 317,000 boe/d, down slightly from its
all-time high of 323,000 boe/d set in the
second quarter. In February, DVN reiterated
guidance on 2024 production of 650,000 boe/d,
including 315,000 b/d of crude oil. DVN’s
guidance implies essentially flat production, but
it believes it can do so with capex down about
10%. The path to get there, in our view, comes
from a high-grading of its activity, both in its
core Delaware Basin play as well as in other
basins, such as the Williston or Powder River
Basin.

> DVN said that 55% of its Delaware Basin leases
and 60% of its Powder River Basin leases are on
Federal land. This presents a risk factor since
President Biden had issued a temporary
stoppage on new drilling permits. However, in
May 2021, DVN noted that Federal permits were
again being issued and that it had now acquired
a four-year supply of such permits based on the
current pace of drilling.

> At the end of December 2023, DVN had a net
debt-to-capital ratio of 29%, about in line with
the peer average of 30%. However, about 60%
of its debt obligations mature after 2030.

Investment Rationale/Risk

> Our recommendation is Buy. We see DVN
gravitating to a high-grading of activity toward
core Delaware Basin assets and premium
resource plays outside the Delaware. Overall,
while we expect a fairly flat revenue profile for
DVN in 2024, we think earnings power can still
improve via wider margin performance, and so
too can its free cash flow profile.

> Risks to our opinion and target price include
significantly weaker-than-expected crude oil,
NGL, or natural gas prices; unexpected
regulatory changes that create headwinds for
the development of DVN’s unconventional
acreage, particularly on Federal lands; difficulty
in replacing reserves; and rising cost inflation.

> Our 12-month target price of $51 implies a 5x
multiple of enterprise value to projected 2025
EBITDA, slightly above DVN’s historical forward
average, on improving drilling productivity.
DVN’s base plus variable dividend combined for
$0.44 per share in Q4, an annualized yield of
3.8%. While the variable component is in turn

contingent on cash flows, we think DVN’s efforts

at high-grading its portfolio should allow for a
sustainable build in cash flows.

a large independent oil & gas exploration & production
(ESP) company in a highly capital-intensive industry that
derives value from producing commodities with very
volatile prices.

Revenue/Earnings Data

Revenue (Million USD)

1Q 2Q 3Q 4Q Year
2025 E3,665 E€3,675 £3,695 £3,705 £14,740
2024 E3,370 €3,485 E3,600 E3,625 £14,080
2023 3,584 3,365 3,839 3,639 14,427
2022 4,003 5,544 5,184 4,142 18,873
2021 2318 2944 3,801 4,054 13,750
2020 1,311 730 1,154 1,350 4,673
Earnings Per Share (USD)

1Q 2Q 3Q 4Q Year
2025 E142 €142 E147 €149 €E580
2024 E119 £130 E141 E143 E533
2023 1.46 1.18 1.65 141 5.71
2022 1.88 2.59 2.18 1.66 8.31
2021 0.45 0.60 1.08 1.39 3.53
2020 0.13 -0.18 -0.07 --  -0.12

Fiscal Year ended Dec 31. EPS Estimates based on CFRA's
Operating Earnings; historical earnings are adjusted. In periods

where a different currency has been reported, this has been
adjusted to match the current quoted currency.

Dividend Data

Amount Date Ex-Div. Stk. of Payment
( USD) Decl. Date Record Date
0.2200 Feb27) Marl4 Mar1S5 Mar 28'24
0.2200 Feb27) Marl4 Mar1S5 Mar 28'24
0.5700 NovO7 Decl14 Deci15 Dec 29 '23
0.2000 NovO7 Decl14 Deci15 Dec 29 '23

Dividends have been paid since 1993 . Source: Company reports
Past performance is not an indication of future performance
and should not be relied as such.

Forecasts are not a reliable indicator of future performance.
Dividends paid in currencies other than the Trading currency have
been accordingly converted for display purposes.

Redistribution or reproduction is prohibited without written permission. Copyright ©2024 CFRA. This document is not intended to provide personal investment advice and it does not take into account the specific investment
objectives, financial situation and the particular needs of any specific person who may receive this report. Investors should seek independent financial advice regarding the suitability and/or appropriateness of making an investment
or implementing the investment strategies discussed in this document and should understand that statements regarding future prospects may not be realized. Investors should note that income from such investments, if any,
may fluctuate and that the value of such investments may rise or fall. Accordingly, investors may receive back less than they originally invested. Investors should seek advice concerning any impact this investment may have on
their personal tax position from their own tax advisor. Please note the publication date of this document. It may contain specific information that is no longer current and should not be used to make an investment decision. Unless
otherwise indicated, there is no intention to update this document.

1

Stock Report | April 20, 2024 | NYSESymbol: DVN | DVN is in the S&P 500
Devon Energy Corporation

CFRA

Business Summary Mar 18, 2024

CORPORATE OVERVIEW. Devon Energy Corp. [DVN] is an independent exploration and production company
primarily engaged in the exploration, development, and production of oil and natural gas; the acquisition of
producing properties; the transportation of oil, natural gas, and natural gas liquids (NGLs]; and the
processing of natural gas. Through a series of acquisitions and divestitures, DVN, as of early 2024, was
focused on a combination of growth assets in the Permian Basin in West Texas and New Mexico, the STACK
play in Oklahoma, the Eagle Ford Shale in South Texas, the Williston Basin in North Dakota, and the Powder
River Basin in Wyoming. Proved oil and gas reserves at year-end 2023 are estimated at 1,816 MMBOE (71%
liquids, 78% developed), up 12% since the end of 2021. Based on 2023 production, we estimate a reserve
life of about 7.6 years, below the peer average, although we note that it is up from an estimated 6.2 years at
the end of 2020, helped by the WPX deal. DVN’s relatively low proved undeveloped reserves exposure (PUD;
22%] is an advantage, in our view, since PUD reserves typically require higher levels of spending to
transform into production.

CORPORATE STRATEGY. DVN has had a more disparate set of assets in years past, but it has taken steps to
eliminate some of its non-core positions and build growth efforts around a handful of core onshore U.S.
plays. In 2019 and 2020, it sold its Canadian assets and Barnett Shale assets, respectively, for combined
proceeds of about $3.0 billion. Early 2021 brought the WPX acquisition, adding more acreage in the
Delaware Basin play in West Texas/Eastern New Mexico, as well as the Williston Basin in North Dakota. All
told, we see five key plays going forward: the Delaware, Williston, Eagle Ford (South Texas), Powder River
Basin [Wyoming], and the Anadarko Basin (Oklahoma). In 2023, DVN generated production of 657,700 boe/
d, up 7.7% from 2022. The largest contributors to production in 2023 were the Delaware (433,000 boe/d),
followed by the Anadarko (79.000 boe/d)} and the Eagle Ford Shale (72,000 boe/d). The Williston (55,000
boe/d} and Powder River Basin (19,000 boe/d) rounded out the field.

The Delaware likely represents the biggest strategic effort for 2024, and we think DVN will spend the lion’s
share of its capital program ($3.3-$3.6 billion planned as of early 2024) here. As of early 2024, overall
production is expected to be about 650,000 boe/d, which would imply about a 1% drop from 2023 levels.

IMPACT OF MAJOR DEVELOPMENTS. In January 2021, DVN completed the deal to acquire former ESP rival
WPX Energy at an enterprise value of about $12 billion. Per the deal, each share of WPX was exchanged for
0.5165 shares of DVN. The deal boosted DVN’s share count by 63%, but we estimate it also boosted pro-
forma operating cash flow by about 75% (2021). The deal created a larger presence for DVN in the Permian
Basin, which we think was a key factor. Strategically, the WPX deal added heft to DVN’s Permian acreage and
improved DVN’s low reserve life [estimated at 7.6 years at December 2023, versus 6.2 years at December
2020) without adding meaningfully to near-term debt milestones. Recent bolt-on M&A purchases have
added to DVN’s capital spending, but operating cash flow does not look like it will keep pace, leading to
slightly lower free cash flow in 2024 than in 2023. We estimate that WPX had weaker cost-per-foot metrics
from oil and gas development, and in our calculation, WPX’s three-year recycle ratio [a measure of cash
received from sales versus cash spent on oil and gas development] was weaker than DVN’s. Thus, this deal
could be an opportunity for DVN to share best practices on WPX acreage and potentially obtain better
results. DVN has already stated that it thinks it can achieve cost synergies and margin improvements of
$575 million from this acquisition.

FINANCIAL TRENDS. DVN’s long-term debt at year-end 2023 stood at $5.7 billion, down from $6.2 billion at
year-end 2022. DVN has no major milestone debt payments due until late 2025.

Corporate information

Investor contact
S. Coody (405 235 3611)

Office

333 West Sheridan Avenue, Oklahoma City, Oklahoma,

73102-5015

Telephone
405 235 3611

Fax
N/A

Website
www.devonenergy.com

Officers

VP of Accounting,
Controller & Principal
Accounting Officer

J. Sherrer

Executive VP & CFO

VP & CTO
T. Lowe

Independent Chair of the
Board
B. M. Baumann

J. L. Ritenour
Executive VP & COO
President, CEO & Director C.M. Gaspar
R. E. Muncrief
Executive VP & General
Counsel
D. C. Cameron
Board Members
A. G. Fox K. F. Kurz
B. M. Baumann K. Kindick
G. F. Kelly M. N. Mears
J. E. Bethancourt R. A. Mosbacher
J. Krenicki R. E. Muncrief
J. L. Nichols V. M. Williams
Domicile Auditor
Delaware KPMG LLP - Klynveld Peat
Marwick Goerdeler
Founded
1971
Employees
1,900
Stockholders
11,446

Redistribution or reproduction is prohibited without prior written permission. Copyright ©2024 CFRA.

Stock Report | April 20, 2024 | NYSESymbol: DVN | DVN is in the SGP 500 CFRA
Devon Energy Corporation

Fair Value Rank 1 2023 2022 2021 2020

LOWEST HIGHEST  Price/Sales 2.02 2.13 2.13 1.28

Based on CFRA's proprietary quantitative model, Price/Tangible Book Value 2.55 3.86 3.43 2.83

stocks are ranked from most overvalued (1) to most Price/Pretax Income 6.29 5.17 10.11 NM

undervalued (5). P/E Ratio 7.93 740 12.48 NM
Fair Value USD Analysis of the stock’s current worth, based on CFRA’s Avg. Diluted Shares Outstg. (M} 6A2.00 653.00 665.09 $77.00
Calculation 25.72 proprietary quantitative model suggests that DVN is Figures based on fiscal year-end price

overvalued by USD 26.11 or 50.38%

a Key Growth Rates and averages

Technical BULLISH Since April, 2024, the technical indicators for DVN

Evaluation have been BULLISH" Past Growth Rate (%) 1Year 3Years_ 5 Years
Net Income NM 11.82 411
Insider Activity FAVORABLE Revenue -23.56 4561 11.32
Ratio Analysis (Annual Avg.)
Net Margin (%] 25.97 26.10 3.13
% LT Debt to Capitalization 30.33 34.93 40.51
Per Share Data (USD} 2023 2022 2021 2020 2019 2018 2017 2016 2015 2014
Tangible Book Value 17.79 15.95 12.83 5.58 13.22 18.78 16.02 8.16 3.17 35.95
Free Cash Flow 4.06 5.23 4.36 0.51 0.32 1.08 2.41 -1.45 -245 -18.34
Earnings 5.84 9.12 4.19 -6.78 -0.21 1.05 -0.31 -0.35 -31.72 3.91
Earnings (Normalized) 5.71 8.31 3.53 -0.12 1.38 1.19 1.84 -0.13 2.52 4.91
Dividends 2.87 5.17 1.97 0.42 0.35 0.30 0.24 0.42 0.96 0.94
Payout Ratio (%] 49.59 56.18 46.75 NM NM 4.86 14.14 NM NM 24.02
Prices: High 66.96 79.40 45.56 26.98 35.39 46.54 49.45 50.69 70.48 80.63
Prices: Low 42.59 42.87 15.65 4.70 19.72 20.37 28.79 18.07 28.00 51.76
P/E Ratio: High 11.70 9.60 12.90 NM 25.60 39.10 26.90 NM 28.00 16.40
P/E Ratio: Low 7.50 5.20 4.40 NM 14.30 17.10 15.60 NM 11.10 10.50
Income Statement Analysis [Million USD)
Revenue 14,427 18,873 13,750 4,673 6,674 8,439 6,340 6,604 12,938 17,217
Depreciation + Amortization 2,583 2,248 2,186 1,320 1,536 1,458 1,252 2,179 = 20,433 3,408
Operating Expenses 433.00 1,086 1906 164.00 991.00 347.00 1,015 1519 18,009 -896.00
Effective Tax Rate (%] 18.20 22.40 2.20 17.70 27.50 24.40 1750 -32.60 31.30 58.30
Net Income 3,747 6,015 2,813 NM NM 3,064 898.00 NM NM 1,607
Net Income (Normalized) 2,836 4,797 1,829 NM NM 541.20 NM NM NM 3,076
Balance Sheet and Other Financial Data [Million USD)
Gross Property 50,494 46,786 41,506 29,941 30,219 28,411 51,707 58,697 91,154 88,185
Net Property 19,595 18,330 15,243 5,616 8,836 8,462 14,584 20,533 19,068 36,296
Capital Expenditures 3,947 5,125 2,007 1,161 1,941 2,171 1,658 2,233 5,894 13,450
Capital Expnd to Revenue (%] 27.40 27.20 14.60 24.80 29.10 25.70 26.20 33.80 45.60 78.10
% Long Term Debt of Capitalization 30.30 34.40 40.10 56.80 41.00 31.50 32.10 44.50 50.20 26.10
Capitalization: Common 12,061 11,167 9,262 2,885 5,802 9,186 9,254 8,274 7,049 = 21,539
Capitalization: Preferred N/A N/A N/A N/A N/A N/A N/A N/A N/A N/A
Fixed Charges Coverage 13.28 21.68 8.55 0.28 0.68 4.84 0.42 -2.13  -34.42 11.91
% Operating Ratio 51.87 54.41 40.02 29.81 25.67 33.75 21.99 19.22 21.45 52.59
% Net Income Margin 25.97 31.87 20.46 -57.35 -5.32 36.31 14.16 -15.99 -99.68 9.33
% Return on Invested Capital 16.69 29.34 17.47 0.51 0.92 5.01 0.40 -2.42 -35.79 10.07
% Return on Common Equity 32.30 58.30 45.80 -58.80 -1.10 5.90 -1.70 -2.30 -90.30 7.60

Source: S&P Global Market Intelligence. Data may be preliminary or restated; before results of discontinued operations/special items. Per share data adjusted for stock dividends; EPS diluted.
E-Estimated. NA-Not Available. NM-Not Meaningful. NR-Not Ranked. UR-Under Review.

Redistribution or reproduction is prohibited without prior written permission. Copyright ©2024 CFRA. 3

Stock Report | April 20, 2024 | NYSESymbol!: DVN | DVN is in the SGP 500
Devon Energy Corporation

CFRA

Our fundamental outlook for the oil & gas
exploration and production (E&P) sub-industry for
the next 12 months is neutral, recently cut from
positive. We had previously thought that
disciplined cuts from key producing nations should
be able to blunt demand weakness that may occur
in 2024. We now, however, see more question
marks on both counts.

On the supply side, the OPEC cartel lost Angola as
a member, and the December 2023 OPEC meeting
ended poorly, in our view, with no collective
agreement on voluntary cuts beyond quotas. It is
not out of the realm of possibility that OPEC
discipline - which has been remarkably strong
since the onset of Covid-19 - could begin to wane
if cartel members grow tired of voluntary cuts,
particularly while U.S. production rises. On the
demand side, China remains the linchpin for global
incremental demand growth, and the early 2024
consensus estimate on China’s real GDP growth in
2024 is a mere 4.6%, per NikkeiAsia, down 60 bps
from 2023. Meanwhile, the International Energy
Agency sees crude oil demand growth of 1.2 mmb/
din 2024 (+1.2%], roughly in line with normalized
demand growth. While it is possible for global
demand growth to be typical even if China’s GDP
disappoints, we think this may be challenging.

For U.S. West Texas Intermediate (WTI) crude, we
think an overall average in the $75 to $80 per
barrel (/b} range for 2024 as a whole (versus $78/
b in 2023) is viable. U.S. producers continue to
show a preference for free cash flow growth over
production growth, although we do expect the U.S.
to eke out a small increase in domestic
production, likely 300,000 b/d to an estimated
13.2 mmb/d. For U.S. natural gas, we think prices
will improve marginally, but remain below $3.00
per million BTU in 2024. We do not bake ina
substantial geopolitical risk premium for energy
prices, unless the Israel-Gaza war spreads to Iran
and adversely affects Iran’s crude oil production
(currently 3.2 mmb/d).

E&Ps in 2024 should see a flattish earnings
profile, albeit at a relatively high level. We think
both 2023 and 2024 will ultimately exhibit strong

earnings power relative to most of the prior
decade, but not as strong as in the 2022 peak.
Most E&Ps today feature strong balance
sheets, their cost structures are in good shape,
and the conservative approach to spending
should yield strong free cash flows. As a result,
we still expect EGPs to support dividend and
buyback programs, augmented by modest
capex growth.

Commercial crude inventories stood at 429.9
million barrels in early January 2024, 3% below
the five-year average for this time of year. The
crude oil futures curve is currently in only slight
backwardation, which does not really
incentivize further storage.

The U.S. EIA noted that the U.S. working gas in
storage stood at 3.18 tcf as of mid January
2024, 11% above the five-year average for this
time. The EIA also projects Henry Hub natural
gas prices to average $2.66/MMBtu in 2023
(slightly above the average of $2.54/MMBtu in
2023), rising to $2.95/MMBtu in 2025.

In 2023, the S&P Oil & Gas Exploration &
Production Index was down 3.0% versus a
23.4% gain in the S&P 1500 Composite Index.

| Stewart Glickman, CFA

GICS Sector: Energy

Sub-Industry: Oil and Gas Exploration and Production
Based on S&P 1500 Indexes

Five-Year market price performance through Apr 20, 2024

— NYSE:DVN —— Sub-Industry ~~ S&P 1500

200%

160%

120% +

2 80% +
Cc
oO
x=
oOo
as

40% -|

0% +

-40% +

-80% 5

2020 2021 2022 2023 2024

NOTE: A sector chart appears when the sub-industry does not have
sufficient historical index data.

All Sector & Sub-Industry information is based on the Global Industry
Classification Standard (GICS}.

Past performance is not an indication of future performance and should
not be relied upon as such.

Source: CFRA, S&P Global Market Intelligence

Stock
Peer Group Symbol
Devon Energy Corporation DVN
APA Corporation APA
Chesapeake Energy Corporation CHK
Coterra Energy Inc. CTRA
Diamondback Energy, Inc. FANG
EQT Corporation EQT
Hess Corporation HES
Marathon Oil Corporation MRO
Ovintiv Inc. Ov
Texas Pacific Land Corporation TPL
Tourmaline Oil Corp. TRML.F

Recent 30-Day 1-Year Fair Return

In [10]:
# Function to query Gemini
def query_gemini(company, source, headline, text, model):
    """
    Query Gemini to perform sentiment analysis on text from various sources about a company.

    Parameters:
    company (str): The name of the company the text is about.
    source (str): The source of the text. Valid values are "Investment Research", "ProQuest", "SEC Filings", "Earnings Call Presentations", "Earnings Call Q&A".
    headline (str): The headline or title of the text.
    text (str): The body of the text to be analyzed.
    model: The model object used to generate content and analyze the text.

    Returns:
    str: The sentiment analysis results for predefined categories in the specified format.

    The function constructs a prompt based on the source of the text and performs sentiment analysis on the given text using the provided model.
    It analyzes the content across multiple predefined categories, determining the sentiment (Positive, Neutral, Negative) for each category.
    If a category is not mentioned or relevant based on the text content, it is marked as 'Neutral'.
    The final output is summarized in a specified format.
    """

    # Source Variables
    if source == "Investment Research":
        text_source = "an analyst report"
        text_source2 = "the analyst report"
    elif source == "ProQuest":
        text_source = "a news article"
        text_source2 = "the news article"
    elif source == "SEC Filings":
        text_source = "an SEC filing"
        text_source2 = "the SEC filing"
    elif source == "Earnings Call Presentations":
        text_source = "an earnings call presentation"
        text_source2 = "the earnings call presentation"
    elif source == "Earnings Call Q&A":
        text_source = "an earnings call Q&A session"
        text_source2 = "the earnings call Q&A session"

    # Prompt
    prompt = f"""
Given the text from {text_source} about {company}, analyze the content and perform sentiment analysis across multiple predefined categories.

Sentiment options:
  - Positive
  - Neutral
  - Negative

Categories:
  - Finance
  - Production
  - Reserves / Exploration / Acquisitions / Mergers / Divestments
  - Environment / Regulatory / Geopolitics
  - Alternative Energy / Lower Carbon
  - Oil Price / Natural Gas Price / Gasoline Price

Each category should be evaluated and given a sentiment output derived from the text.
If a category is not mentioned or relevant based on the text content, mark it as 'Neutral'.

Before giving your answer, explain your reasoning and reference the article.
After going through all the categories, provide a summary in the following format:
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment

Example Output1:
- Finance - Positive
- Production - Neutral
- Reserves / Exploration / Acquisitions / Mergers / Divestments - Negative
- Environment / Regulatory / Geopolitics - Neutral
- Alternative Energy / Lower Carbon - Positive
- Oil Price / Natural Gas Price / Gasoline Price - Neutral

Example Output 2:
 - Finance - Negative
 - Production - Positive
 - Reserves / Exploration / Acquisitions / Mergers / Divestments - Neutral
 - Environment / Regulatory / Geopolitics - Positive
 - Alternative Energy / Lower Carbon - Neutral
 - Oil Price / Natural Gas Price / Gasoline Price - Negative

Example Output 3:
 - Finance - Neutral
 - Production - Negative
 - Reserves / Exploration / Acquisitions / Mergers / Divestments - Positive
 - Environment / Regulatory / Geopolitics - Negative
 - Alternative Energy / Lower Carbon - Positive
 - Oil Price / Natural Gas Price / Gasoline Price - Neutral

Example Output 4:
 - Finance - Positive
 - Production - Neutral
 - Reserves / Exploration / Acquisitions / Mergers / Divestments - Negative
 - Environment / Regulatory / Geopolitics - Neutral
 - Alternative Energy / Lower Carbon - Negative
 - Oil Price / Natural Gas Price / Gasoline Price - Positive

Example Output 5:
 - Finance - Negative
 - Production - Positive
 - Reserves / Exploration / Acquisitions / Mergers / Divestments - Neutral
 - Environment / Regulatory / Geopolitics - Negative
 - Alternative Energy / Lower Carbon - Positive
 - Oil Price / Natural Gas Price / Gasoline Price - Negative

Make sure to use plain text, do not bold or bullet the output summary.

The text from {text_source2} is below:
{headline}
{text}

Remember to summarize your final answers in the following format exactly:
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment

Make sure to use plain text and stick to the given categories and sentiment options.
DO NOT bold or bullet the output summary.
    """

    # print(prompt)
    response = model.generate_content(prompt)
    return response.text

# Test function
response = query_gemini(company, source, headline, text, model)
print(response)

Here's a breakdown of the sentiment analysis for DVN based on the provided analyst report, along with explanations:

**Finance:**

- **Sentiment: Positive**
- **Reasoning:** The report highlights DVN's strong financial position.  It mentions the company's long-term debt decreasing from $6.2 billion to $5.7 billion in 2023 and no major debt payments due until 2025. The report also emphasizes DVN's focus on free cash flow growth, leading to potential dividend and buyback programs.

**Production:**

- **Sentiment: Neutral**
- **Reasoning:** While the report indicates that DVN anticipates a 1% drop in production in 2024 compared to 2023, it emphasizes a strategy of "high-grading" its activity, focusing on more profitable assets and reducing capital expenditures. This suggests a shift in strategy rather than a negative outlook on production.

**Reserves / Exploration / Acquisitions / Mergers / Divestments:**

- **Sentiment: Positive**
- **Reasoning:** The report is positive about DVN's acquisition of WPX Energy, noting that it boosted DVN's presence in the Permian Basin and improved its reserve life.  It also highlights DVN's strategy of focusing on a few core onshore U.S. plays through acquisitions and divestments.

**Environment / Regulatory / Geopolitics:**

- **Sentiment: Neutral**
- **Reasoning:** The report acknowledges the potential risks associated with President Biden's drilling permit restrictions on federal lands, but also notes that DVN has secured a four-year supply of permits.  The report also touches on potential geopolitical risks to oil prices, but doesn't express a strong negative sentiment.

**Alternative Energy / Lower Carbon:**

- **Sentiment: Neutral**
- **Reasoning:** This category is not directly addressed in the report.

**Oil Price / Natural Gas Price / Gasoline Price:**

- **Sentiment: Neutral**
- **Reasoning:** The report anticipates a stable crude oil price in the $75-$80 per barrel range for 2024.  While it forecasts a marginal improvement in natural gas prices, it also expects them to remain below $3.00 per million BTU. The report does not specifically discuss gasoline prices.

**Summary:**

- Finance - Positive
- Production - Neutral
- Reserves / Exploration / Acquisitions / Mergers / Divestments - Positive
- Environment / Regulatory / Geopolitics - Neutral
- Alternative Energy / Lower Carbon - Neutral
- Oil Price / Natural Gas Price / Gasoline Price - Neutral

In [11]:
# Function to parse text
def parse_sentiment(text, categories):
    """
    Parses a given text for specified categories and their sentiments.

    Args:
        text (str): The input text containing categories and their sentiments.
        categories (list of str): List of category names to look for in the text.

    Returns:
        dict or str: A dictionary with categories as keys and their corresponding sentiments as values,
                     or "Did not find all categories" if any sentiment is not Positive, Neutral, or Negative.
    """
    results = {}
    valid_sentiments = {"Positive", "Neutral", "Negative"}

    for category in categories:
        # Create a regex pattern to match the format "- Category - Sentiment"
        # The category name is escaped to handle any special characters
        pattern = rf"- {re.escape(category)} - (\w+)"

        # Search for the pattern in the text
        match = re.search(pattern, text)

        # If a match is found, extract the sentiment and add it to the results dictionary
        if match:
            sentiment = match.group(1)
            if sentiment not in valid_sentiments:
                return "Did not find all categories"
            results[category] = sentiment
        else:
            return "Did not find all categories"

    return results

# Test function
fail_text = """
- Finance - Positive
- Production - Neutral
- Reserves / Exploration / Acquisitions / Mergers / Divestments - Bad
- Environment / Regulatory / Geopolitics - Neutral
- Alternative Energy / Lower Carbon - Positive
- Oil Price / Natural Gas Price / Gasoline Price - Neutral
"""

sentiment_dict = parse_sentiment(response, CATEGORIES)
fail_sentiment = parse_sentiment("fail_text", CATEGORIES)
print(sentiment_dict)
print(fail_sentiment)

{'Finance': 'Positive', 'Production': 'Neutral', 'Reserves / Exploration / Acquisitions / Mergers / Divestments': 'Positive', 'Environment / Regulatory / Geopolitics': 'Neutral', 'Alternative Energy / Lower Carbon': 'Neutral', 'Oil Price / Natural Gas Price / Gasoline Price': 'Neutral'}
Did not find all categories

In [12]:
# Function to update the csv
def update_csv(file_path, unique_id, sentiment_dict):
    """
    Updates the columns of a CSV file based on the unique ID and sentiment dictionary.

    Args:
        file_path (str): The path to the CSV file.
        unique_id (str): The unique ID of the row to be updated.
        sentiment_dict (dict): A dictionary with categories as keys and their corresponding sentiments as values.

    Returns:
        None
    """
    # Load the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Find the index of the row with the specified unique ID
    row_index = df[df['Unique_ID'] == unique_id].index

    # Update the columns based on the sentiment dictionary
    for category, sentiment in sentiment_dict.items():
        df.loc[row_index, category] = sentiment

    # Save the updated DataFrame back to the CSV file
    df.to_csv(file_path, index=False)
    print(f"Row with Unique_ID '{unique_id}' has been updated.")

# Test function
update_csv(SENTIMENT_RESULTS_FILE_PATH, unique_id, sentiment_dict)

Row with Unique_ID 'IR-24' has been updated.

In [13]:
start_time = time.time()
unique_id = find_first_unique_id_with_empty_values(SENTIMENT_RESULTS_FILE_PATH, CATEGORIES)
count = 0
max_tries = 5

# Iterate through the CSV using the functions
while unique_id:
    retries = 0
    success = False

    # There are multiple errors that can happen, many of them simply need another try
    while retries < max_tries and not success:
        try:
            # Get gemini inputs
            company, source, headline, text = get_gemini_inputs(text_df, unique_id)

            # Query Gemini
            response = query_gemini(company, source, headline, text, model)

            # Parse text
            sentiment_dict = parse_sentiment(response, CATEGORIES)

            # Update the csv
            update_csv(SENTIMENT_RESULTS_FILE_PATH, unique_id, sentiment_dict)

            success = True

        except Exception as e:
            retries += 1
            print(f"Error encountered: {e}. Retry {retries}/{max_tries}")

            if retries >= max_tries:
                print(f"Failed to process unique_id {unique_id} after {max_tries} attempts. Stopping.")
                # Exit both loops
                unique_id = None
                break

    if not success:
        break

    # Get an update every 10 rows
    count += 1
    if count % 10 == 0:
        elapsed_time = time.time() - start_time
        minutes, seconds = divmod(elapsed_time, 60)
        print(f"Iteration: {count}, Elapsed Time: {int(minutes)} minutes and {seconds:.2f} seconds")

    # Find the next empty row
    unique_id = find_first_unique_id_with_empty_values(SENTIMENT_RESULTS_FILE_PATH, CATEGORIES)

    # Test print statements
    # print(unique_id)
    # print(f"Company: {company}\n")
    # print(f"Source: {source}\n")
    # print(f"Headline: {headline}\n")
    # print(f"Text:\n{text}")
    # print(response)
    # print(sentiment_dict)

Row with Unique_ID 'IR-25' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-26' has been updated.
Row with Unique_ID 'IR-27' has been updated.
Row with Unique_ID 'IR-28' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-29' has been updated.
Row with Unique_ID 'IR-30' has been updated.
Row with Unique_ID 'IR-31' has been updated.
Row with Unique_ID 'IR-32' has been updated.
Row with Unique_ID 'IR-33' has been updated.
Row with Unique_ID 'IR-34' has been updated.
Iteration: 10, Elapsed Time: 1 minutes and 4.42 seconds
Row with Unique_ID 'IR-35' has been updated.
Row with Unique_ID 'IR-36' has been updated.
Row with Unique_ID 'IR-37' has been updated.
Row with Unique_ID 'IR-38' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-39' has been updated.
Row with Unique_ID 'IR-40' has been updated.
Row with Unique_ID 'IR-41' has been updated.
Row with Unique_ID 'IR-42' has been updated.
Row with Unique_ID 'IR-44' has been updated.
Row with Unique_ID 'IR-45' has been updated.
Iteration: 20, Elapsed Time: 2 minutes and 1.68 seconds
Row with Unique_ID 'IR-46' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-47' has been updated.
Row with Unique_ID 'IR-48' has been updated.
Row with Unique_ID 'IR-49' has been updated.
Row with Unique_ID 'IR-50' has been updated.
Row with Unique_ID 'IR-51' has been updated.
Row with Unique_ID 'IR-52' has been updated.
Row with Unique_ID 'IR-53' has been updated.
Row with Unique_ID 'IR-54' has been updated.
Row with Unique_ID 'IR-55' has been updated.
Iteration: 30, Elapsed Time: 3 minutes and 8.74 seconds
Row with Unique_ID 'IR-56' has been updated.
Row with Unique_ID 'IR-57' has been updated.
Row with Unique_ID 'IR-58' has been updated.
Row with Unique_ID 'IR-59' has been updated.
Row with Unique_ID 'IR-60' has been updated.
Row with Unique_ID 'IR-61' has been updated.
Row with Unique_ID 'IR-62' has been updated.
Row with Unique_ID 'IR-63' has been updated.
Row with Unique_ID 'IR-64' has been updated.
Row with Unique_ID 'IR-65' has been updated.
Iteration: 40, Elapsed Time: 4 minutes and 13.55 seconds
Row with Unique_ID 'IR-66' has been updated.
Row with Unique_ID 'IR-67' has been updated.
Row with Unique_ID 'IR-68' has been updated.
Row with Unique_ID 'IR-69' has been updated.
Row with Unique_ID 'IR-70' has been updated.
Row with Unique_ID 'IR-71' has been updated.
Row with Unique_ID 'IR-72' has been updated.
Row with Unique_ID 'IR-73' has been updated.
Row with Unique_ID 'IR-74' has been updated.
Row with Unique_ID 'IR-75' has been updated.
Iteration: 50, Elapsed Time: 5 minutes and 11.57 seconds
Row with Unique_ID 'IR-76' has been updated.
Row with Unique_ID 'IR-77' has been updated.
Row with Unique_ID 'IR-78' has been updated.
Row with Unique_ID 'IR-79' has been updated.
Row with Unique_ID 'IR-80' has been updated.
Row with Unique_ID 'IR-81' has been updated.
Row with Unique_ID 'IR-82' has been updated.
Row with Unique_ID 'IR-83' has been updated.
Row with Unique_ID 'IR-84' has been updated.
Row with Unique_ID 'IR-85' has been updated.
Iteration: 60, Elapsed Time: 6 minutes and 5.87 seconds
Row with Unique_ID 'IR-86' has been updated.
Row with Unique_ID 'IR-87' has been updated.
Row with Unique_ID 'IR-88' has been updated.
Row with Unique_ID 'IR-89' has been updated.
Row with Unique_ID 'IR-90' has been updated.
Row with Unique_ID 'IR-91' has been updated.
Row with Unique_ID 'IR-92' has been updated.
Row with Unique_ID 'IR-93' has been updated.
Row with Unique_ID 'IR-94' has been updated.
Row with Unique_ID 'IR-95' has been updated.
Iteration: 70, Elapsed Time: 7 minutes and 3.27 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-96' has been updated.
Row with Unique_ID 'IR-97' has been updated.
Row with Unique_ID 'IR-98' has been updated.
Row with Unique_ID 'IR-99' has been updated.
Row with Unique_ID 'IR-100' has been updated.
Row with Unique_ID 'IR-101' has been updated.
Row with Unique_ID 'IR-102' has been updated.
Row with Unique_ID 'IR-103' has been updated.
Row with Unique_ID 'IR-104' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-105' has been updated.
Iteration: 80, Elapsed Time: 8 minutes and 9.49 seconds
Row with Unique_ID 'IR-106' has been updated.
Row with Unique_ID 'IR-107' has been updated.
Row with Unique_ID 'IR-108' has been updated.
Row with Unique_ID 'IR-109' has been updated.
Row with Unique_ID 'IR-110' has been updated.
Row with Unique_ID 'IR-111' has been updated.
Row with Unique_ID 'IR-112' has been updated.
Row with Unique_ID 'IR-113' has been updated.
Row with Unique_ID 'IR-114' has been updated.
Row with Unique_ID 'IR-115' has been updated.
Iteration: 90, Elapsed Time: 9 minutes and 21.62 seconds
Row with Unique_ID 'IR-116' has been updated.
Row with Unique_ID 'IR-117' has been updated.
Row with Unique_ID 'IR-118' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-119' has been updated.
Row with Unique_ID 'IR-120' has been updated.
Row with Unique_ID 'IR-121' has been updated.
Row with Unique_ID 'IR-122' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-123' has been updated.
Row with Unique_ID 'IR-124' has been updated.
Row with Unique_ID 'IR-125' has been updated.
Iteration: 100, Elapsed Time: 10 minutes and 32.10 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-126' has been updated.
Row with Unique_ID 'IR-127' has been updated.
Row with Unique_ID 'IR-128' has been updated.
Row with Unique_ID 'IR-129' has been updated.
Row with Unique_ID 'IR-130' has been updated.
Row with Unique_ID 'IR-131' has been updated.
Row with Unique_ID 'IR-132' has been updated.
Row with Unique_ID 'IR-133' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-134' has been updated.
Row with Unique_ID 'IR-135' has been updated.
Iteration: 110, Elapsed Time: 11 minutes and 42.66 seconds
Row with Unique_ID 'IR-136' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-137' has been updated.
Row with Unique_ID 'IR-138' has been updated.
Row with Unique_ID 'IR-139' has been updated.
Row with Unique_ID 'IR-140' has been updated.
Row with Unique_ID 'IR-141' has been updated.
Row with Unique_ID 'IR-142' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-143' has been updated.
Row with Unique_ID 'IR-144' has been updated.
Row with Unique_ID 'IR-145' has been updated.
Iteration: 120, Elapsed Time: 12 minutes and 50.56 seconds
Row with Unique_ID 'IR-146' has been updated.
Row with Unique_ID 'IR-147' has been updated.
Row with Unique_ID 'IR-148' has been updated.
Row with Unique_ID 'IR-149' has been updated.
Row with Unique_ID 'IR-150' has been updated.
Row with Unique_ID 'IR-151' has been updated.
Row with Unique_ID 'IR-152' has been updated.
Row with Unique_ID 'IR-153' has been updated.
Row with Unique_ID 'IR-154' has been updated.
Row with Unique_ID 'IR-155' has been updated.
Iteration: 130, Elapsed Time: 13 minutes and 49.14 seconds
Row with Unique_ID 'IR-156' has been updated.
Row with Unique_ID 'IR-157' has been updated.
Row with Unique_ID 'IR-158' has been updated.
Row with Unique_ID 'IR-159' has been updated.
Row with Unique_ID 'IR-160' has been updated.
Row with Unique_ID 'IR-161' has been updated.
Row with Unique_ID 'IR-162' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-163' has been updated.
Row with Unique_ID 'IR-164' has been updated.
Row with Unique_ID 'IR-165' has been updated.
Iteration: 140, Elapsed Time: 14 minutes and 57.72 seconds
Row with Unique_ID 'IR-166' has been updated.
Row with Unique_ID 'IR-167' has been updated.
Row with Unique_ID 'IR-168' has been updated.
Row with Unique_ID 'IR-169' has been updated.

Row with Unique_ID 'IR-170' has been updated.
Row with Unique_ID 'IR-171' has been updated.
Row with Unique_ID 'IR-172' has been updated.
Row with Unique_ID 'IR-173' has been updated.
Row with Unique_ID 'IR-174' has been updated.
Row with Unique_ID 'IR-175' has been updated.
Iteration: 150, Elapsed Time: 16 minutes and 5.13 seconds
Row with Unique_ID 'IR-176' has been updated.
Row with Unique_ID 'IR-177' has been updated.
Row with Unique_ID 'IR-178' has been updated.
Row with Unique_ID 'IR-179' has been updated.
Row with Unique_ID 'IR-180' has been updated.
Row with Unique_ID 'IR-181' has been updated.
Row with Unique_ID 'IR-182' has been updated.
Row with Unique_ID 'IR-183' has been updated.
Row with Unique_ID 'IR-184' has been updated.
Row with Unique_ID 'IR-185' has been updated.
Iteration: 160, Elapsed Time: 17 minutes and 2.65 seconds
Row with Unique_ID 'IR-186' has been updated.
Row with Unique_ID 'IR-187' has been updated.
Row with Unique_ID 'IR-188' has been updated.
Row with Unique_ID 'IR-189' has been updated.
Row with Unique_ID 'IR-190' has been updated.
Row with Unique_ID 'IR-191' has been updated.
Row with Unique_ID 'IR-192' has been updated.
Row with Unique_ID 'IR-193' has been updated.
Row with Unique_ID 'IR-194' has been updated.
Row with Unique_ID 'IR-195' has been updated.
Iteration: 170, Elapsed Time: 18 minutes and 5.23 seconds
Row with Unique_ID 'IR-196' has been updated.
Row with Unique_ID 'IR-197' has been updated.
Row with Unique_ID 'IR-198' has been updated.
Row with Unique_ID 'IR-199' has been updated.
Row with Unique_ID 'IR-200' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-201' has been updated.
Row with Unique_ID 'IR-202' has been updated.
Row with Unique_ID 'IR-203' has been updated.
Row with Unique_ID 'IR-204' has been updated.
Row with Unique_ID 'IR-205' has been updated.
Iteration: 180, Elapsed Time: 19 minutes and 4.68 seconds
Row with Unique_ID 'IR-206' has been updated.
Row with Unique_ID 'IR-207' has been updated.
Row with Unique_ID 'IR-208' has been updated.
Row with Unique_ID 'IR-209' has been updated.
Row with Unique_ID 'IR-210' has been updated.
Row with Unique_ID 'IR-211' has been updated.
Row with Unique_ID 'IR-212' has been updated.
Row with Unique_ID 'IR-213' has been updated.
Row with Unique_ID 'IR-214' has been updated.
Row with Unique_ID 'IR-215' has been updated.
Iteration: 190, Elapsed Time: 20 minutes and 5.03 seconds
Row with Unique_ID 'IR-216' has been updated.
Row with Unique_ID 'IR-217' has been updated.
Row with Unique_ID 'IR-218' has been updated.
Row with Unique_ID 'IR-219' has been updated.
Row with Unique_ID 'IR-220' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-221' has been updated.
Row with Unique_ID 'IR-222' has been updated.
Row with Unique_ID 'IR-223' has been updated.
Row with Unique_ID 'IR-224' has been updated.
Row with Unique_ID 'IR-225' has been updated.
Iteration: 200, Elapsed Time: 21 minutes and 2.45 seconds
Row with Unique_ID 'IR-226' has been updated.
Row with Unique_ID 'IR-227' has been updated.
Row with Unique_ID 'IR-228' has been updated.
Row with Unique_ID 'IR-229' has been updated.
Row with Unique_ID 'IR-230' has been updated.
Row with Unique_ID 'IR-231' has been updated.
Row with Unique_ID 'IR-232' has been updated.
Row with Unique_ID 'IR-233' has been updated.
Row with Unique_ID 'IR-234' has been updated.
Row with Unique_ID 'IR-235' has been updated.
Iteration: 210, Elapsed Time: 21 minutes and 53.53 seconds
Row with Unique_ID 'IR-236' has been updated.
Row with Unique_ID 'IR-237' has been updated.
Row with Unique_ID 'IR-238' has been updated.
Row with Unique_ID 'IR-239' has been updated.
Row with Unique_ID 'IR-240' has been updated.
Row with Unique_ID 'IR-241' has been updated.
Row with Unique_ID 'IR-242' has been updated.
Row with Unique_ID 'IR-243' has been updated.
Row with Unique_ID 'IR-244' has been updated.
Row with Unique_ID 'IR-245' has been updated.
Iteration: 220, Elapsed Time: 22 minutes and 54.30 seconds
Row with Unique_ID 'IR-246' has been updated.
Row with Unique_ID 'IR-247' has been updated.
Row with Unique_ID 'IR-248' has been updated.
Row with Unique_ID 'IR-249' has been updated.
Row with Unique_ID 'IR-250' has been updated.
Row with Unique_ID 'IR-251' has been updated.
Row with Unique_ID 'IR-252' has been updated.
Row with Unique_ID 'IR-253' has been updated.
Row with Unique_ID 'IR-254' has been updated.
Row with Unique_ID 'IR-255' has been updated.
Iteration: 230, Elapsed Time: 23 minutes and 46.68 seconds
Row with Unique_ID 'IR-256' has been updated.
Row with Unique_ID 'IR-257' has been updated.
Row with Unique_ID 'IR-258' has been updated.
Row with Unique_ID 'IR-259' has been updated.
Row with Unique_ID 'IR-260' has been updated.
Row with Unique_ID 'IR-261' has been updated.
Row with Unique_ID 'IR-262' has been updated.
Row with Unique_ID 'IR-263' has been updated.
Row with Unique_ID 'IR-264' has been updated.
Row with Unique_ID 'IR-265' has been updated.
Iteration: 240, Elapsed Time: 24 minutes and 38.37 seconds
Row with Unique_ID 'IR-266' has been updated.
Row with Unique_ID 'IR-267' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-268' has been updated.
Row with Unique_ID 'IR-269' has been updated.
Row with Unique_ID 'IR-270' has been updated.
Row with Unique_ID 'IR-271' has been updated.
Row with Unique_ID 'IR-272' has been updated.
Row with Unique_ID 'IR-273' has been updated.
Row with Unique_ID 'IR-274' has been updated.
Row with Unique_ID 'IR-275' has been updated.
Iteration: 250, Elapsed Time: 25 minutes and 50.85 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-276' has been updated.
Row with Unique_ID 'IR-277' has been updated.
Row with Unique_ID 'IR-278' has been updated.
Row with Unique_ID 'IR-279' has been updated.
Row with Unique_ID 'IR-280' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-281' has been updated.
Row with Unique_ID 'IR-282' has been updated.
Row with Unique_ID 'IR-283' has been updated.
Row with Unique_ID 'IR-284' has been updated.
Row with Unique_ID 'IR-285' has been updated.
Iteration: 260, Elapsed Time: 26 minutes and 58.24 seconds
Row with Unique_ID 'IR-286' has been updated.
Row with Unique_ID 'IR-287' has been updated.
Row with Unique_ID 'IR-288' has been updated.
Row with Unique_ID 'IR-289' has been updated.
Row with Unique_ID 'IR-290' has been updated.
Row with Unique_ID 'IR-291' has been updated.
Row with Unique_ID 'IR-292' has been updated.
Row with Unique_ID 'IR-293' has been updated.
Row with Unique_ID 'IR-294' has been updated.
Row with Unique_ID 'IR-295' has been updated.
Iteration: 270, Elapsed Time: 27 minutes and 52.03 seconds
Row with Unique_ID 'IR-296' has been updated.
Row with Unique_ID 'IR-297' has been updated.
Row with Unique_ID 'IR-298' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-299' has been updated.
Row with Unique_ID 'IR-300' has been updated.
Row with Unique_ID 'IR-301' has been updated.
Row with Unique_ID 'IR-302' has been updated.
Row with Unique_ID 'IR-303' has been updated.
Row with Unique_ID 'IR-304' has been updated.
Row with Unique_ID 'IR-305' has been updated.
Iteration: 280, Elapsed Time: 28 minutes and 49.83 seconds
Row with Unique_ID 'IR-306' has been updated.
Row with Unique_ID 'IR-307' has been updated.
Row with Unique_ID 'IR-308' has been updated.
Row with Unique_ID 'IR-309' has been updated.
Row with Unique_ID 'IR-310' has been updated.
Row with Unique_ID 'IR-311' has been updated.
Row with Unique_ID 'IR-312' has been updated.
Row with Unique_ID 'IR-313' has been updated.
Row with Unique_ID 'IR-314' has been updated.
Row with Unique_ID 'IR-315' has been updated.
Iteration: 290, Elapsed Time: 29 minutes and 58.70 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-316' has been updated.
Row with Unique_ID 'IR-317' has been updated.
Row with Unique_ID 'IR-318' has been updated.

Row with Unique_ID 'IR-319' has been updated.
Row with Unique_ID 'IR-320' has been updated.
Row with Unique_ID 'IR-321' has been updated.
Row with Unique_ID 'IR-322' has been updated.
Row with Unique_ID 'IR-323' has been updated.
Row with Unique_ID 'IR-324' has been updated.
Row with Unique_ID 'IR-325' has been updated.
Iteration: 300, Elapsed Time: 31 minutes and 5.08 seconds
Row with Unique_ID 'IR-326' has been updated.
Row with Unique_ID 'IR-327' has been updated.
Row with Unique_ID 'IR-328' has been updated.
Row with Unique_ID 'IR-329' has been updated.
Row with Unique_ID 'IR-330' has been updated.
Row with Unique_ID 'IR-331' has been updated.
Row with Unique_ID 'IR-332' has been updated.
Row with Unique_ID 'IR-333' has been updated.
Row with Unique_ID 'IR-334' has been updated.
Row with Unique_ID 'IR-335' has been updated.
Iteration: 310, Elapsed Time: 32 minutes and 3.69 seconds
Row with Unique_ID 'IR-336' has been updated.
Row with Unique_ID 'IR-337' has been updated.
Row with Unique_ID 'IR-338' has been updated.
Row with Unique_ID 'IR-339' has been updated.
Row with Unique_ID 'IR-340' has been updated.
Row with Unique_ID 'IR-341' has been updated.
Row with Unique_ID 'IR-342' has been updated.
Row with Unique_ID 'IR-343' has been updated.
Row with Unique_ID 'IR-344' has been updated.
Row with Unique_ID 'IR-345' has been updated.
Iteration: 320, Elapsed Time: 33 minutes and 2.80 seconds
Row with Unique_ID 'IR-346' has been updated.
Row with Unique_ID 'IR-347' has been updated.
Row with Unique_ID 'IR-348' has been updated.
Row with Unique_ID 'IR-349' has been updated.
Row with Unique_ID 'IR-350' has been updated.
Row with Unique_ID 'IR-351' has been updated.
Row with Unique_ID 'IR-352' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-353' has been updated.
Row with Unique_ID 'IR-354' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-355' has been updated.
Iteration: 330, Elapsed Time: 34 minutes and 23.89 seconds
Row with Unique_ID 'IR-356' has been updated.
Row with Unique_ID 'IR-357' has been updated.
Row with Unique_ID 'IR-358' has been updated.
Row with Unique_ID 'IR-359' has been updated.
Row with Unique_ID 'IR-360' has been updated.
Row with Unique_ID 'IR-361' has been updated.
Row with Unique_ID 'IR-362' has been updated.
Row with Unique_ID 'IR-363' has been updated.
Row with Unique_ID 'IR-364' has been updated.
Row with Unique_ID 'IR-365' has been updated.
Iteration: 340, Elapsed Time: 35 minutes and 19.65 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-366' has been updated.
Row with Unique_ID 'IR-367' has been updated.
Row with Unique_ID 'IR-368' has been updated.
Row with Unique_ID 'IR-369' has been updated.
Row with Unique_ID 'IR-370' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-371' has been updated.
Row with Unique_ID 'IR-372' has been updated.
Row with Unique_ID 'IR-373' has been updated.
Row with Unique_ID 'IR-374' has been updated.
Row with Unique_ID 'IR-375' has been updated.
Iteration: 350, Elapsed Time: 36 minutes and 23.97 seconds
Row with Unique_ID 'IR-376' has been updated.
Row with Unique_ID 'IR-377' has been updated.
Row with Unique_ID 'IR-378' has been updated.
Row with Unique_ID 'IR-379' has been updated.
Row with Unique_ID 'IR-380' has been updated.
Row with Unique_ID 'IR-381' has been updated.
Row with Unique_ID 'IR-382' has been updated.
Row with Unique_ID 'IR-383' has been updated.
Row with Unique_ID 'IR-384' has been updated.
Row with Unique_ID 'IR-385' has been updated.
Iteration: 360, Elapsed Time: 37 minutes and 31.63 seconds
Row with Unique_ID 'IR-386' has been updated.
Row with Unique_ID 'IR-387' has been updated.
Row with Unique_ID 'IR-388' has been updated.
Row with Unique_ID 'IR-389' has been updated.
Row with Unique_ID 'IR-390' has been updated.
Row with Unique_ID 'IR-391' has been updated.
Row with Unique_ID 'IR-392' has been updated.
Row with Unique_ID 'IR-393' has been updated.
Row with Unique_ID 'IR-394' has been updated.
Row with Unique_ID 'IR-395' has been updated.
Iteration: 370, Elapsed Time: 38 minutes and 37.50 seconds
Row with Unique_ID 'IR-396' has been updated.
Row with Unique_ID 'IR-397' has been updated.
Row with Unique_ID 'IR-398' has been updated.
Row with Unique_ID 'IR-399' has been updated.
Row with Unique_ID 'IR-400' has been updated.
Row with Unique_ID 'IR-401' has been updated.
Row with Unique_ID 'IR-402' has been updated.
Row with Unique_ID 'IR-403' has been updated.
Row with Unique_ID 'IR-404' has been updated.
Row with Unique_ID 'IR-405' has been updated.
Iteration: 380, Elapsed Time: 39 minutes and 46.47 seconds
Row with Unique_ID 'IR-406' has been updated.
Row with Unique_ID 'IR-407' has been updated.
Row with Unique_ID 'IR-408' has been updated.
Row with Unique_ID 'IR-409' has been updated.
Row with Unique_ID 'IR-410' has been updated.
Row with Unique_ID 'IR-411' has been updated.
Row with Unique_ID 'IR-412' has been updated.
Row with Unique_ID 'IR-413' has been updated.
Row with Unique_ID 'IR-414' has been updated.
Row with Unique_ID 'IR-415' has been updated.
Iteration: 390, Elapsed Time: 40 minutes and 53.99 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-416' has been updated.
Row with Unique_ID 'IR-417' has been updated.
Row with Unique_ID 'IR-418' has been updated.
Row with Unique_ID 'IR-419' has been updated.
Row with Unique_ID 'IR-420' has been updated.
Row with Unique_ID 'IR-421' has been updated.
Row with Unique_ID 'IR-422' has been updated.
Row with Unique_ID 'IR-423' has been updated.
Row with Unique_ID 'IR-424' has been updated.
Row with Unique_ID 'IR-425' has been updated.
Iteration: 400, Elapsed Time: 41 minutes and 58.65 seconds
Row with Unique_ID 'IR-426' has been updated.
Row with Unique_ID 'IR-427' has been updated.
Row with Unique_ID 'IR-428' has been updated.
Row with Unique_ID 'IR-429' has been updated.
Row with Unique_ID 'IR-430' has been updated.
Row with Unique_ID 'IR-431' has been updated.
Row with Unique_ID 'IR-432' has been updated.
Row with Unique_ID 'IR-433' has been updated.
Row with Unique_ID 'IR-434' has been updated.
Row with Unique_ID 'IR-435' has been updated.
Iteration: 410, Elapsed Time: 42 minutes and 56.39 seconds
Row with Unique_ID 'IR-436' has been updated.
Row with Unique_ID 'IR-437' has been updated.
Row with Unique_ID 'IR-438' has been updated.
Row with Unique_ID 'IR-439' has been updated.
Row with Unique_ID 'IR-440' has been updated.
Row with Unique_ID 'IR-441' has been updated.
Row with Unique_ID 'IR-442' has been updated.
Row with Unique_ID 'IR-443' has been updated.
Row with Unique_ID 'IR-444' has been updated.
Row with Unique_ID 'IR-445' has been updated.
Iteration: 420, Elapsed Time: 44 minutes and 1.20 seconds
Row with Unique_ID 'IR-446' has been updated.
Row with Unique_ID 'IR-447' has been updated.
Row with Unique_ID 'IR-448' has been updated.
Row with Unique_ID 'IR-449' has been updated.
Row with Unique_ID 'IR-450' has been updated.
Row with Unique_ID 'IR-451' has been updated.
Row with Unique_ID 'IR-452' has been updated.
Row with Unique_ID 'IR-453' has been updated.
Row with Unique_ID 'IR-454' has been updated.
Row with Unique_ID 'IR-455' has been updated.
Iteration: 430, Elapsed Time: 45 minutes and 6.03 seconds
Row with Unique_ID 'IR-456' has been updated.
Row with Unique_ID 'IR-457' has been updated.
Row with Unique_ID 'IR-458' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-459' has been updated.
Row with Unique_ID 'IR-460' has been updated.
Row with Unique_ID 'IR-461' has been updated.
Row with Unique_ID 'IR-462' has been updated.
Row with Unique_ID 'IR-463' has been updated.
Row with Unique_ID 'IR-464' has been updated.
Row with Unique_ID 'IR-465' has been updated.
Iteration: 440, Elapsed Time: 46 minutes and 30.08 seconds
Row with Unique_ID 'IR-466' has been updated.

Row with Unique_ID 'IR-467' has been updated.
Row with Unique_ID 'IR-468' has been updated.
Row with Unique_ID 'IR-469' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-470' has been updated.
Row with Unique_ID 'IR-471' has been updated.
Row with Unique_ID 'IR-472' has been updated.
Row with Unique_ID 'IR-473' has been updated.
Row with Unique_ID 'IR-474' has been updated.
Row with Unique_ID 'IR-475' has been updated.
Iteration: 450, Elapsed Time: 47 minutes and 35.05 seconds
Row with Unique_ID 'IR-476' has been updated.
Row with Unique_ID 'IR-477' has been updated.
Row with Unique_ID 'IR-478' has been updated.
Row with Unique_ID 'IR-479' has been updated.
Row with Unique_ID 'IR-480' has been updated.
Row with Unique_ID 'IR-481' has been updated.
Row with Unique_ID 'IR-482' has been updated.
Row with Unique_ID 'IR-483' has been updated.
Row with Unique_ID 'IR-484' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-485' has been updated.
Iteration: 460, Elapsed Time: 48 minutes and 39.87 seconds
Row with Unique_ID 'IR-486' has been updated.
Row with Unique_ID 'IR-487' has been updated.
Row with Unique_ID 'IR-488' has been updated.
Row with Unique_ID 'IR-489' has been updated.
Row with Unique_ID 'IR-490' has been updated.
Row with Unique_ID 'IR-491' has been updated.
Row with Unique_ID 'IR-492' has been updated.
Row with Unique_ID 'IR-493' has been updated.
Row with Unique_ID 'IR-494' has been updated.
Row with Unique_ID 'IR-495' has been updated.
Iteration: 470, Elapsed Time: 49 minutes and 51.98 seconds
Row with Unique_ID 'IR-496' has been updated.
Row with Unique_ID 'IR-497' has been updated.
Row with Unique_ID 'IR-498' has been updated.
Row with Unique_ID 'IR-499' has been updated.
Row with Unique_ID 'IR-500' has been updated.
Row with Unique_ID 'IR-501' has been updated.
Row with Unique_ID 'IR-502' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-503' has been updated.
Row with Unique_ID 'IR-504' has been updated.
Row with Unique_ID 'IR-505' has been updated.
Iteration: 480, Elapsed Time: 51 minutes and 5.37 seconds
Row with Unique_ID 'IR-506' has been updated.
Row with Unique_ID 'IR-507' has been updated.
Row with Unique_ID 'IR-508' has been updated.
Row with Unique_ID 'IR-509' has been updated.
Row with Unique_ID 'IR-510' has been updated.
Row with Unique_ID 'IR-511' has been updated.
Row with Unique_ID 'IR-512' has been updated.
Row with Unique_ID 'IR-513' has been updated.
Row with Unique_ID 'IR-514' has been updated.
Row with Unique_ID 'IR-515' has been updated.
Iteration: 490, Elapsed Time: 52 minutes and 13.95 seconds
Row with Unique_ID 'IR-516' has been updated.
Row with Unique_ID 'IR-517' has been updated.
Row with Unique_ID 'IR-518' has been updated.
Row with Unique_ID 'IR-519' has been updated.
Row with Unique_ID 'IR-520' has been updated.
Row with Unique_ID 'IR-521' has been updated.
Row with Unique_ID 'IR-522' has been updated.
Row with Unique_ID 'IR-523' has been updated.
Row with Unique_ID 'IR-524' has been updated.
Row with Unique_ID 'IR-525' has been updated.
Iteration: 500, Elapsed Time: 53 minutes and 11.73 seconds
Row with Unique_ID 'IR-526' has been updated.
Row with Unique_ID 'IR-527' has been updated.
Row with Unique_ID 'IR-528' has been updated.
Row with Unique_ID 'IR-529' has been updated.
Row with Unique_ID 'IR-530' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-531' has been updated.
Row with Unique_ID 'IR-532' has been updated.
Row with Unique_ID 'IR-533' has been updated.
Row with Unique_ID 'IR-534' has been updated.
Row with Unique_ID 'IR-535' has been updated.
Iteration: 510, Elapsed Time: 54 minutes and 37.41 seconds
Row with Unique_ID 'IR-536' has been updated.
Row with Unique_ID 'IR-537' has been updated.
Row with Unique_ID 'IR-538' has been updated.
Row with Unique_ID 'IR-539' has been updated.
Row with Unique_ID 'IR-540' has been updated.
Row with Unique_ID 'IR-541' has been updated.
Row with Unique_ID 'IR-542' has been updated.
Row with Unique_ID 'IR-543' has been updated.
Row with Unique_ID 'IR-544' has been updated.
Row with Unique_ID 'IR-545' has been updated.
Iteration: 520, Elapsed Time: 55 minutes and 35.66 seconds
Row with Unique_ID 'IR-546' has been updated.
Row with Unique_ID 'IR-547' has been updated.
Row with Unique_ID 'IR-548' has been updated.
Row with Unique_ID 'IR-549' has been updated.
Row with Unique_ID 'IR-550' has been updated.
Row with Unique_ID 'IR-551' has been updated.
Row with Unique_ID 'IR-552' has been updated.
Row with Unique_ID 'IR-553' has been updated.
Row with Unique_ID 'IR-554' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-555' has been updated.
Iteration: 530, Elapsed Time: 56 minutes and 39.99 seconds
Row with Unique_ID 'IR-556' has been updated.
Row with Unique_ID 'IR-557' has been updated.
Row with Unique_ID 'IR-558' has been updated.
Row with Unique_ID 'IR-559' has been updated.
Row with Unique_ID 'IR-560' has been updated.
Row with Unique_ID 'IR-561' has been updated.
Row with Unique_ID 'IR-562' has been updated.
Row with Unique_ID 'IR-563' has been updated.
Row with Unique_ID 'IR-564' has been updated.
Row with Unique_ID 'IR-565' has been updated.
Iteration: 540, Elapsed Time: 57 minutes and 34.62 seconds
Row with Unique_ID 'IR-566' has been updated.
Row with Unique_ID 'IR-567' has been updated.
Row with Unique_ID 'IR-568' has been updated.
Row with Unique_ID 'IR-569' has been updated.
Row with Unique_ID 'IR-570' has been updated.
Row with Unique_ID 'IR-571' has been updated.
Row with Unique_ID 'IR-572' has been updated.
Row with Unique_ID 'IR-573' has been updated.
Row with Unique_ID 'IR-574' has been updated.
Row with Unique_ID 'IR-575' has been updated.
Iteration: 550, Elapsed Time: 58 minutes and 36.58 seconds
Row with Unique_ID 'IR-576' has been updated.
Row with Unique_ID 'IR-577' has been updated.
Row with Unique_ID 'IR-578' has been updated.
Row with Unique_ID 'IR-579' has been updated.
Row with Unique_ID 'IR-580' has been updated.
Row with Unique_ID 'IR-581' has been updated.
Row with Unique_ID 'IR-582' has been updated.
Row with Unique_ID 'IR-583' has been updated.
Row with Unique_ID 'IR-584' has been updated.
Row with Unique_ID 'IR-585' has been updated.
Iteration: 560, Elapsed Time: 59 minutes and 42.90 seconds
Row with Unique_ID 'IR-586' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-587' has been updated.
Row with Unique_ID 'IR-588' has been updated.
Row with Unique_ID 'IR-589' has been updated.
Row with Unique_ID 'IR-590' has been updated.
Row with Unique_ID 'IR-591' has been updated.
Row with Unique_ID 'IR-592' has been updated.
Row with Unique_ID 'IR-593' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-594' has been updated.
Row with Unique_ID 'IR-595' has been updated.
Iteration: 570, Elapsed Time: 61 minutes and 7.96 seconds
Row with Unique_ID 'IR-596' has been updated.
Row with Unique_ID 'IR-597' has been updated.
Row with Unique_ID 'IR-598' has been updated.
Row with Unique_ID 'IR-599' has been updated.
Row with Unique_ID 'IR-600' has been updated.
Row with Unique_ID 'IR-601' has been updated.
Row with Unique_ID 'IR-602' has been updated.
Row with Unique_ID 'IR-603' has been updated.
Row with Unique_ID 'IR-604' has been updated.
Row with Unique_ID 'IR-605' has been updated.
Iteration: 580, Elapsed Time: 62 minutes and 18.75 seconds
Row with Unique_ID 'IR-606' has been updated.
Row with Unique_ID 'IR-607' has been updated.
Row with Unique_ID 'IR-608' has been updated.
Row with Unique_ID 'IR-609' has been updated.
Row with Unique_ID 'IR-610' has been updated.
Row with Unique_ID 'IR-611' has been updated.
Row with Unique_ID 'IR-612' has been updated.
Row with Unique_ID 'IR-613' has been updated.
Row with Unique_ID 'IR-614' has been updated.
Row with Unique_ID 'IR-615' has been updated.
Iteration: 590, Elapsed Time: 63 minutes and 25.31 seconds

Row with Unique_ID 'IR-616' has been updated.
Row with Unique_ID 'IR-617' has been updated.
Row with Unique_ID 'IR-618' has been updated.
Row with Unique_ID 'IR-619' has been updated.
Row with Unique_ID 'IR-620' has been updated.
Row with Unique_ID 'IR-621' has been updated.
Row with Unique_ID 'IR-622' has been updated.
Row with Unique_ID 'IR-623' has been updated.
Row with Unique_ID 'IR-624' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-625' has been updated.
Iteration: 600, Elapsed Time: 64 minutes and 43.16 seconds
Row with Unique_ID 'IR-626' has been updated.
Row with Unique_ID 'IR-627' has been updated.
Row with Unique_ID 'IR-628' has been updated.
Row with Unique_ID 'IR-629' has been updated.
Row with Unique_ID 'IR-630' has been updated.
Row with Unique_ID 'IR-631' has been updated.
Row with Unique_ID 'IR-632' has been updated.
Row with Unique_ID 'IR-633' has been updated.
Row with Unique_ID 'IR-634' has been updated.
Row with Unique_ID 'IR-635' has been updated.
Iteration: 610, Elapsed Time: 65 minutes and 42.38 seconds
Row with Unique_ID 'IR-636' has been updated.
Row with Unique_ID 'IR-637' has been updated.
Row with Unique_ID 'IR-638' has been updated.
Row with Unique_ID 'IR-639' has been updated.
Row with Unique_ID 'IR-640' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-641' has been updated.
Row with Unique_ID 'IR-642' has been updated.
Row with Unique_ID 'IR-643' has been updated.
Row with Unique_ID 'IR-644' has been updated.
Row with Unique_ID 'IR-645' has been updated.
Iteration: 620, Elapsed Time: 66 minutes and 47.95 seconds
Row with Unique_ID 'IR-646' has been updated.
Row with Unique_ID 'IR-647' has been updated.
Row with Unique_ID 'IR-648' has been updated.
Row with Unique_ID 'IR-649' has been updated.
Row with Unique_ID 'IR-650' has been updated.
Row with Unique_ID 'IR-651' has been updated.
Row with Unique_ID 'IR-652' has been updated.
Row with Unique_ID 'IR-653' has been updated.
Row with Unique_ID 'IR-654' has been updated.
Row with Unique_ID 'IR-655' has been updated.
Iteration: 630, Elapsed Time: 67 minutes and 55.40 seconds
Row with Unique_ID 'IR-656' has been updated.
Row with Unique_ID 'IR-657' has been updated.
Row with Unique_ID 'IR-658' has been updated.
Row with Unique_ID 'IR-659' has been updated.
Row with Unique_ID 'IR-660' has been updated.
Row with Unique_ID 'IR-661' has been updated.
Row with Unique_ID 'IR-662' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-663' has been updated.
Row with Unique_ID 'IR-664' has been updated.
Row with Unique_ID 'IR-665' has been updated.
Iteration: 640, Elapsed Time: 69 minutes and 4.17 seconds
Row with Unique_ID 'IR-666' has been updated.
Row with Unique_ID 'IR-667' has been updated.
Row with Unique_ID 'IR-668' has been updated.
Row with Unique_ID 'IR-669' has been updated.
Row with Unique_ID 'IR-670' has been updated.
Row with Unique_ID 'IR-671' has been updated.
Row with Unique_ID 'IR-672' has been updated.
Row with Unique_ID 'IR-673' has been updated.
Row with Unique_ID 'IR-674' has been updated.
Row with Unique_ID 'IR-675' has been updated.
Iteration: 650, Elapsed Time: 70 minutes and 9.77 seconds
Row with Unique_ID 'IR-676' has been updated.
Row with Unique_ID 'IR-677' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-678' has been updated.
Row with Unique_ID 'IR-679' has been updated.
Row with Unique_ID 'IR-680' has been updated.
Row with Unique_ID 'IR-681' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-682' has been updated.
Row with Unique_ID 'IR-683' has been updated.
Row with Unique_ID 'IR-684' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-685' has been updated.
Iteration: 660, Elapsed Time: 71 minutes and 34.10 seconds
Row with Unique_ID 'IR-686' has been updated.
Row with Unique_ID 'IR-687' has been updated.
Row with Unique_ID 'IR-688' has been updated.
Row with Unique_ID 'IR-689' has been updated.
Row with Unique_ID 'IR-690' has been updated.
Row with Unique_ID 'IR-691' has been updated.
Row with Unique_ID 'IR-692' has been updated.
Row with Unique_ID 'IR-693' has been updated.
Row with Unique_ID 'IR-694' has been updated.
Row with Unique_ID 'IR-695' has been updated.
Iteration: 670, Elapsed Time: 72 minutes and 46.33 seconds
Row with Unique_ID 'IR-696' has been updated.
Row with Unique_ID 'IR-697' has been updated.
Row with Unique_ID 'IR-698' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-699' has been updated.
Row with Unique_ID 'IR-700' has been updated.
Row with Unique_ID 'IR-701' has been updated.
Row with Unique_ID 'IR-702' has been updated.
Row with Unique_ID 'IR-703' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-704' has been updated.
Row with Unique_ID 'IR-705' has been updated.
Iteration: 680, Elapsed Time: 74 minutes and 0.29 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-706' has been updated.
Row with Unique_ID 'IR-707' has been updated.
Row with Unique_ID 'IR-708' has been updated.
Row with Unique_ID 'IR-709' has been updated.
Row with Unique_ID 'IR-710' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-711' has been updated.
Row with Unique_ID 'IR-712' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-713' has been updated.
Row with Unique_ID 'IR-714' has been updated.
Row with Unique_ID 'IR-715' has been updated.
Iteration: 690, Elapsed Time: 75 minutes and 20.57 seconds
Row with Unique_ID 'IR-716' has been updated.
Row with Unique_ID 'IR-717' has been updated.
Row with Unique_ID 'IR-718' has been updated.
Row with Unique_ID 'IR-719' has been updated.
Row with Unique_ID 'IR-720' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-721' has been updated.
Row with Unique_ID 'IR-722' has been updated.
Row with Unique_ID 'IR-723' has been updated.
Row with Unique_ID 'IR-724' has been updated.
Row with Unique_ID 'IR-725' has been updated.
Iteration: 700, Elapsed Time: 76 minutes and 30.59 seconds
Row with Unique_ID 'IR-726' has been updated.
Row with Unique_ID 'IR-727' has been updated.
Row with Unique_ID 'IR-728' has been updated.
Row with Unique_ID 'IR-729' has been updated.
Row with Unique_ID 'IR-730' has been updated.
Row with Unique_ID 'IR-731' has been updated.
Row with Unique_ID 'IR-732' has been updated.
Row with Unique_ID 'IR-733' has been updated.
Row with Unique_ID 'IR-734' has been updated.
Row with Unique_ID 'IR-735' has been updated.
Iteration: 710, Elapsed Time: 77 minutes and 27.34 seconds
Row with Unique_ID 'IR-736' has been updated.
Row with Unique_ID 'IR-737' has been updated.
Row with Unique_ID 'IR-738' has been updated.
Row with Unique_ID 'IR-739' has been updated.
Row with Unique_ID 'IR-740' has been updated.
Row with Unique_ID 'IR-741' has been updated.
Row with Unique_ID 'IR-742' has been updated.
Row with Unique_ID 'IR-743' has been updated.
Row with Unique_ID 'IR-744' has been updated.
Row with Unique_ID 'IR-745' has been updated.
Iteration: 720, Elapsed Time: 78 minutes and 29.94 seconds
Row with Unique_ID 'IR-746' has been updated.
Row with Unique_ID 'IR-747' has been updated.
Row with Unique_ID 'IR-748' has been updated.
Row with Unique_ID 'IR-749' has been updated.
Row with Unique_ID 'IR-750' has been updated.
Row with Unique_ID 'IR-751' has been updated.
Row with Unique_ID 'IR-752' has been updated.
Row with Unique_ID 'IR-753' has been updated.
Row with Unique_ID 'IR-754' has been updated.
Row with Unique_ID 'IR-755' has been updated.
Iteration: 730, Elapsed Time: 79 minutes and 26.90 seconds
Row with Unique_ID 'IR-756' has been updated.

Row with Unique_ID 'IR-757' has been updated.
Row with Unique_ID 'IR-758' has been updated.
Row with Unique_ID 'IR-759' has been updated.
Row with Unique_ID 'IR-760' has been updated.
Row with Unique_ID 'IR-761' has been updated.
Row with Unique_ID 'IR-762' has been updated.
Row with Unique_ID 'IR-763' has been updated.
Row with Unique_ID 'IR-764' has been updated.
Row with Unique_ID 'IR-765' has been updated.
Iteration: 740, Elapsed Time: 80 minutes and 27.09 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-766' has been updated.
Row with Unique_ID 'IR-767' has been updated.
Row with Unique_ID 'IR-768' has been updated.
Row with Unique_ID 'IR-769' has been updated.
Row with Unique_ID 'IR-770' has been updated.
Row with Unique_ID 'IR-771' has been updated.
Row with Unique_ID 'IR-772' has been updated.
Row with Unique_ID 'IR-773' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-774' has been updated.
Row with Unique_ID 'IR-775' has been updated.
Iteration: 750, Elapsed Time: 81 minutes and 54.54 seconds
Row with Unique_ID 'IR-776' has been updated.
Row with Unique_ID 'IR-777' has been updated.
Row with Unique_ID 'IR-778' has been updated.
Row with Unique_ID 'IR-779' has been updated.
Row with Unique_ID 'IR-780' has been updated.
Row with Unique_ID 'IR-781' has been updated.
Row with Unique_ID 'IR-782' has been updated.
Row with Unique_ID 'IR-783' has been updated.
Row with Unique_ID 'IR-784' has been updated.
Row with Unique_ID 'IR-785' has been updated.
Iteration: 760, Elapsed Time: 82 minutes and 54.19 seconds
Row with Unique_ID 'IR-786' has been updated.
Row with Unique_ID 'IR-787' has been updated.
Row with Unique_ID 'IR-788' has been updated.
Row with Unique_ID 'IR-789' has been updated.
Row with Unique_ID 'IR-790' has been updated.
Row with Unique_ID 'IR-791' has been updated.
Row with Unique_ID 'IR-792' has been updated.
Row with Unique_ID 'IR-793' has been updated.
Row with Unique_ID 'IR-794' has been updated.
Row with Unique_ID 'IR-795' has been updated.
Iteration: 770, Elapsed Time: 84 minutes and 0.95 seconds
Row with Unique_ID 'IR-796' has been updated.
Row with Unique_ID 'IR-797' has been updated.
Row with Unique_ID 'IR-798' has been updated.
Row with Unique_ID 'IR-799' has been updated.
Row with Unique_ID 'IR-800' has been updated.
Row with Unique_ID 'IR-801' has been updated.
Row with Unique_ID 'IR-802' has been updated.
Row with Unique_ID 'IR-803' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-804' has been updated.
Row with Unique_ID 'IR-805' has been updated.
Iteration: 780, Elapsed Time: 85 minutes and 8.96 seconds
Row with Unique_ID 'IR-806' has been updated.
Row with Unique_ID 'IR-807' has been updated.
Row with Unique_ID 'IR-808' has been updated.
Row with Unique_ID 'IR-809' has been updated.
Row with Unique_ID 'IR-810' has been updated.
Row with Unique_ID 'IR-811' has been updated.
Row with Unique_ID 'IR-812' has been updated.
Row with Unique_ID 'IR-813' has been updated.
Row with Unique_ID 'IR-814' has been updated.
Row with Unique_ID 'IR-815' has been updated.
Iteration: 790, Elapsed Time: 86 minutes and 7.93 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-816' has been updated.
Row with Unique_ID 'IR-817' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-818' has been updated.
Row with Unique_ID 'IR-819' has been updated.
Row with Unique_ID 'IR-820' has been updated.
Row with Unique_ID 'IR-821' has been updated.
Row with Unique_ID 'IR-822' has been updated.
Row with Unique_ID 'IR-823' has been updated.
Row with Unique_ID 'IR-824' has been updated.
Row with Unique_ID 'IR-825' has been updated.
Iteration: 800, Elapsed Time: 87 minutes and 30.19 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-826' has been updated.
Row with Unique_ID 'IR-827' has been updated.
Row with Unique_ID 'IR-828' has been updated.
Row with Unique_ID 'IR-829' has been updated.
Row with Unique_ID 'IR-830' has been updated.
Row with Unique_ID 'IR-831' has been updated.
Row with Unique_ID 'IR-832' has been updated.
Row with Unique_ID 'IR-833' has been updated.
Row with Unique_ID 'IR-834' has been updated.
Row with Unique_ID 'IR-835' has been updated.
Iteration: 810, Elapsed Time: 88 minutes and 39.01 seconds
Row with Unique_ID 'IR-836' has been updated.
Row with Unique_ID 'IR-837' has been updated.
Row with Unique_ID 'IR-838' has been updated.
Row with Unique_ID 'IR-839' has been updated.
Row with Unique_ID 'IR-840' has been updated.
Row with Unique_ID 'IR-841' has been updated.
Row with Unique_ID 'IR-842' has been updated.
Row with Unique_ID 'IR-843' has been updated.
Row with Unique_ID 'IR-844' has been updated.
Row with Unique_ID 'IR-845' has been updated.
Iteration: 820, Elapsed Time: 89 minutes and 45.91 seconds
Row with Unique_ID 'IR-846' has been updated.
Row with Unique_ID 'IR-847' has been updated.
Row with Unique_ID 'IR-848' has been updated.
Row with Unique_ID 'IR-849' has been updated.
Row with Unique_ID 'IR-850' has been updated.
Row with Unique_ID 'IR-851' has been updated.
Row with Unique_ID 'IR-852' has been updated.
Row with Unique_ID 'IR-853' has been updated.
Row with Unique_ID 'IR-854' has been updated.
Row with Unique_ID 'IR-855' has been updated.
Iteration: 830, Elapsed Time: 90 minutes and 51.36 seconds
Row with Unique_ID 'IR-856' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-857' has been updated.
Row with Unique_ID 'IR-858' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-859' has been updated.
Row with Unique_ID 'IR-860' has been updated.
Row with Unique_ID 'IR-861' has been updated.
Row with Unique_ID 'IR-862' has been updated.
Row with Unique_ID 'IR-863' has been updated.
Row with Unique_ID 'IR-864' has been updated.
Row with Unique_ID 'IR-865' has been updated.
Iteration: 840, Elapsed Time: 92 minutes and 11.30 seconds
Row with Unique_ID 'IR-866' has been updated.
Row with Unique_ID 'IR-867' has been updated.
Row with Unique_ID 'IR-868' has been updated.
Row with Unique_ID 'IR-869' has been updated.
Row with Unique_ID 'IR-870' has been updated.
Row with Unique_ID 'IR-871' has been updated.
Row with Unique_ID 'IR-872' has been updated.
Row with Unique_ID 'IR-873' has been updated.
Row with Unique_ID 'IR-874' has been updated.
Row with Unique_ID 'IR-875' has been updated.
Iteration: 850, Elapsed Time: 93 minutes and 18.19 seconds
Row with Unique_ID 'IR-876' has been updated.
Row with Unique_ID 'IR-877' has been updated.
Row with Unique_ID 'IR-878' has been updated.
Row with Unique_ID 'IR-879' has been updated.
Row with Unique_ID 'IR-880' has been updated.
Row with Unique_ID 'IR-881' has been updated.
Row with Unique_ID 'IR-882' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-883' has been updated.
Row with Unique_ID 'IR-884' has been updated.
Row with Unique_ID 'IR-885' has been updated.
Iteration: 860, Elapsed Time: 94 minutes and 29.46 seconds
Row with Unique_ID 'IR-886' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-887' has been updated.
Row with Unique_ID 'IR-888' has been updated.
Row with Unique_ID 'IR-889' has been updated.
Row with Unique_ID 'IR-890' has been updated.
Row with Unique_ID 'IR-891' has been updated.
Row with Unique_ID 'IR-892' has been updated.
Row with Unique_ID 'IR-893' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-894' has been updated.
Row with Unique_ID 'IR-895' has been updated.
Iteration: 870, Elapsed Time: 95 minutes and 49.44 seconds
Row with Unique_ID 'IR-896' has been updated.
Row with Unique_ID 'IR-897' has been updated.

Row with Unique_ID 'IR-898' has been updated.
Row with Unique_ID 'IR-899' has been updated.
Row with Unique_ID 'IR-900' has been updated.
Row with Unique_ID 'IR-901' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-902' has been updated.
Row with Unique_ID 'IR-903' has been updated.
Row with Unique_ID 'IR-904' has been updated.
Row with Unique_ID 'IR-905' has been updated.
Iteration: 880, Elapsed Time: 97 minutes and 8.49 seconds
Row with Unique_ID 'IR-906' has been updated.
Row with Unique_ID 'IR-907' has been updated.
Row with Unique_ID 'IR-908' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Error encountered: 'str' object has no attribute 'items'. Retry 3/5
Row with Unique_ID 'IR-909' has been updated.
Row with Unique_ID 'IR-910' has been updated.
Row with Unique_ID 'IR-911' has been updated.
Row with Unique_ID 'IR-912' has been updated.
Row with Unique_ID 'IR-913' has been updated.
Row with Unique_ID 'IR-914' has been updated.
Row with Unique_ID 'IR-915' has been updated.
Iteration: 890, Elapsed Time: 98 minutes and 28.71 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Error encountered: 'str' object has no attribute 'items'. Retry 3/5
Row with Unique_ID 'IR-916' has been updated.
Row with Unique_ID 'IR-917' has been updated.
Row with Unique_ID 'IR-918' has been updated.
Row with Unique_ID 'IR-919' has been updated.
Row with Unique_ID 'IR-920' has been updated.
Row with Unique_ID 'IR-921' has been updated.
Row with Unique_ID 'IR-922' has been updated.
Row with Unique_ID 'IR-923' has been updated.
Row with Unique_ID 'IR-924' has been updated.
Row with Unique_ID 'IR-925' has been updated.
Iteration: 900, Elapsed Time: 99 minutes and 52.30 seconds
Row with Unique_ID 'IR-926' has been updated.
Row with Unique_ID 'IR-927' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-928' has been updated.
Row with Unique_ID 'IR-929' has been updated.
Row with Unique_ID 'IR-930' has been updated.
Row with Unique_ID 'IR-931' has been updated.
Row with Unique_ID 'IR-932' has been updated.
Row with Unique_ID 'IR-933' has been updated.
Row with Unique_ID 'IR-934' has been updated.
Row with Unique_ID 'IR-935' has been updated.
Iteration: 910, Elapsed Time: 100 minutes and 56.80 seconds
Row with Unique_ID 'IR-936' has been updated.
Row with Unique_ID 'IR-937' has been updated.
Row with Unique_ID 'IR-938' has been updated.
Row with Unique_ID 'IR-939' has been updated.
Row with Unique_ID 'IR-940' has been updated.
Row with Unique_ID 'IR-941' has been updated.
Row with Unique_ID 'IR-942' has been updated.
Row with Unique_ID 'IR-943' has been updated.
Row with Unique_ID 'IR-944' has been updated.
Row with Unique_ID 'IR-945' has been updated.
Iteration: 920, Elapsed Time: 101 minutes and 59.11 seconds
Row with Unique_ID 'IR-946' has been updated.
Row with Unique_ID 'IR-947' has been updated.
Row with Unique_ID 'IR-948' has been updated.
Row with Unique_ID 'IR-949' has been updated.
Row with Unique_ID 'IR-950' has been updated.
Row with Unique_ID 'IR-951' has been updated.
Row with Unique_ID 'IR-952' has been updated.
Row with Unique_ID 'IR-953' has been updated.
Row with Unique_ID 'IR-954' has been updated.
Row with Unique_ID 'IR-955' has been updated.
Iteration: 930, Elapsed Time: 103 minutes and 0.54 seconds
Row with Unique_ID 'IR-956' has been updated.
Row with Unique_ID 'IR-957' has been updated.
Row with Unique_ID 'IR-958' has been updated.
Row with Unique_ID 'IR-959' has been updated.
Row with Unique_ID 'IR-960' has been updated.
Row with Unique_ID 'IR-961' has been updated.
Row with Unique_ID 'IR-962' has been updated.
Row with Unique_ID 'IR-963' has been updated.
Row with Unique_ID 'IR-964' has been updated.
Row with Unique_ID 'IR-965' has been updated.
Iteration: 940, Elapsed Time: 104 minutes and 9.95 seconds
Row with Unique_ID 'IR-966' has been updated.
Row with Unique_ID 'IR-967' has been updated.
Row with Unique_ID 'IR-968' has been updated.
Row with Unique_ID 'IR-969' has been updated.
Row with Unique_ID 'IR-970' has been updated.
Row with Unique_ID 'IR-971' has been updated.
Row with Unique_ID 'IR-972' has been updated.
Row with Unique_ID 'IR-973' has been updated.
Row with Unique_ID 'IR-974' has been updated.
Row with Unique_ID 'IR-975' has been updated.
Iteration: 950, Elapsed Time: 105 minutes and 15.75 seconds
Row with Unique_ID 'IR-976' has been updated.
Row with Unique_ID 'IR-977' has been updated.
Row with Unique_ID 'IR-978' has been updated.
Row with Unique_ID 'IR-979' has been updated.
Row with Unique_ID 'IR-980' has been updated.
Row with Unique_ID 'IR-981' has been updated.
Row with Unique_ID 'IR-982' has been updated.
Row with Unique_ID 'IR-983' has been updated.
Row with Unique_ID 'IR-984' has been updated.
Row with Unique_ID 'IR-985' has been updated.
Iteration: 960, Elapsed Time: 106 minutes and 18.95 seconds
Row with Unique_ID 'IR-986' has been updated.
Row with Unique_ID 'IR-987' has been updated.
Row with Unique_ID 'IR-988' has been updated.
Row with Unique_ID 'IR-989' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-990' has been updated.
Row with Unique_ID 'IR-991' has been updated.
Row with Unique_ID 'IR-992' has been updated.
Row with Unique_ID 'IR-993' has been updated.
Row with Unique_ID 'IR-994' has been updated.
Row with Unique_ID 'IR-995' has been updated.
Iteration: 970, Elapsed Time: 107 minutes and 30.96 seconds
Row with Unique_ID 'IR-996' has been updated.
Row with Unique_ID 'IR-997' has been updated.
Row with Unique_ID 'IR-998' has been updated.
Row with Unique_ID 'IR-999' has been updated.
Row with Unique_ID 'IR-1000' has been updated.
Row with Unique_ID 'IR-1001' has been updated.
Row with Unique_ID 'IR-1002' has been updated.
Row with Unique_ID 'IR-1003' has been updated.
Row with Unique_ID 'IR-1004' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-1005' has been updated.
Iteration: 980, Elapsed Time: 108 minutes and 44.06 seconds
Row with Unique_ID 'IR-1006' has been updated.
Row with Unique_ID 'IR-1007' has been updated.
Row with Unique_ID 'IR-1008' has been updated.
Row with Unique_ID 'IR-1009' has been updated.
Row with Unique_ID 'IR-1010' has been updated.
Row with Unique_ID 'IR-1011' has been updated.
Row with Unique_ID 'IR-1012' has been updated.
Row with Unique_ID 'IR-1013' has been updated.
Row with Unique_ID 'IR-1014' has been updated.
Row with Unique_ID 'IR-1015' has been updated.
Iteration: 990, Elapsed Time: 109 minutes and 56.05 seconds
Row with Unique_ID 'IR-1016' has been updated.
Row with Unique_ID 'IR-1017' has been updated.
Row with Unique_ID 'IR-1018' has been updated.
Row with Unique_ID 'IR-1019' has been updated.
Row with Unique_ID 'IR-1020' has been updated.
Row with Unique_ID 'IR-1021' has been updated.
Row with Unique_ID 'IR-1022' has been updated.
Row with Unique_ID 'IR-1023' has been updated.
Row with Unique_ID 'IR-1024' has been updated.
Row with Unique_ID 'IR-1025' has been updated.
Iteration: 1000, Elapsed Time: 111 minutes and 6.83 seconds
Row with Unique_ID 'IR-1026' has been updated.
Row with Unique_ID 'IR-1027' has been updated.
Row with Unique_ID 'IR-1028' has been updated.
Row with Unique_ID 'IR-1029' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-1030' has been updated.
Row with Unique_ID 'IR-1031' has been updated.
Row with Unique_ID 'IR-1032' has been updated.
Row with Unique_ID 'IR-1033' has been updated.
Row with Unique_ID 'IR-1034' has been updated.
Row with Unique_ID 'IR-1035' has been updated.
Iteration: 1010, Elapsed Time: 112 minutes and 14.61 seconds
Row with Unique_ID 'IR-1036' has been updated.
Row with Unique_ID 'IR-1037' has been updated.

Row with Unique_ID 'IR-1038' has been updated.
Row with Unique_ID 'IR-1039' has been updated.
Row with Unique_ID 'IR-1040' has been updated.
Row with Unique_ID 'IR-1041' has been updated.
Row with Unique_ID 'IR-1042' has been updated.
Row with Unique_ID 'IR-1043' has been updated.
Row with Unique_ID 'IR-1044' has been updated.
Row with Unique_ID 'IR-1045' has been updated.
Iteration: 1020, Elapsed Time: 113 minutes and 20.61 seconds
Row with Unique_ID 'IR-1046' has been updated.
Row with Unique_ID 'IR-1047' has been updated.
Row with Unique_ID 'IR-1048' has been updated.
Row with Unique_ID 'IR-1049' has been updated.
Row with Unique_ID 'IR-1050' has been updated.
Row with Unique_ID 'IR-1051' has been updated.
Row with Unique_ID 'IR-1052' has been updated.
Row with Unique_ID 'IR-1053' has been updated.
Row with Unique_ID 'IR-1054' has been updated.
Row with Unique_ID 'IR-1055' has been updated.
Iteration: 1030, Elapsed Time: 114 minutes and 34.96 seconds
Row with Unique_ID 'IR-1056' has been updated.
Row with Unique_ID 'IR-1057' has been updated.
Row with Unique_ID 'IR-1058' has been updated.
Row with Unique_ID 'IR-1059' has been updated.
Row with Unique_ID 'IR-1060' has been updated.
Row with Unique_ID 'IR-1061' has been updated.
Row with Unique_ID 'IR-1062' has been updated.
Row with Unique_ID 'IR-1063' has been updated.
Row with Unique_ID 'IR-1064' has been updated.
Row with Unique_ID 'IR-1065' has been updated.
Iteration: 1040, Elapsed Time: 115 minutes and 41.79 seconds
Row with Unique_ID 'IR-1066' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1067' has been updated.
Row with Unique_ID 'IR-1068' has been updated.
Row with Unique_ID 'IR-1069' has been updated.
Row with Unique_ID 'IR-1070' has been updated.
Row with Unique_ID 'IR-1071' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1072' has been updated.
Row with Unique_ID 'IR-1073' has been updated.
Row with Unique_ID 'IR-1074' has been updated.
Row with Unique_ID 'IR-1075' has been updated.
Iteration: 1050, Elapsed Time: 117 minutes and 4.63 seconds
Row with Unique_ID 'IR-1076' has been updated.
Row with Unique_ID 'IR-1077' has been updated.
Row with Unique_ID 'IR-1078' has been updated.
Row with Unique_ID 'IR-1079' has been updated.
Row with Unique_ID 'IR-1080' has been updated.
Row with Unique_ID 'IR-1081' has been updated.
Row with Unique_ID 'IR-1082' has been updated.
Row with Unique_ID 'IR-1083' has been updated.
Row with Unique_ID 'IR-1084' has been updated.
Row with Unique_ID 'IR-1085' has been updated.
Iteration: 1060, Elapsed Time: 118 minutes and 9.83 seconds
Row with Unique_ID 'IR-1086' has been updated.
Row with Unique_ID 'IR-1087' has been updated.
Row with Unique_ID 'IR-1088' has been updated.
Row with Unique_ID 'IR-1089' has been updated.
Row with Unique_ID 'IR-1090' has been updated.
Row with Unique_ID 'IR-1091' has been updated.
Row with Unique_ID 'IR-1092' has been updated.
Row with Unique_ID 'IR-1093' has been updated.
Row with Unique_ID 'IR-1094' has been updated.
Row with Unique_ID 'IR-1095' has been updated.
Iteration: 1070, Elapsed Time: 119 minutes and 12.89 seconds
Row with Unique_ID 'IR-1096' has been updated.
Row with Unique_ID 'IR-1097' has been updated.
Row with Unique_ID 'IR-1098' has been updated.
Row with Unique_ID 'IR-1099' has been updated.
Row with Unique_ID 'IR-1100' has been updated.
Row with Unique_ID 'IR-1101' has been updated.
Row with Unique_ID 'IR-1102' has been updated.
Row with Unique_ID 'IR-1103' has been updated.
Row with Unique_ID 'IR-1104' has been updated.
Row with Unique_ID 'IR-1105' has been updated.
Iteration: 1080, Elapsed Time: 120 minutes and 23.32 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1106' has been updated.
Row with Unique_ID 'IR-1107' has been updated.
Row with Unique_ID 'IR-1108' has been updated.
Row with Unique_ID 'IR-1109' has been updated.
Row with Unique_ID 'IR-1110' has been updated.
Row with Unique_ID 'IR-1111' has been updated.
Row with Unique_ID 'IR-1112' has been updated.
Row with Unique_ID 'IR-1113' has been updated.
Row with Unique_ID 'IR-1114' has been updated.
Row with Unique_ID 'IR-1115' has been updated.
Iteration: 1090, Elapsed Time: 121 minutes and 26.17 seconds
Row with Unique_ID 'IR-1116' has been updated.
Row with Unique_ID 'IR-1117' has been updated.
Row with Unique_ID 'IR-1118' has been updated.
Row with Unique_ID 'IR-1119' has been updated.
Row with Unique_ID 'IR-1120' has been updated.
Row with Unique_ID 'IR-1121' has been updated.
Row with Unique_ID 'IR-1122' has been updated.
Row with Unique_ID 'IR-1123' has been updated.
Row with Unique_ID 'IR-1124' has been updated.
Row with Unique_ID 'IR-1125' has been updated.
Iteration: 1100, Elapsed Time: 122 minutes and 38.91 seconds
Row with Unique_ID 'IR-1126' has been updated.
Row with Unique_ID 'IR-1127' has been updated.
Row with Unique_ID 'IR-1128' has been updated.
Row with Unique_ID 'IR-1129' has been updated.
Row with Unique_ID 'IR-1130' has been updated.
Row with Unique_ID 'IR-1131' has been updated.
Row with Unique_ID 'IR-1132' has been updated.
Row with Unique_ID 'IR-1133' has been updated.
Row with Unique_ID 'IR-1134' has been updated.
Row with Unique_ID 'IR-1135' has been updated.
Iteration: 1110, Elapsed Time: 123 minutes and 45.71 seconds
Row with Unique_ID 'IR-1136' has been updated.
Row with Unique_ID 'IR-1137' has been updated.
Row with Unique_ID 'IR-1138' has been updated.
Row with Unique_ID 'IR-1139' has been updated.
Row with Unique_ID 'IR-1140' has been updated.
Row with Unique_ID 'IR-1141' has been updated.
Row with Unique_ID 'IR-1142' has been updated.
Row with Unique_ID 'IR-1143' has been updated.
Row with Unique_ID 'IR-1144' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1145' has been updated.
Iteration: 1120, Elapsed Time: 125 minutes and 5.45 seconds
Row with Unique_ID 'IR-1146' has been updated.
Row with Unique_ID 'IR-1147' has been updated.
Row with Unique_ID 'IR-1148' has been updated.
Row with Unique_ID 'IR-1149' has been updated.
Row with Unique_ID 'IR-1150' has been updated.
Row with Unique_ID 'IR-1151' has been updated.
Row with Unique_ID 'IR-1152' has been updated.
Row with Unique_ID 'IR-1153' has been updated.
Row with Unique_ID 'IR-1154' has been updated.
Row with Unique_ID 'IR-1155' has been updated.
Iteration: 1130, Elapsed Time: 126 minutes and 25.66 seconds
Row with Unique_ID 'IR-1156' has been updated.
Row with Unique_ID 'IR-1157' has been updated.
Row with Unique_ID 'IR-1158' has been updated.
Row with Unique_ID 'IR-1159' has been updated.
Row with Unique_ID 'IR-1160' has been updated.
Row with Unique_ID 'IR-1161' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1162' has been updated.
Row with Unique_ID 'IR-1163' has been updated.
Row with Unique_ID 'IR-1164' has been updated.
Row with Unique_ID 'IR-1165' has been updated.
Iteration: 1140, Elapsed Time: 127 minutes and 35.22 seconds
Row with Unique_ID 'IR-1166' has been updated.
Row with Unique_ID 'IR-1167' has been updated.
Row with Unique_ID 'IR-1168' has been updated.
Row with Unique_ID 'IR-1169' has been updated.
Row with Unique_ID 'IR-1170' has been updated.
Row with Unique_ID 'IR-1171' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1172' has been updated.
Row with Unique_ID 'IR-1173' has been updated.
Row with Unique_ID 'IR-1174' has been updated.
Row with Unique_ID 'IR-1175' has been updated.
Iteration: 1150, Elapsed Time: 128 minutes and 52.16 seconds
Row with Unique_ID 'IR-1176' has been updated.
Row with Unique_ID 'IR-1177' has been updated.
Row with Unique_ID 'IR-1178' has been updated.
Row with Unique_ID 'IR-1179' has been updated.
Row with Unique_ID 'IR-1180' has been updated.
Row with Unique_ID 'IR-1181' has been updated.
Row with Unique_ID 'IR-1182' has been updated.
Row with Unique_ID 'IR-1183' has been updated.
Row with Unique_ID 'IR-1184' has been updated.
Row with Unique_ID 'IR-1185' has been updated.
Iteration: 1160, Elapsed Time: 129 minutes and 51.82 seconds

Row with Unique_ID 'IR-1186' has been updated.
Row with Unique_ID 'IR-1187' has been updated.
Row with Unique_ID 'IR-1188' has been updated.
Row with Unique_ID 'IR-1189' has been updated.
Row with Unique_ID 'IR-1190' has been updated.
Row with Unique_ID 'IR-1191' has been updated.
Row with Unique_ID 'IR-1192' has been updated.
Row with Unique_ID 'IR-1193' has been updated.
Row with Unique_ID 'IR-1194' has been updated.
Row with Unique_ID 'IR-1195' has been updated.
Iteration: 1170, Elapsed Time: 130 minutes and 56.64 seconds
Row with Unique_ID 'IR-1196' has been updated.
Row with Unique_ID 'IR-1197' has been updated.
Row with Unique_ID 'IR-1198' has been updated.
Row with Unique_ID 'IR-1199' has been updated.
Row with Unique_ID 'IR-1200' has been updated.
Row with Unique_ID 'IR-1201' has been updated.
Row with Unique_ID 'IR-1202' has been updated.
Row with Unique_ID 'IR-1203' has been updated.
Row with Unique_ID 'IR-1204' has been updated.
Row with Unique_ID 'IR-1205' has been updated.
Iteration: 1180, Elapsed Time: 132 minutes and 3.54 seconds
Row with Unique_ID 'IR-1206' has been updated.
Row with Unique_ID 'IR-1207' has been updated.
Row with Unique_ID 'IR-1208' has been updated.
Row with Unique_ID 'IR-1209' has been updated.
Row with Unique_ID 'IR-1210' has been updated.
Row with Unique_ID 'IR-1211' has been updated.
Row with Unique_ID 'IR-1212' has been updated.
Row with Unique_ID 'IR-1213' has been updated.
Row with Unique_ID 'IR-1214' has been updated.
Row with Unique_ID 'IR-1215' has been updated.
Iteration: 1190, Elapsed Time: 133 minutes and 10.34 seconds
Row with Unique_ID 'IR-1216' has been updated.
Row with Unique_ID 'IR-1217' has been updated.
Row with Unique_ID 'IR-1218' has been updated.
Row with Unique_ID 'IR-1219' has been updated.
Row with Unique_ID 'IR-1220' has been updated.
Row with Unique_ID 'IR-1221' has been updated.
Row with Unique_ID 'IR-1222' has been updated.
Row with Unique_ID 'IR-1223' has been updated.
Row with Unique_ID 'IR-1224' has been updated.
Row with Unique_ID 'IR-1225' has been updated.
Iteration: 1200, Elapsed Time: 134 minutes and 14.47 seconds
Row with Unique_ID 'IR-1226' has been updated.
Row with Unique_ID 'IR-1227' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1228' has been updated.
Row with Unique_ID 'IR-1229' has been updated.
Row with Unique_ID 'IR-1230' has been updated.
Row with Unique_ID 'IR-1231' has been updated.
Row with Unique_ID 'IR-1232' has been updated.
Row with Unique_ID 'IR-1233' has been updated.
Row with Unique_ID 'IR-1234' has been updated.
Row with Unique_ID 'IR-1235' has been updated.
Iteration: 1210, Elapsed Time: 135 minutes and 21.26 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1236' has been updated.
Row with Unique_ID 'IR-1237' has been updated.
Row with Unique_ID 'IR-1238' has been updated.
Row with Unique_ID 'IR-1239' has been updated.
Row with Unique_ID 'IR-1240' has been updated.
Row with Unique_ID 'IR-1241' has been updated.
Row with Unique_ID 'IR-1242' has been updated.
Row with Unique_ID 'IR-1243' has been updated.
Row with Unique_ID 'IR-1244' has been updated.
Row with Unique_ID 'IR-1245' has been updated.
Iteration: 1220, Elapsed Time: 136 minutes and 26.24 seconds
Row with Unique_ID 'IR-1246' has been updated.
Row with Unique_ID 'IR-1247' has been updated.
Row with Unique_ID 'IR-1248' has been updated.
Row with Unique_ID 'IR-1249' has been updated.
Row with Unique_ID 'IR-1250' has been updated.
Row with Unique_ID 'IR-1251' has been updated.
Row with Unique_ID 'IR-1252' has been updated.
Row with Unique_ID 'IR-1253' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1254' has been updated.
Row with Unique_ID 'IR-1255' has been updated.
Iteration: 1230, Elapsed Time: 137 minutes and 47.80 seconds
Row with Unique_ID 'IR-1256' has been updated.
Row with Unique_ID 'IR-1257' has been updated.
Row with Unique_ID 'IR-1258' has been updated.
Row with Unique_ID 'IR-1259' has been updated.
Row with Unique_ID 'IR-1260' has been updated.
Row with Unique_ID 'IR-1261' has been updated.
Row with Unique_ID 'IR-1262' has been updated.
Row with Unique_ID 'IR-1263' has been updated.
Row with Unique_ID 'IR-1264' has been updated.
Row with Unique_ID 'IR-1265' has been updated.
Iteration: 1240, Elapsed Time: 138 minutes and 51.65 seconds
Row with Unique_ID 'IR-1266' has been updated.
Row with Unique_ID 'IR-1267' has been updated.
Row with Unique_ID 'IR-1268' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1269' has been updated.
Row with Unique_ID 'IR-1270' has been updated.
Row with Unique_ID 'IR-1271' has been updated.
Row with Unique_ID 'IR-1272' has been updated.
Row with Unique_ID 'IR-1273' has been updated.
Row with Unique_ID 'IR-1274' has been updated.
Row with Unique_ID 'IR-1275' has been updated.
Iteration: 1250, Elapsed Time: 140 minutes and 3.62 seconds
Row with Unique_ID 'IR-1276' has been updated.
Row with Unique_ID 'IR-1277' has been updated.
Row with Unique_ID 'IR-1278' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1279' has been updated.
Row with Unique_ID 'IR-1280' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1281' has been updated.
Row with Unique_ID 'IR-1282' has been updated.
Row with Unique_ID 'IR-1283' has been updated.
Row with Unique_ID 'IR-1284' has been updated.
Row with Unique_ID 'IR-1285' has been updated.
Iteration: 1260, Elapsed Time: 141 minutes and 25.67 seconds
Row with Unique_ID 'IR-1286' has been updated.
Row with Unique_ID 'IR-1287' has been updated.
Row with Unique_ID 'IR-1288' has been updated.
Row with Unique_ID 'IR-1289' has been updated.
Row with Unique_ID 'IR-1290' has been updated.
Row with Unique_ID 'IR-1291' has been updated.
Row with Unique_ID 'IR-1292' has been updated.
Row with Unique_ID 'IR-1293' has been updated.
Row with Unique_ID 'IR-1294' has been updated.
Row with Unique_ID 'IR-1295' has been updated.
Iteration: 1270, Elapsed Time: 142 minutes and 33.90 seconds
Row with Unique_ID 'IR-1296' has been updated.
Row with Unique_ID 'IR-1297' has been updated.
Row with Unique_ID 'IR-1298' has been updated.
Row with Unique_ID 'IR-1299' has been updated.
Row with Unique_ID 'IR-1300' has been updated.
Row with Unique_ID 'IR-1301' has been updated.
Row with Unique_ID 'IR-1302' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1303' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1304' has been updated.
Row with Unique_ID 'IR-1305' has been updated.
Iteration: 1280, Elapsed Time: 143 minutes and 52.92 seconds
Row with Unique_ID 'IR-1306' has been updated.
Row with Unique_ID 'IR-1307' has been updated.
Row with Unique_ID 'IR-1308' has been updated.
Row with Unique_ID 'IR-1309' has been updated.
Row with Unique_ID 'IR-1310' has been updated.
Row with Unique_ID 'IR-1311' has been updated.
Row with Unique_ID 'IR-1312' has been updated.
Row with Unique_ID 'IR-1313' has been updated.
Row with Unique_ID 'IR-1314' has been updated.
Row with Unique_ID 'IR-1315' has been updated.
Iteration: 1290, Elapsed Time: 145 minutes and 1.71 seconds
Row with Unique_ID 'IR-1316' has been updated.
Row with Unique_ID 'IR-1317' has been updated.
Row with Unique_ID 'IR-1318' has been updated.
Row with Unique_ID 'IR-1319' has been updated.
Row with Unique_ID 'IR-1320' has been updated.
Row with Unique_ID 'IR-1321' has been updated.
Row with Unique_ID 'IR-1322' has been updated.
Row with Unique_ID 'IR-1323' has been updated.
Row with Unique_ID 'IR-1324' has been updated.
Row with Unique_ID 'IR-1325' has been updated.
Iteration: 1300, Elapsed Time: 146 minutes and 2.77 seconds
Row with Unique_ID 'IR-1326' has been updated.
Row with Unique_ID 'IR-1327' has been updated.
Row with Unique_ID 'IR-1328' has been updated.
Row with Unique_ID 'IR-1329' has been updated.
Row with Unique_ID 'IR-1330' has been updated.

Row with Unique_ID 'IR-1331' has been updated.
Row with Unique_ID 'IR-1332' has been updated.
Row with Unique_ID 'IR-1333' has been updated.
Row with Unique_ID 'IR-1334' has been updated.
Row with Unique_ID 'IR-1335' has been updated.
Iteration: 1310, Elapsed Time: 147 minutes and 11.35 seconds
Row with Unique_ID 'IR-1336' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1337' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1338' has been updated.
Row with Unique_ID 'IR-1339' has been updated.
Row with Unique_ID 'IR-1340' has been updated.
Row with Unique_ID 'IR-1341' has been updated.
Row with Unique_ID 'IR-1342' has been updated.
Row with Unique_ID 'IR-1343' has been updated.
Row with Unique_ID 'IR-1344' has been updated.
Row with Unique_ID 'IR-1345' has been updated.
Iteration: 1320, Elapsed Time: 148 minutes and 32.04 seconds
Row with Unique_ID 'IR-1346' has been updated.
Row with Unique_ID 'IR-1347' has been updated.
Row with Unique_ID 'IR-1348' has been updated.
Row with Unique_ID 'IR-1349' has been updated.
Row with Unique_ID 'IR-1350' has been updated.
Row with Unique_ID 'IR-1351' has been updated.
Row with Unique_ID 'IR-1352' has been updated.
Row with Unique_ID 'IR-1353' has been updated.
Row with Unique_ID 'IR-1354' has been updated.
Row with Unique_ID 'IR-1355' has been updated.
Iteration: 1330, Elapsed Time: 149 minutes and 36.03 seconds
Row with Unique_ID 'IR-1356' has been updated.
Row with Unique_ID 'IR-1357' has been updated.
Row with Unique_ID 'IR-1358' has been updated.
Row with Unique_ID 'IR-1359' has been updated.
Row with Unique_ID 'IR-1360' has been updated.
Row with Unique_ID 'IR-1361' has been updated.
Row with Unique_ID 'IR-1362' has been updated.
Row with Unique_ID 'IR-1363' has been updated.
Row with Unique_ID 'IR-1364' has been updated.
Row with Unique_ID 'IR-1365' has been updated.
Iteration: 1340, Elapsed Time: 150 minutes and 42.65 seconds
Row with Unique_ID 'IR-1366' has been updated.
Row with Unique_ID 'IR-1367' has been updated.
Row with Unique_ID 'IR-1368' has been updated.
Row with Unique_ID 'IR-1369' has been updated.
Row with Unique_ID 'IR-1370' has been updated.
Row with Unique_ID 'IR-1371' has been updated.
Row with Unique_ID 'IR-1372' has been updated.
Row with Unique_ID 'IR-1373' has been updated.
Row with Unique_ID 'IR-1374' has been updated.
Row with Unique_ID 'IR-1375' has been updated.
Iteration: 1350, Elapsed Time: 151 minutes and 45.27 seconds
Row with Unique_ID 'IR-1376' has been updated.
Row with Unique_ID 'IR-1377' has been updated.
Row with Unique_ID 'IR-1378' has been updated.
Row with Unique_ID 'IR-1379' has been updated.
Row with Unique_ID 'IR-1380' has been updated.
Row with Unique_ID 'IR-1381' has been updated.
Row with Unique_ID 'IR-1382' has been updated.
Row with Unique_ID 'IR-1383' has been updated.
Row with Unique_ID 'IR-1384' has been updated.
Row with Unique_ID 'IR-1385' has been updated.
Iteration: 1360, Elapsed Time: 152 minutes and 46.90 seconds
Row with Unique_ID 'IR-1386' has been updated.
Row with Unique_ID 'IR-1387' has been updated.
Row with Unique_ID 'IR-1388' has been updated.
Row with Unique_ID 'IR-1389' has been updated.
Row with Unique_ID 'IR-1390' has been updated.
Row with Unique_ID 'IR-1391' has been updated.
Row with Unique_ID 'IR-1392' has been updated.
Row with Unique_ID 'IR-1393' has been updated.
Row with Unique_ID 'IR-1394' has been updated.
Row with Unique_ID 'IR-1395' has been updated.
Iteration: 1370, Elapsed Time: 154 minutes and 0.39 seconds
Row with Unique_ID 'IR-1396' has been updated.
Row with Unique_ID 'IR-1397' has been updated.
Row with Unique_ID 'IR-1398' has been updated.
Row with Unique_ID 'IR-1399' has been updated.
Row with Unique_ID 'IR-1400' has been updated.
Row with Unique_ID 'IR-1401' has been updated.
Row with Unique_ID 'IR-1402' has been updated.
Row with Unique_ID 'IR-1403' has been updated.
Row with Unique_ID 'IR-1404' has been updated.
Row with Unique_ID 'IR-1405' has been updated.
Iteration: 1380, Elapsed Time: 155 minutes and 8.12 seconds
Row with Unique_ID 'IR-1406' has been updated.
Row with Unique_ID 'IR-1407' has been updated.
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 1/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 2/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 3/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 4/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 5/5
Failed to process unique_id IR-1408 after 5 attempts. Stopping.