# Import Libraries and Clone Github

In [1]:
# Import Libraries
import os
import re
import time
import pandas as pd
import google.generativeai as genai

In [2]:
# Global Variables
CATEGORIES = [
        "Finance",
        "Production",
        "Reserves / Exploration / Acquisitions / Mergers / Divestments",
        "Environment / Regulatory / Geopolitics",
        "Alternative Energy / Lower Carbon",
        "Oil Price / Natural Gas Price / Gasoline Price"]
SENTIMENT_RESULTS_FILE_PATH = 'Prompt1_Bias_Check_Sentiment_Analysis_Results.csv'

# Import Data

In [3]:
# Import all cleaned data files
invest_df1 = pd.read_csv('../02_Cleaned_Data/Investment_Research_Part1.csv')
invest_df2 = pd.read_csv('../02_Cleaned_Data/Investment_Research_Part2.csv')
proquest_df = pd.read_csv('../02_Cleaned_Data/ProQuest_Articles.csv')
earnings_presentations = pd.read_csv('../02_Cleaned_Data/Earnings_Presentations.csv')
earnings_qa = pd.read_csv('../02_Cleaned_Data/Earnings_QA.csv')
sec_df = pd.read_csv('../02_Cleaned_Data/SEC_Filings.csv')

# Merge into single df
text_df = pd.concat([invest_df1, invest_df2, proquest_df, sec_df, earnings_presentations, earnings_qa], ignore_index=True)
display(text_df.shape)
display(text_df.head())
display(text_df.tail())

(10053, 7)

,Source,Unique_ID,Ticker,Date,Article Headline,Article Text,URL
0,Investment Research,IR-1,MRO,2024-05-16,Marathon Oil Corporation,"Stock Report | May 16, 2024 | NYSESymbol: MRO ...",NaN
1,Investment Research,IR-2,EOG,2024-05-14,"EOG Resources, Inc.","Stock Report | May 14, 2024 | NYSESymbol: EOG ...",NaN
2,Investment Research,IR-3,EOG,2024-05-11,"EOG Resources, Inc.","Stock Report | May 11, 2024 | NYSESymbol: EOG ...",NaN
3,Investment Research,IR-4,DVN,2024-05-11,Devon Energy Corporation,"Stock Report | May 11, 2024 | NYSESymbol: DVN ...",NaN
4,Investment Research,IR-5,COP,2024-05-07,ConocoPhillips,"Stock Report | May 07, 2024 | NYSESymbol: COP ...",NaN

,Source,Unique_ID,Ticker,Date,Article Headline,Article Text,URL
10048,Earnings Call Q&A,EQ-338,XOM,2021-02-02,"Exxon Mobil Corporation, Q4 2020 Earnings Call...",Question and Answer\nOperator\n[Operator Instr...,NaN
10049,Earnings Call Q&A,EQ-339,COP,2021-02-02,"ConocoPhillips, Q4 2020 Earnings Call, Feb 02,...",Question and Answer\nOperator\n[Operator Instr...,NaN
10050,Earnings Call Q&A,EQ-340,EOG,2019-05-03,"EOG Resources, Inc., Q1 2019 Earnings Call, Ma...",Question and Answer\nOperator\n[Operator Instr...,NaN
10051,Earnings Call Q&A,EQ-341,SHEL,2019-05-02,"Royal Dutch Shell plc, Q1 2019 Earnings Call, ...",Question and Answer\nOperator\n[Operator Instr...,NaN
10052,Earnings Call Q&A,EQ-342,COP,2019-04-30,"ConocoPhillips, Q1 2019 Earnings Call, Apr 30,...",Question and Answer\nOperator\n[Operator Instr...,NaN

In [4]:
# Drop rows google gemini will not process
rows_to_drop = ['PQ-2840736837']
index_to_drops = text_df[text_df['Unique_ID'].isin(rows_to_drop)].index
text_df.drop(index_to_drops, inplace=True)
print(index_to_drops)

Index([5379], dtype='int64')

# Find or Create Results CSV

In [5]:
# Determine if the Sentiment Analysis Results file already exists
file_exists = os.path.isfile(SENTIMENT_RESULTS_FILE_PATH)

# Print the result
if file_exists:
    print(f"The file exists in the current directory.")
else:
    print(f"The file does not exist in the current directory.")

The file exists in the current directory.

In [6]:
# Create an empty file if the file does not exist
if not file_exists:
    # Copy text df and drop the text and headline column due to size
    empty_sentiment_df = text_df.copy()
    empty_sentiment_df = empty_sentiment_df.drop(['Article Text', 'Article Headline'], axis=1)

    for category in CATEGORIES:
        empty_sentiment_df[category] = ""
        empty_sentiment_df[category] = empty_sentiment_df[category].astype('object')

    # Display results
    display(empty_sentiment_df.head())

    # Save as CSV
    empty_sentiment_df.to_csv(SENTIMENT_RESULTS_FILE_PATH, index=False)

### NOTE: If you want to re-run the sentiment analysis, delete or archive the csv to create a blank one

# Sentiment Analysis
NOTE: Google gemini **currently** has a daily query limit of 1,500 requests per day.  As we have over 10,000 documents, the code will be designed to run over multiple days and pick up where we last left off.  After the code is run, the user will still need to manually download the csv and upload to github.

**Gemini Free Rate Limits**
*   15 RPM (requests per minute)
*   1 million TPM (tokens per minute)
*   1,500 RPD (requests per day)

In [7]:
# Set up Gemini. (API key needs to be in your environment variables)
key = 'GOOGLE_API_KEY'
GOOGLE_API_KEY = os.getenv(key)
genai.configure(api_key=GOOGLE_API_KEY)

# So it doesn't block the output
safety_settings = [
    {
        "category": "HARM_CATEGORY_DANGEROUS",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_HARASSMENT",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_HATE_SPEECH",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
        "threshold": "BLOCK_NONE",},]

model = genai.GenerativeModel('gemini-1.5-flash-latest', safety_settings=safety_settings)

In [8]:
# Function to find the first empty row of the csv
def find_first_unique_id_with_empty_values(file_path, categories):
    """
    Finds the first unique ID where any of the specified columns have empty values in a CSV file.

    Args:
        file_path (str): The path to the CSV file.
        categories (list of str): List of column names to check for empty values.

    Returns:
        str: The first Unique_ID where any of the specified columns have empty values.
        None: If no such row is found.
    """

    # Load the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Iterate over each row to find the first unique ID with any empty values in the specified columns
    for index, row in df.iterrows():
        if row[categories].isnull().any() or (row[categories] == '').any():
            return row['Unique_ID']

    return None  # Return None if no such row is found

# Test function
unique_id = find_first_unique_id_with_empty_values(SENTIMENT_RESULTS_FILE_PATH, CATEGORIES)
print(unique_id)

IR-7

In [9]:
# Helper function to get Gemini query function inputs
def get_gemini_inputs(text_df, unique_id):
    """
    Retrieves information from the DataFrame based on the unique ID and outputs company, source, headline, and text.

    Args:
        text_df (pd.DataFrame): The DataFrame containing the text data.
        unique_id (str): The unique ID to search for.

    Returns:
        tuple: A tuple containing company, source, headline, and text.
    """
    # Find the row with the specified unique ID
    row = text_df[text_df['Unique_ID'] == unique_id]

    # Extract the required information
    company = row['Ticker'].values[0]
    source = row['Source'].values[0]
    headline = row['Article Headline'].values[0]
    text = row['Article Text'].values[0]

    return company, source, headline, text

# Test function
company, source, headline, text = get_gemini_inputs(text_df, unique_id)
print(f"Company: {company}\n")
print(f"Source: {source}\n")
print(f"Headline: {headline}\n")
print(f"Text:\n{text}")

Company: EOG

Source: Investment Research

Headline: EOG Resources, Inc.

Text:
Stock Report | May 06, 2024 | NYSESymbol: EOG | EOG is in the S&P 500
EOG Resources, Inc.
Recommendation Price 12-Mo. Target Price Report Currency Investment Style
BUY « « « « «
USD 130.02 (as of market close May 03, 2024) USD 150.00 USD Large-Cap Blend
Equity Analyst Stewart Glickman, CFA
GICS Sector Energy Summary One of the largest independent exploration and production companies in the world, EOG
Sub-Industry Oil and Gas Exploration and Production Resources focuses on onshore natural gas production in North America.
Key Stock Statistics (Source: CFRA, S&P Global Market Intelligence (SPGMI), Company Reports)
52-Wk Range USD 139.67 - 106.32 Oper.EPS2024E USD 11.79 Market Capitalization[B] USD 75.81 Beta 1.41
Trailing 12-Month EPS USD 11.69 Oper.EPS2025E USD 12.44 Yield [%] 2.76 3-yr Proj. EPS CAGR[%] 2
Trailing 12-Month P/E 11.12 P/E on Oper.EPS2024E 11.03 Dividend Rate/Share USD 3.64 SPGMI's Quality Ranking B
USD 10K Invested 5 Yrs Ago 18,364.0 Common Shares Outstg.[M] 581.00 Trailing 12-Month Dividend USD 4.97 Institutional Ownership [%] 92.0
Price Performance Update: please see the analyst's latest research note
in the research notes section
Analyst's Risk Assessment
LOW MEDIUM HIGH
Our risk assessment is based on EOG’s participation in a
very competitive, capital-intensive, and cyclical industry,
along with above-average Federal land exposure. These
risks are partly offset by our view of its significant net
acreage position, active drilling program, and history of
relatively low operating costs.
Revenue/Earnings Data
Revenue (Million USD)
1Q 2Q 3Q 4Q Year
2025 E 6,525 E 6,435 E 6,540 E 6,545 E 26,045
2024 6,123 E 6,175 E 6,275 E 6,450 E 25,023
2023 5,599 5,481 6,134 6,059 23,273
2022 6,778 8,687 7,632 6,513 29,610
Source: CFRA, S&P Global Market Intelligence
2021 4,067 4,515 5,258 5,937 19,777
Past performance is not an indication of future performance and should not be relied upon as such.
2020 3,496 1,216 2,321 2,901 9,934
Analysis prepared by Stewart Glickman, CFA on May 05, 2024 10:30 PM, when the stock traded at USD 130.02.
Earnings Per Share (USD)
Highlights Latest Analyst Research Notes
1Q 2Q 3Q 4Q Year
uThe 12-month target price has recently been May 05, 2024 2025 E 3.12 E 3.06 E 3.10 E 3.16 E 12.44
changed to USD 150.00 from USD 153.00. The 22:30 pm ET.. CFRA Keeps Buy Opinion on Shares 2024 2.82 E 2.95 E 3.00 E 3.02 E 11.79
Highlights section of this Stock Report will be of EOG Resources Inc. (EOG 130.02****) 2023 2.69 2.49 3.44 3.07 11.69
updated accordingly. Our 12-month target price of $150, cut $3, 2022 4.00 2.74 3.71 3.30 13.76
uThe Investment Rationale/Risk section of this reflects a 5.7x multiple of enterprise value to 2021 1.62 1.73 2.16 3.09 8.61
Stock Report will be updated shortly. For the projected ‘25 EBITDA, slightly above EOG’s 2020 0.55 -0.23 0.43 0.71 1.46
latest News story on EOG from MarketScope, historical forward average. We lift our ‘24 Fiscal Year ended Dec 31. EPS Estimates based on CFRA's
see aside. EPS estimate by $0.13 to $11.79, but cut ‘25’ by Operating Earnings; historical earnings are adjusted. In periods
$0.41 to $12.44. Q1 EPS of $2.82, vs. $2.69, beat where a different currency has been reported, this has been
the consensus view by $0.12. Although natural gas adjusted to match the current quoted currency.
prices look weak today (and will probably stay
weak through year-end), EOG is managing its Dividend Data
Dorado natural gas play with an eye towards the
Amount Date Ex-Div. Stk. of Payment
future, and we agree with management’s assertion
(USD) Decl. Date Record Date
that overseas LNG demand will drive incremental
growth in this asset over the longer term. EOG’s Q1 0.9100 Feb 22 Apr 15 Apr 16 Apr 30 '24
unit costs beat its internal target, and we think 0.9100 Nov 02 Jan 16 Jan 17 Jan 31 '24
management’s penchant for achieving high 1.5000 Nov 02 Dec 14 Dec 15 Dec 29 '23
returns as well as low costs will persist. We see 0.8250 Aug 03 Oct 16 Oct 17 Oct 31 '23
growth catalysts from the Permian, the Utica, and Dividends have been paid since 1990. Source: Company reports
Dorado. EOG’s dividend yields 4.0%, and we Past performance is not an indication of future performance
anticipate further capital allocation towards share and should not be relied as such.
buybacks as well. Forecasts are not a reliable indicator of future performance.
Dividends paid in currencies other than the Trading currency have
been accordingly converted for display purposes.
Redistribution or reproduction is prohibited without written permission. Copyright ©2024 CFRA. This document is not intended to provide personal investment advice and it does not take into account the specific investment
objectives, financial situation and the particular needs of any specific person who may receive this report. Investors should seek independent financial advice regarding the suitability and/or appropriateness of making an investment
or implementing the investment strategies discussed in this document and should understand that statements regarding future prospects may not be realized. Investors should note that income from such investments, if any,
may fluctuate and that the value of such investments may rise or fall. Accordingly, investors may receive back less than they originally invested. Investors should seek advice concerning any impact this investment may have on
their personal tax position from their own tax advisor. Please note the publication date of this document. It may contain specific information that is no longer current and should not be used to make an investment decision. Unless
otherwise indicated, there is no intention to update this document.
1
Stock Report | May 06, 2024 | NYSESymbol: EOG | EOG is in the S&P 500
EOG Resources, Inc.
Business Summary February 28, 2024 Corporate information
CORPORATE OVERVIEW. EOG Resources, Inc. (EOG), a Delaware corporation organized in 1985, together with Investor contact
its subsidiaries, explores for, develops, produces, and markets natural gas and crude oil primarily in major P. W. Hammond (713 651 7000)
producing basins in the U.S., Canada, offshore Trinidad, the U.K. North Sea, China, and other select regions.
Proved oil and gas reserves rose 6.1% in 2023 to 4,498 million barrels of oil equivalent (MMBOE; 67% liquids, Office
52% developed), helped by drilling and extensions along with an improvement in natural gas prices. About 1111 Bagby Street, Sky Lobby 2, Houston, Texas, 77002
99% of EOG’s 2023 proved reserves were in the U.S., and 1% were in Trinidad.
Telephone
Average daily production of 984,700 boe/d in 2023 was up 8.4% versus 2022, with liquids production up 713 651 7000
6.2% and natural gas production up 14%. For the 2023 fiscal year, EOG’s crude oil production achieved an
average realized price of $79.17 per barrel, down 19% from $79.21 per barrel in 2022. On its natural gas Fax
liquids (NGL) production, EOG’s average realized price of $23.07 per barrel was down 37% versus 2022, 713 651 6995
which we attribute to weaker demand from Asia. NGLs are often used in the manufacturing of plastics and
Website
consumer packaging, which were very strong in 2021 due to the pandemic (such as from higher demand for
www.eogresources.com
hand sanitizer bottles made using NGLs). EOG’s realized price on natural gas production ($2.79 per
thousand cubic feet) was down 60% from the $6.93/MMBtu in 2022. As of February 2024, the U.S. Energy
Information Administration (EIA) sees WTI crude oil prices averaging $78/barrel in 2024 and $75/barrel in Officers
2025. Senior VP and Chief Executive VP, General
Information & Technology Counsel & Corporate
CORPORATE STRATEGY. In 2024, EOG projects that it will complete 600 net wells, down from 640 net wells in
Officer Secretary
2023. The Delaware Basin represents the largest single area of focus for EOG in 2024 (360 well
S. Bhakhri M. P. Donaldson
completions), followed by South Texas (170) and the Rocky Mountains (40). Thus, two key regional plays
account for almost 90% of EOG’s planned activity in 2024. EOG considers itself the largest single producer in
CEO & Chairman Executive VP & CFO
the Eagle Ford. Although overall production in the Eagle Ford and Permian Basins were the key regions for
E. Y. Yacob A. D. Janssen
EOG in 2023, we estimate that natural gas production (as a share of total production) was relatively higher
in the Permian than in the Eagle Ford. We currently forecast that returns from liquids (crude oil and NGLs) VP & Chief Accounting President
will outperform those from natural gas. Officer L. W. Helms
Substantial portions of EOG’s reserves are in long-lived fields with well-established production L. B. Distefano
characteristics. EOG’s business strategy is to maximize the rate of return on investment of capital over the
Executive VP & COO
long term by controlling operating and capital costs and maximizing reserve recoveries. This strategy is
J. R. Leitzell
intended to enhance the generation of cash flow and earnings from each unit of production on a cost-
effective basis. In early 2016, EOG refined its liquids strategy and now focuses on a “premium drilling”
strategy. The company defines a premium well as one which can generate a direct after-tax rate of return Board Members
(ATROR) of at least 30% at $40 crude oil. The premium drilling strategy accounted for 50% of total wells in C. C. Gaut J. J. Robertson
2016 (owing, we believe, to already in-progress non-premium drilling before the premium strategy was
C. R. Crisp L. A. Dugle
delineated). For 2024, EOG is persisting with its ‘double premium’ strategy, whereby it seeks out well
D. F. Textor M. T. Kerr
locations that it thinks can achieve +60% ATRORs at the same WTI price assumption of $40 per barrel.
E. Y. Yacob R. P. Daniels
In February 2024, EOG guided to a capital spending range in 2023 of $6.0 billion-$6.4 billion, which is down
from 2023’s $6.8 billion on upstream development. We estimate that EOG can still generate a solid free cash J. F. Clark
flow surplus even at this level, should that occur, and we see production rising in the high-single digits in
2024.
Domicile Auditor
IMPACT OF MAJOR DEVELOPMENTS. We believe that the original shift to the premium drilling strategy was Delaware Deloitte & Touche LLP
predicated on the goal of driving production costs down to globally competitive levels and not merely to beat
the U.S. unconventional shale cost curve. At that time, EOG estimated it had 3,200 premium locations to Founded
drill, with the potential of 2 billion boe reserve. In November 2017, EOG updated that analysis, noting 8,000 1985
such locations with approximately 7.3 billion boe reserve potential. As of early 2023, EOG believes it has
Employees
more than 11,000 undrilled premium locations. We think EOG’s innovation with completion designs is
3,050
assisting on this front.
In the third quarter of 2020, EOG announced a dry gas find (Dorado) within the South Texas area. Dorado Stockholders
holds 1,250 premium well locations, or more than 10% of company-wide prospects. EOG views Dorado as 3,000
both low-cost and low-emission natural gas.
FINANCIAL TRENDS. Based on S&P Capital IQ consensus data as of February 2024, we estimate cash from
operations amounting to 183% of estimated capital spending in 2024, about 10 percentage points above
the peer average. EOG’s net debt to capital ratio of -4% at December 31 is considerably better than the 26%
+ peer average.
Redistribution or reproduction is prohibited without prior written permission. Copyright ©2024 CFRA. 2
Stock Report | May 06, 2024 | NYSESymbol: EOG | EOG is in the S&P 500
EOG Resources, Inc.
Quantitative Evaluations Expanded Ratio Analysis
Fair Value Rank 1 2 3 4 5 2023 2022 2021 2020
Lowest Highest Price/Sales 3.04 2.57 2.62 2.91
Based on CFRA's proprietary quantitative model, Price/Tangible Book Value 2.50 3.07 2.34 1.43
stocks are ranked from most overvalued (1) to most Price/Pretax Income 7.29 7.68 8.74 NM
undervalued (5). P/E Ratio 10.35 9.41 10.32 34.16
Avg. Diluted Shares Outstg. (M) 584.00 587.00 584.00 579.00
Fair Value USD Analysis of the stock’s current worth, based on CFRA’s
Calculation 158.36 proprietary quantitative model suggests that EOG is Figures based on fiscal year-end price
undervalued by USD 28.34 or 21.80%
Volatility LOW AVERAGE HIGH
Key Growth Rates and Averages
Technical BULLISH Since May, 2024, the technical indicators for EOG have
Past Growth Rate (%) 1 Year 3 Years 5 Years
Evaluation been BULLISH"
Net Income NM 132.40 17.30
Insider Activity UNFAVORABLE NEUTRAL FAVORABLE Revenue -21.40 32.81 6.15
Ratio Analysis (Annual Avg.)
Net Margin (%) 32.63 27.47 18.47
% LT Debt to Capitalization 10.99 13.35 14.58
Company Financials Fiscal year ending Dec 31
Per Share Data (USD) 2023 2022 2021 2020 2019 2018 2017 2016 2015 2014
Tangible Book Value 48.36 42.16 37.90 34.79 37.19 33.39 28.15 24.24 23.54 32.30
Free Cash Flow 8.87 10.45 8.50 2.66 3.01 2.93 0.25 -0.40 -2.60 0.74
Earnings 13.00 13.22 7.99 -1.04 4.71 5.89 4.46 -1.98 -8.29 5.32
Earnings (Normalized) 11.69 13.76 8.61 1.46 4.98 5.54 1.12 -1.61 0.06 4.95
Dividends 3.38 3.08 1.99 1.50 1.08 0.81 0.67 0.67 0.67 0.58
Payout Ratio (%) 22.18 18.54 19.96 NM 21.50 12.81 14.97 NM NM 9.59
Prices: High 137.95 150.88 98.20 89.54 107.89 133.53 109.66 109.37 101.36 118.89
Prices: Low 98.52 88.29 48.60 27.00 64.33 82.04 81.99 57.15 68.15 80.63
P/E Ratio: High 11.80 11.00 11.40 61.30 21.70 24.10 97.90 NM NM 24.00
P/E Ratio: Low 8.40 6.40 5.60 18.50 12.90 14.80 73.20 NM NM 16.30
Income Statement Analysis (Million USD)
Revenue 23,273 29,610 19,777 9,934 17,076 17,266 11,288 7,544 8,704 16,693
Depreciation + Amortization 3,661 3,868 3,981 5,140 4,177 3,730 3,844 4,098 9,927 4,741
Operating Expenses 1,457 6,667 3,261 1,716 1,704 1,814 1,544 1,478 7,504 1,302
Effective Tax Rate (%) 21.60 21.60 21.40 18.10 22.80 19.40 -290.60 29.60 34.60 41.60
Net Income 7,594 7,759 4,664 NM 2,735 3,419 2,583 NM NM 2,915
Net Income (Normalized) 6,017 6,161 3,718 NM 2,195 2,572 502.80 NM NM 2,805
Balance Sheet and Other Financial Data (Million USD)
Gross Property 78,561 72,954 73,140 70,141 68,076 61,551 56,516 53,601 54,600 50,254
Net Property 33,271 30,275 29,169 29,468 31,138 28,076 25,665 25,707 24,211 29,173
Capital Expenditures 6,185 5,000 3,850 3,465 6,422 6,076 4,124 2,583 5,013 8,247
Capital Expnd to Revenue (%) 26.60 16.90 19.50 34.90 37.60 35.20 36.50 34.20 57.60 49.40
% Long Term Debt of Capitalization 11.00 11.80 17.30 17.90 14.90 20.00 26.60 33.30 33.90 24.80
Capitalization: Common 28,090 24,779 22,180 20,302 21,641 19,364 16,283 13,982 12,943 17,713
Capitalization: Preferred N/A N/A N/A N/A N/A N/A N/A N/A N/A N/A
Fixed Charges Coverage 64.47 55.44 34.39 -0.67 19.82 17.72 3.90 -4.86 -28.13 23.50
% Operating Ratio 56.73 46.58 51.08 50.36 45.93 46.76 43.54 36.17 37.34 56.76
% Net Income Margin 32.63 26.20 23.58 -6.09 16.02 19.80 22.88 -14.54 -51.98 17.46
% Return on Invested Capital 18.74 21.09 13.88 -0.31 8.64 11.28 3.06 -4.22 -19.31 13.16
% Return on Common Equity 28.70 33.00 22.00 -2.90 13.30 19.20 17.10 -8.10 -29.50 17.60
Source: S&P Global Market Intelligence. Data may be preliminary or restated; before results of discontinued operations/special items. Per share data adjusted for stock dividends; EPS diluted.
E-Estimated. NA-Not Available. NM-Not Meaningful. NR-Not Ranked. UR-Under Review.
Redistribution or reproduction is prohibited without prior written permission. Copyright ©2024 CFRA. 3
Stock Report | May 06, 2024 | NYSESymbol: EOG | EOG is in the S&P 500
EOG Resources, Inc.
Sub-Industry Outlook Industry Performance
Our fundamental outlook for the oil & gas earnings power relative to most of the prior GICS Sector:Energy
exploration and production (E&P) sub-industry for decade, but not as strong as in the 2022 peak. Sub-Industry:Oil and Gas Exploration and Production
the next 12 months is neutral, recently cut from Most E&Ps today feature strong balance Based on S&P 1500 Indexes
positive. We had previously thought that sheets, their cost structures are in good shape, Five-Year market price performance through May 04, 2024
disciplined cuts from key producing nations should and the conservative approach to spending
be able to blunt demand weakness that may occur should yield strong free cash flows. As a result,
in 2024. We now, however, see more question we still expect E&Ps to support dividend and
marks on both counts. buyback programs, augmented by modest
On the supply side, the OPEC cartel lost Angola as capex growth.
a member, and the December 2023 OPEC meeting Commercial crude inventories stood at 429.9
ended poorly, in our view, with no collective million barrels in early January 2024, 3% below
agreement on voluntary cuts beyond quotas. It is the five-year average for this time of year. The
not out of the realm of possibility that OPEC crude oil futures curve is currently in only slight
discipline - which has been remarkably strong backwardation, which does not really
since the onset of Covid-19 - could begin to wane incentivize further storage.
if cartel members grow tired of voluntary cuts, The U.S. EIA noted that the U.S. working gas in
particularly while U.S. production rises. On the storage stood at 3.18 tcf as of mid January
demand side, China remains the linchpin for global 2024, 11% above the five-year average for this
incremental demand growth, and the early 2024 time. The EIA also projects Henry Hub natural
consensus estimate on China’s real GDP growth in gas prices to average $2.66/MMBtu in 2023
2024 is a mere 4.6%, per NikkeiAsia, down 60 bps (slightly above the average of $2.54/MMBtu in
from 2023. Meanwhile, the International Energy 2023), rising to $2.95/MMBtu in 2025.
Agency sees crude oil demand growth of 1.2 mmb/
In 2023, the S&P Oil & Gas Exploration &
d in 2024 (+1.2%), roughly in line with normalized
Production Index was down 3.0% versus a
demand growth. While it is possible for global
23.4% gain in the S&P 1500 Composite Index.
demand growth to be typical even if China’s GDP
disappoints, we think this may be challenging. / Stewart Glickman, CFA
For U.S. West Texas Intermediate (WTI) crude, we
think an overall average in the $75 to $80 per
barrel (/b) range for 2024 as a whole (versus $78/
b in 2023) is viable. U.S. producers continue to
show a preference for free cash flow growth over
production growth, although we do expect the U.S. NOTE: A sector chart appears when the sub-industry does not have
sufficient historical index data.
to eke out a small increase in domestic
All Sector & Sub-Industry information is based on the Global Industry
production, likely 300,000 b/d to an estimated
Classification Standard (GICS).
13.2 mmb/d. For U.S. natural gas, we think prices
Past performance is not an indication of future performance and should
will improve marginally, but remain below $3.00
not be relied upon as such.
per million BTU in 2024. We do not bake in a
Source: CFRA, S&P Global Market Intelligence
substantial geopolitical risk premium for energy
prices, unless the Israel-Gaza war spreads to Iran
and adversely affects Iran’s crude oil production
(currently 3.2 mmb/d).
E&Ps in 2024 should see a flattish earnings
profile, albeit at a relatively high level. We think
both 2023 and 2024 will ultimately exhibit strong
Sub-Industry: Oil and Gas Exploration and Production Peer Group*: Oil and Gas Exploration and Production
Recent 30-Day 1-Year Fair Return
Stock Stock Stk. Mkt. Price Price P/E Value Yield on Equity LTD to
Peer Group Symbol Exchange Currency Price Cap. (M) Chg. (%) Chg. (%) Ratio Calc. (%) (%) Cap (%)
EOG Resources, Inc. EOG NYSE USD 131.80 75,813.0 -0.3 18.7 11.0 158.36 2.8 28.7 11.0
Canadian Natural Resources Limited CNQ NYSE USD 74.86 80,264.0 -4.2 33.3 13.0 72.23 5.6 21.1 18.8
Coterra Energy Inc. CTRA NYSE USD 27.16 20,420.0 -4.0 12.7 12.0 34.98 3.1 12.6 10.2

In [10]:
# Function to query Gemini
def query_gemini(company, source, headline, text, model):
    """
    Query Gemini to perform sentiment analysis on text from various sources about a company.

    Parameters:
    company (str): The name of the company the text is about.
    source (str): The source of the text. Valid values are "Investment Research", "ProQuest", "SEC Filings", "Earnings Call Presentations", "Earnings Call Q&A".
    headline (str): The headline or title of the text.
    text (str): The body of the text to be analyzed.
    model: The model object used to generate content and analyze the text.

    Returns:
    str: The sentiment analysis results for predefined categories in the specified format.

    The function constructs a prompt based on the source of the text and performs sentiment analysis on the given text using the provided model.
    It analyzes the content across multiple predefined categories, determining the sentiment (Positive, Neutral, Negative) for each category.
    If a category is not mentioned or relevant based on the text content, it is marked as 'Neutral'.
    The final output is summarized in a specified format.
    """

    # Source Variables
    if source == "Investment Research":
        text_source = "an analyst report"
        text_source2 = "the analyst report"
    elif source == "ProQuest":
        text_source = "a news article"
        text_source2 = "the news article"
    elif source == "SEC Filings":
        text_source = "an SEC filing"
        text_source2 = "the SEC filing"
    elif source == "Earnings Call Presentations":
        text_source = "an earnings call presentation"
        text_source2 = "the earnings call presentation"
    elif source == "Earnings Call Q&A":
        text_source = "an earnings call Q&A session"
        text_source2 = "the earnings call Q&A session"

    # Prompt
    prompt = f"""
Given the text from {text_source} about {company}, analyze the content and perform sentiment analysis across multiple predefined categories.

Sentiment options:
  - Positive
  - Neutral
  - Negative

Categories:
  - Finance
  - Production
  - Reserves / Exploration / Acquisitions / Mergers / Divestments
  - Environment / Regulatory / Geopolitics
  - Alternative Energy / Lower Carbon
  - Oil Price / Natural Gas Price / Gasoline Price

Each category should be evaluated and given a sentiment output derived from the text.
If a category is not mentioned or relevant based on the text content, mark it as 'Neutral'.

Before giving your answer, explain your reasoning and reference the article.
After going through all the categories, provide a summary in the following format:
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment

Example Output:
- Finance - Negative
- Production - Negative
- Reserves / Exploration / Acquisitions / Mergers / Divestments - Positive
- Environment / Regulatory / Geopolitics - Positive
- Alternative Energy / Lower Carbon - Negative
- Oil Price / Natural Gas Price / Gasoline Price - Negative

Make sure to use plain text, do not bold or bullet the output summary.

The text from {text_source2} is below:
{headline}
{text}

Remember to summarize your final answers in the following format exactly:
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment

Make sure to use plain text and stick to the given categories and sentiment options.
DO NOT bold or bullet the output summary.
    """

    # print(prompt)
    response = model.generate_content(prompt)
    return response.text

# Test function
response = query_gemini(company, source, headline, text, model)
print(response)

Here is a breakdown of the sentiment analysis for EOG Resources, Inc. based on the provided analyst report:

**Reasoning and References**

The sentiment analysis is derived from the report's overall tone, key phrases, and specific data points. For example, mentions of "strong free cash flow," "improving unit cost performance," and "disciplined approach to upstream capex" contribute to positive sentiment in the Finance category. Conversely, concerns about "demand weakness" and "geopolitical risk premiums" lead to a negative outlook in the Oil Price / Natural Gas Price / Gasoline Price category.

**Sentiment Analysis by Category**

- **Finance - Positive:** The report highlights EOG's strong financial position with mentions of "robust free cash flow," "low debt leverage," and a "healthy dividend yield." The analyst also expects EOG to generate a "solid free cash flow surplus" and anticipates continued dividend and buyback programs.
    - Reference: "Based on S&P Capital IQ consensus data as of February 2024, we estimate cash from operations amounting to 183% of estimated capital spending in 2024... EOG’s net debt to capital ratio of -4% at December 31 is considerably better than the 26% + peer average." (Page 2)
    - Reference: "EOG’s dividend yields 4.0%, and we anticipate further capital allocation towards share buybacks as well." (Page 1)

- **Production - Positive:** The report notes EOG's increased production in 2023, with specific mentions of growth in both liquids and natural gas. The analyst expects further production growth in 2024, albeit at a slower pace than in 2023.
    - Reference: "Average daily production of 984,700 boe/d in 2023 was up 8.4% versus 2022... We estimate that EOG can still generate a solid free cash flow surplus even at this level, should that occur, and we see production rising in the high-single digits in 2024." (Page 2)

- **Reserves / Exploration / Acquisitions / Mergers / Divestments - Positive:** The report emphasizes EOG's focus on premium drilling and its significant reserve potential. The analyst highlights EOG's "premium drilling" strategy and its success in finding new reserves, particularly the "Dorado dry gas find."
    - Reference: "In early 2016, EOG refined its liquids strategy and now focuses on a “premium drilling” strategy... As of early 2023, EOG believes it has more than 11,000 undrilled premium locations. We think EOG’s innovation with completion designs is assisting on this front." (Page 2)
    - Reference: "In the third quarter of 2020, EOG announced a dry gas find (Dorado) within the South Texas area. Dorado holds 1,250 premium well locations, or more than 10% of company-wide prospects." (Page 2)

- **Environment / Regulatory / Geopolitics - Neutral:** While the report mentions EOG's efforts to reduce emissions and its "low-emission natural gas" production, there is no significant discussion or analysis of environmental, regulatory, or geopolitical issues.
    - Reference: "EOG views Dorado as both low-cost and low-emission natural gas." (Page 2)

- **Alternative Energy / Lower Carbon - Neutral:** The report focuses solely on EOG's traditional oil and gas operations, with no mention of investments in renewable energy or other alternative energy sources.

- **Oil Price / Natural Gas Price / Gasoline Price - Negative:** The report expresses concerns about potential weakness in oil and gas prices. The analyst notes a "flattish earnings profile" for E&Ps in 2024, driven in part by "demand weakness" and a "geopolitical risk premium."
    - Reference: "We think both 2023 and 2024 will ultimately exhibit strong earnings power relative to most of the prior decade, but not as strong as in the 2022 peak." (Page 3)
    - Reference: "On the supply side, the OPEC cartel lost Angola as a member... It is not out of the realm of possibility that OPEC discipline could begin to wane... We do not bake in a substantial geopolitical risk premium for energy prices, unless the Israel-Gaza war spreads to Iran and adversely affects Iran’s crude oil production." (Page 3)

**Summary**

- Finance - Positive
- Production - Positive
- Reserves / Exploration / Acquisitions / Mergers / Divestments - Positive
- Environment / Regulatory / Geopolitics - Neutral
- Alternative Energy / Lower Carbon - Neutral
- Oil Price / Natural Gas Price / Gasoline Price - Negative

In [11]:
# Function to parse text
def parse_sentiment(text, categories):
    """
    Parses a given text for specified categories and their sentiments.

    Args:
        text (str): The input text containing categories and their sentiments.
        categories (list of str): List of category names to look for in the text.

    Returns:
        dict or str: A dictionary with categories as keys and their corresponding sentiments as values,
                     or "Did not find all categories" if any sentiment is not Positive, Neutral, or Negative.
    """
    results = {}
    valid_sentiments = {"Positive", "Neutral", "Negative"}

    for category in categories:
        # Create a regex pattern to match the format "- Category - Sentiment"
        # The category name is escaped to handle any special characters
        pattern = rf"- {re.escape(category)} - (\w+)"

        # Search for the pattern in the text
        match = re.search(pattern, text)

        # If a match is found, extract the sentiment and add it to the results dictionary
        if match:
            sentiment = match.group(1)
            if sentiment not in valid_sentiments:
                return "Did not find all categories"
            results[category] = sentiment
        else:
            return "Did not find all categories"

    return results

# Test function
fail_text = """
- Finance - Positive
- Production - Neutral
- Reserves / Exploration / Acquisitions / Mergers / Divestments - Bad
- Environment / Regulatory / Geopolitics - Neutral
- Alternative Energy / Lower Carbon - Positive
- Oil Price / Natural Gas Price / Gasoline Price - Neutral
"""

sentiment_dict = parse_sentiment(response, CATEGORIES)
fail_sentiment = parse_sentiment("fail_text", CATEGORIES)
print(sentiment_dict)
print(fail_sentiment)

{'Finance': 'Positive', 'Production': 'Positive', 'Reserves / Exploration / Acquisitions / Mergers / Divestments': 'Positive', 'Environment / Regulatory / Geopolitics': 'Neutral', 'Alternative Energy / Lower Carbon': 'Neutral', 'Oil Price / Natural Gas Price / Gasoline Price': 'Negative'}
Did not find all categories

In [12]:
# Function to update the csv
def update_csv(file_path, unique_id, sentiment_dict):
    """
    Updates the columns of a CSV file based on the unique ID and sentiment dictionary.

    Args:
        file_path (str): The path to the CSV file.
        unique_id (str): The unique ID of the row to be updated.
        sentiment_dict (dict): A dictionary with categories as keys and their corresponding sentiments as values.

    Returns:
        None
    """
    # Load the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Find the index of the row with the specified unique ID
    row_index = df[df['Unique_ID'] == unique_id].index

    # Update the columns based on the sentiment dictionary
    for category, sentiment in sentiment_dict.items():
        df.loc[row_index, category] = sentiment

    # Save the updated DataFrame back to the CSV file
    df.to_csv(file_path, index=False)
    print(f"Row with Unique_ID '{unique_id}' has been updated.")

# Test function
update_csv(SENTIMENT_RESULTS_FILE_PATH, unique_id, sentiment_dict)

Row with Unique_ID 'IR-7' has been updated.

In [13]:
start_time = time.time()
unique_id = find_first_unique_id_with_empty_values(SENTIMENT_RESULTS_FILE_PATH, CATEGORIES)
count = 0
max_tries = 5

# Iterate through the CSV using the functions
while unique_id:
    retries = 0
    success = False

    # There are multiple errors that can happen, many of them simply need another try
    while retries < max_tries and not success:
        try:
            # Get gemini inputs
            company, source, headline, text = get_gemini_inputs(text_df, unique_id)

            # Query Gemini
            response = query_gemini(company, source, headline, text, model)

            # Parse text
            sentiment_dict = parse_sentiment(response, CATEGORIES)

            # Update the csv
            update_csv(SENTIMENT_RESULTS_FILE_PATH, unique_id, sentiment_dict)

            success = True

        except Exception as e:
            retries += 1
            print(f"Error encountered: {e}. Retry {retries}/{max_tries}")

            if retries >= max_tries:
                print(f"Failed to process unique_id {unique_id} after {max_tries} attempts. Stopping.")
                # Exit both loops
                unique_id = None
                break

    if not success:
        break

    # Get an update every 10 rows
    count += 1
    if count % 10 == 0:
        elapsed_time = time.time() - start_time
        minutes, seconds = divmod(elapsed_time, 60)
        print(f"Iteration: {count}, Elapsed Time: {int(minutes)} minutes and {seconds:.2f} seconds")

    # Find the next empty row
    unique_id = find_first_unique_id_with_empty_values(SENTIMENT_RESULTS_FILE_PATH, CATEGORIES)

    # Test print statements
    # print(unique_id)
    # print(f"Company: {company}\n")
    # print(f"Source: {source}\n")
    # print(f"Headline: {headline}\n")
    # print(f"Text:\n{text}")
    # print(response)
    # print(sentiment_dict)

Row with Unique_ID 'IR-8' has been updated.
Row with Unique_ID 'IR-9' has been updated.
Row with Unique_ID 'IR-10' has been updated.
Row with Unique_ID 'IR-11' has been updated.
Row with Unique_ID 'IR-12' has been updated.
Row with Unique_ID 'IR-13' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-14' has been updated.
Row with Unique_ID 'IR-15' has been updated.
Row with Unique_ID 'IR-16' has been updated.
Row with Unique_ID 'IR-17' has been updated.
Iteration: 10, Elapsed Time: 1 minutes and 14.79 seconds
Row with Unique_ID 'IR-18' has been updated.
Row with Unique_ID 'IR-19' has been updated.
Row with Unique_ID 'IR-20' has been updated.
Row with Unique_ID 'IR-21' has been updated.
Row with Unique_ID 'IR-22' has been updated.
Row with Unique_ID 'IR-23' has been updated.
Row with Unique_ID 'IR-24' has been updated.
Row with Unique_ID 'IR-25' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-26' has been updated.
Row with Unique_ID 'IR-27' has been updated.
Iteration: 20, Elapsed Time: 2 minutes and 31.57 seconds
Row with Unique_ID 'IR-28' has been updated.
Row with Unique_ID 'IR-29' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-30' has been updated.
Row with Unique_ID 'IR-31' has been updated.
Row with Unique_ID 'IR-32' has been updated.
Row with Unique_ID 'IR-33' has been updated.
Row with Unique_ID 'IR-34' has been updated.
Row with Unique_ID 'IR-35' has been updated.
Row with Unique_ID 'IR-36' has been updated.
Row with Unique_ID 'IR-37' has been updated.
Iteration: 30, Elapsed Time: 3 minutes and 41.07 seconds
Row with Unique_ID 'IR-38' has been updated.
Row with Unique_ID 'IR-39' has been updated.
Row with Unique_ID 'IR-40' has been updated.
Row with Unique_ID 'IR-41' has been updated.
Row with Unique_ID 'IR-42' has been updated.
Row with Unique_ID 'IR-44' has been updated.
Row with Unique_ID 'IR-45' has been updated.
Row with Unique_ID 'IR-46' has been updated.
Row with Unique_ID 'IR-47' has been updated.
Row with Unique_ID 'IR-48' has been updated.
Iteration: 40, Elapsed Time: 4 minutes and 47.70 seconds
Row with Unique_ID 'IR-49' has been updated.
Row with Unique_ID 'IR-50' has been updated.
Row with Unique_ID 'IR-51' has been updated.
Row with Unique_ID 'IR-52' has been updated.
Row with Unique_ID 'IR-53' has been updated.
Row with Unique_ID 'IR-54' has been updated.
Row with Unique_ID 'IR-55' has been updated.
Row with Unique_ID 'IR-56' has been updated.
Row with Unique_ID 'IR-57' has been updated.
Row with Unique_ID 'IR-58' has been updated.
Iteration: 50, Elapsed Time: 5 minutes and 57.58 seconds
Row with Unique_ID 'IR-59' has been updated.
Row with Unique_ID 'IR-60' has been updated.
Row with Unique_ID 'IR-61' has been updated.
Row with Unique_ID 'IR-62' has been updated.
Row with Unique_ID 'IR-63' has been updated.
Row with Unique_ID 'IR-64' has been updated.
Row with Unique_ID 'IR-65' has been updated.
Row with Unique_ID 'IR-66' has been updated.
Row with Unique_ID 'IR-67' has been updated.
Row with Unique_ID 'IR-68' has been updated.
Iteration: 60, Elapsed Time: 7 minutes and 1.72 seconds
Row with Unique_ID 'IR-69' has been updated.
Row with Unique_ID 'IR-70' has been updated.
Row with Unique_ID 'IR-71' has been updated.
Row with Unique_ID 'IR-72' has been updated.
Row with Unique_ID 'IR-73' has been updated.
Row with Unique_ID 'IR-74' has been updated.
Row with Unique_ID 'IR-75' has been updated.
Row with Unique_ID 'IR-76' has been updated.
Row with Unique_ID 'IR-77' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-78' has been updated.
Iteration: 70, Elapsed Time: 8 minutes and 20.97 seconds
Row with Unique_ID 'IR-79' has been updated.
Row with Unique_ID 'IR-80' has been updated.
Row with Unique_ID 'IR-81' has been updated.
Row with Unique_ID 'IR-82' has been updated.
Row with Unique_ID 'IR-83' has been updated.
Row with Unique_ID 'IR-84' has been updated.
Row with Unique_ID 'IR-85' has been updated.
Row with Unique_ID 'IR-86' has been updated.
Row with Unique_ID 'IR-87' has been updated.
Row with Unique_ID 'IR-88' has been updated.
Iteration: 80, Elapsed Time: 9 minutes and 39.56 seconds
Row with Unique_ID 'IR-89' has been updated.
Row with Unique_ID 'IR-90' has been updated.
Row with Unique_ID 'IR-91' has been updated.
Row with Unique_ID 'IR-92' has been updated.
Row with Unique_ID 'IR-93' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-94' has been updated.
Row with Unique_ID 'IR-95' has been updated.
Row with Unique_ID 'IR-96' has been updated.
Row with Unique_ID 'IR-97' has been updated.
Row with Unique_ID 'IR-98' has been updated.
Iteration: 90, Elapsed Time: 10 minutes and 57.89 seconds
Row with Unique_ID 'IR-99' has been updated.
Row with Unique_ID 'IR-100' has been updated.
Row with Unique_ID 'IR-101' has been updated.
Row with Unique_ID 'IR-102' has been updated.
Row with Unique_ID 'IR-103' has been updated.
Row with Unique_ID 'IR-104' has been updated.
Row with Unique_ID 'IR-105' has been updated.
Row with Unique_ID 'IR-106' has been updated.
Row with Unique_ID 'IR-107' has been updated.
Row with Unique_ID 'IR-108' has been updated.
Iteration: 100, Elapsed Time: 12 minutes and 4.60 seconds
Row with Unique_ID 'IR-109' has been updated.
Row with Unique_ID 'IR-110' has been updated.
Row with Unique_ID 'IR-111' has been updated.
Row with Unique_ID 'IR-112' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-113' has been updated.
Row with Unique_ID 'IR-114' has been updated.
Row with Unique_ID 'IR-115' has been updated.
Row with Unique_ID 'IR-116' has been updated.
Error encountered: The `response.text` quick accessor only works when the response contains a valid `Part`, but none was returned. Check the `candidate.safety_ratings` to see if the response was blocked.. Retry 1/5
Row with Unique_ID 'IR-117' has been updated.
Row with Unique_ID 'IR-118' has been updated.
Iteration: 110, Elapsed Time: 13 minutes and 24.91 seconds
Row with Unique_ID 'IR-119' has been updated.
Row with Unique_ID 'IR-120' has been updated.
Row with Unique_ID 'IR-121' has been updated.
Row with Unique_ID 'IR-122' has been updated.
Row with Unique_ID 'IR-123' has been updated.
Row with Unique_ID 'IR-124' has been updated.
Row with Unique_ID 'IR-125' has been updated.
Row with Unique_ID 'IR-126' has been updated.
Row with Unique_ID 'IR-127' has been updated.
Row with Unique_ID 'IR-128' has been updated.
Iteration: 120, Elapsed Time: 14 minutes and 40.49 seconds
Row with Unique_ID 'IR-129' has been updated.
Row with Unique_ID 'IR-130' has been updated.
Row with Unique_ID 'IR-131' has been updated.
Row with Unique_ID 'IR-132' has been updated.
Row with Unique_ID 'IR-133' has been updated.
Row with Unique_ID 'IR-134' has been updated.
Row with Unique_ID 'IR-135' has been updated.
Row with Unique_ID 'IR-136' has been updated.
Row with Unique_ID 'IR-137' has been updated.
Row with Unique_ID 'IR-138' has been updated.
Iteration: 130, Elapsed Time: 15 minutes and 50.64 seconds
Row with Unique_ID 'IR-139' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-140' has been updated.
Row with Unique_ID 'IR-141' has been updated.
Row with Unique_ID 'IR-142' has been updated.
Row with Unique_ID 'IR-143' has been updated.
Row with Unique_ID 'IR-144' has been updated.
Row with Unique_ID 'IR-145' has been updated.
Row with Unique_ID 'IR-146' has been updated.
Row with Unique_ID 'IR-147' has been updated.
Row with Unique_ID 'IR-148' has been updated.
Iteration: 140, Elapsed Time: 17 minutes and 14.14 seconds
Error encountered: The `response.text` quick accessor only works when the response contains a valid `Part`, but none was returned. Check the `candidate.safety_ratings` to see if the response was blocked.. Retry 1/5
Row with Unique_ID 'IR-149' has been updated.
Row with Unique_ID 'IR-150' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5

Row with Unique_ID 'IR-151' has been updated.
Row with Unique_ID 'IR-152' has been updated.
Row with Unique_ID 'IR-153' has been updated.
Row with Unique_ID 'IR-154' has been updated.
Row with Unique_ID 'IR-155' has been updated.
Row with Unique_ID 'IR-156' has been updated.
Row with Unique_ID 'IR-157' has been updated.
Row with Unique_ID 'IR-158' has been updated.
Iteration: 150, Elapsed Time: 18 minutes and 44.71 seconds
Row with Unique_ID 'IR-159' has been updated.
Row with Unique_ID 'IR-160' has been updated.
Row with Unique_ID 'IR-161' has been updated.
Row with Unique_ID 'IR-162' has been updated.
Row with Unique_ID 'IR-163' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-164' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-165' has been updated.
Row with Unique_ID 'IR-166' has been updated.
Row with Unique_ID 'IR-167' has been updated.
Row with Unique_ID 'IR-168' has been updated.
Iteration: 160, Elapsed Time: 20 minutes and 21.05 seconds
Row with Unique_ID 'IR-169' has been updated.
Row with Unique_ID 'IR-170' has been updated.
Row with Unique_ID 'IR-171' has been updated.
Row with Unique_ID 'IR-172' has been updated.
Row with Unique_ID 'IR-173' has been updated.
Row with Unique_ID 'IR-174' has been updated.
Row with Unique_ID 'IR-175' has been updated.
Row with Unique_ID 'IR-176' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-177' has been updated.
Row with Unique_ID 'IR-178' has been updated.
Iteration: 170, Elapsed Time: 21 minutes and 32.97 seconds
Row with Unique_ID 'IR-179' has been updated.
Row with Unique_ID 'IR-180' has been updated.
Row with Unique_ID 'IR-181' has been updated.
Row with Unique_ID 'IR-182' has been updated.
Row with Unique_ID 'IR-183' has been updated.
Row with Unique_ID 'IR-184' has been updated.
Row with Unique_ID 'IR-185' has been updated.
Row with Unique_ID 'IR-186' has been updated.
Row with Unique_ID 'IR-187' has been updated.
Row with Unique_ID 'IR-188' has been updated.
Iteration: 180, Elapsed Time: 22 minutes and 43.73 seconds
Row with Unique_ID 'IR-189' has been updated.
Row with Unique_ID 'IR-190' has been updated.
Row with Unique_ID 'IR-191' has been updated.
Row with Unique_ID 'IR-192' has been updated.
Row with Unique_ID 'IR-193' has been updated.
Row with Unique_ID 'IR-194' has been updated.
Row with Unique_ID 'IR-195' has been updated.
Row with Unique_ID 'IR-196' has been updated.
Row with Unique_ID 'IR-197' has been updated.
Row with Unique_ID 'IR-198' has been updated.
Iteration: 190, Elapsed Time: 23 minutes and 53.67 seconds
Row with Unique_ID 'IR-199' has been updated.
Row with Unique_ID 'IR-200' has been updated.
Row with Unique_ID 'IR-201' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-202' has been updated.
Row with Unique_ID 'IR-203' has been updated.
Row with Unique_ID 'IR-204' has been updated.
Row with Unique_ID 'IR-205' has been updated.
Row with Unique_ID 'IR-206' has been updated.
Row with Unique_ID 'IR-207' has been updated.
Row with Unique_ID 'IR-208' has been updated.
Iteration: 200, Elapsed Time: 25 minutes and 27.76 seconds
Row with Unique_ID 'IR-209' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-210' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-211' has been updated.
Row with Unique_ID 'IR-212' has been updated.
Row with Unique_ID 'IR-213' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-214' has been updated.
Row with Unique_ID 'IR-215' has been updated.
Row with Unique_ID 'IR-216' has been updated.
Row with Unique_ID 'IR-217' has been updated.
Row with Unique_ID 'IR-218' has been updated.
Iteration: 210, Elapsed Time: 26 minutes and 48.71 seconds
Row with Unique_ID 'IR-219' has been updated.
Row with Unique_ID 'IR-220' has been updated.
Row with Unique_ID 'IR-221' has been updated.
Row with Unique_ID 'IR-222' has been updated.
Row with Unique_ID 'IR-223' has been updated.
Row with Unique_ID 'IR-224' has been updated.
Row with Unique_ID 'IR-225' has been updated.
Row with Unique_ID 'IR-226' has been updated.
Row with Unique_ID 'IR-227' has been updated.
Row with Unique_ID 'IR-228' has been updated.
Iteration: 220, Elapsed Time: 27 minutes and 56.26 seconds
Row with Unique_ID 'IR-229' has been updated.
Row with Unique_ID 'IR-230' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-231' has been updated.
Row with Unique_ID 'IR-232' has been updated.
Row with Unique_ID 'IR-233' has been updated.
Row with Unique_ID 'IR-234' has been updated.
Row with Unique_ID 'IR-235' has been updated.
Row with Unique_ID 'IR-236' has been updated.
Row with Unique_ID 'IR-237' has been updated.
Row with Unique_ID 'IR-238' has been updated.
Iteration: 230, Elapsed Time: 29 minutes and 8.56 seconds
Row with Unique_ID 'IR-239' has been updated.
Row with Unique_ID 'IR-240' has been updated.
Row with Unique_ID 'IR-241' has been updated.
Row with Unique_ID 'IR-242' has been updated.
Row with Unique_ID 'IR-243' has been updated.
Row with Unique_ID 'IR-244' has been updated.
Row with Unique_ID 'IR-245' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-246' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-247' has been updated.
Row with Unique_ID 'IR-248' has been updated.
Iteration: 240, Elapsed Time: 30 minutes and 28.18 seconds
Row with Unique_ID 'IR-249' has been updated.
Row with Unique_ID 'IR-250' has been updated.
Row with Unique_ID 'IR-251' has been updated.
Row with Unique_ID 'IR-252' has been updated.
Row with Unique_ID 'IR-253' has been updated.
Row with Unique_ID 'IR-254' has been updated.
Row with Unique_ID 'IR-255' has been updated.
Row with Unique_ID 'IR-256' has been updated.
Row with Unique_ID 'IR-257' has been updated.
Row with Unique_ID 'IR-258' has been updated.
Iteration: 250, Elapsed Time: 31 minutes and 38.01 seconds
Row with Unique_ID 'IR-259' has been updated.
Row with Unique_ID 'IR-260' has been updated.
Row with Unique_ID 'IR-261' has been updated.
Row with Unique_ID 'IR-262' has been updated.
Row with Unique_ID 'IR-263' has been updated.
Row with Unique_ID 'IR-264' has been updated.
Row with Unique_ID 'IR-265' has been updated.
Row with Unique_ID 'IR-266' has been updated.
Row with Unique_ID 'IR-267' has been updated.
Row with Unique_ID 'IR-268' has been updated.
Iteration: 260, Elapsed Time: 76 minutes and 38.33 seconds
Row with Unique_ID 'IR-269' has been updated.
Row with Unique_ID 'IR-270' has been updated.
Row with Unique_ID 'IR-271' has been updated.
Row with Unique_ID 'IR-272' has been updated.
Row with Unique_ID 'IR-273' has been updated.
Row with Unique_ID 'IR-274' has been updated.
Row with Unique_ID 'IR-275' has been updated.
Row with Unique_ID 'IR-276' has been updated.
Row with Unique_ID 'IR-277' has been updated.
Row with Unique_ID 'IR-278' has been updated.
Iteration: 270, Elapsed Time: 77 minutes and 45.87 seconds
Row with Unique_ID 'IR-279' has been updated.
Row with Unique_ID 'IR-280' has been updated.
Row with Unique_ID 'IR-281' has been updated.
Row with Unique_ID 'IR-282' has been updated.
Row with Unique_ID 'IR-283' has been updated.
Row with Unique_ID 'IR-284' has been updated.
Row with Unique_ID 'IR-285' has been updated.
Row with Unique_ID 'IR-286' has been updated.
Row with Unique_ID 'IR-287' has been updated.
Row with Unique_ID 'IR-288' has been updated.
Iteration: 280, Elapsed Time: 78 minutes and 51.85 seconds
Row with Unique_ID 'IR-289' has been updated.
Row with Unique_ID 'IR-290' has been updated.
Row with Unique_ID 'IR-291' has been updated.
Row with Unique_ID 'IR-292' has been updated.
Row with Unique_ID 'IR-293' has been updated.

Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-294' has been updated.
Row with Unique_ID 'IR-295' has been updated.
Row with Unique_ID 'IR-296' has been updated.
Row with Unique_ID 'IR-297' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-298' has been updated.
Iteration: 290, Elapsed Time: 80 minutes and 10.55 seconds
Row with Unique_ID 'IR-299' has been updated.
Row with Unique_ID 'IR-300' has been updated.
Row with Unique_ID 'IR-301' has been updated.
Row with Unique_ID 'IR-302' has been updated.
Row with Unique_ID 'IR-303' has been updated.
Row with Unique_ID 'IR-304' has been updated.
Row with Unique_ID 'IR-305' has been updated.
Row with Unique_ID 'IR-306' has been updated.
Row with Unique_ID 'IR-307' has been updated.
Row with Unique_ID 'IR-308' has been updated.
Iteration: 300, Elapsed Time: 81 minutes and 25.06 seconds
Row with Unique_ID 'IR-309' has been updated.
Row with Unique_ID 'IR-310' has been updated.
Row with Unique_ID 'IR-311' has been updated.
Row with Unique_ID 'IR-312' has been updated.
Row with Unique_ID 'IR-313' has been updated.
Row with Unique_ID 'IR-314' has been updated.
Row with Unique_ID 'IR-315' has been updated.
Row with Unique_ID 'IR-316' has been updated.
Row with Unique_ID 'IR-317' has been updated.
Row with Unique_ID 'IR-318' has been updated.
Iteration: 310, Elapsed Time: 82 minutes and 36.58 seconds
Row with Unique_ID 'IR-319' has been updated.
Row with Unique_ID 'IR-320' has been updated.
Row with Unique_ID 'IR-321' has been updated.
Row with Unique_ID 'IR-322' has been updated.
Row with Unique_ID 'IR-323' has been updated.
Row with Unique_ID 'IR-324' has been updated.
Row with Unique_ID 'IR-325' has been updated.
Row with Unique_ID 'IR-326' has been updated.
Row with Unique_ID 'IR-327' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-328' has been updated.
Iteration: 320, Elapsed Time: 84 minutes and 7.26 seconds
Row with Unique_ID 'IR-329' has been updated.
Row with Unique_ID 'IR-330' has been updated.
Row with Unique_ID 'IR-331' has been updated.
Row with Unique_ID 'IR-332' has been updated.
Row with Unique_ID 'IR-333' has been updated.
Row with Unique_ID 'IR-334' has been updated.
Row with Unique_ID 'IR-335' has been updated.
Row with Unique_ID 'IR-336' has been updated.
Row with Unique_ID 'IR-337' has been updated.
Row with Unique_ID 'IR-338' has been updated.
Iteration: 330, Elapsed Time: 85 minutes and 12.84 seconds
Row with Unique_ID 'IR-339' has been updated.
Row with Unique_ID 'IR-340' has been updated.
Row with Unique_ID 'IR-341' has been updated.
Row with Unique_ID 'IR-342' has been updated.
Row with Unique_ID 'IR-343' has been updated.
Row with Unique_ID 'IR-344' has been updated.
Row with Unique_ID 'IR-345' has been updated.
Row with Unique_ID 'IR-346' has been updated.
Row with Unique_ID 'IR-347' has been updated.
Row with Unique_ID 'IR-348' has been updated.
Iteration: 340, Elapsed Time: 86 minutes and 23.42 seconds
Row with Unique_ID 'IR-349' has been updated.
Row with Unique_ID 'IR-350' has been updated.
Row with Unique_ID 'IR-351' has been updated.
Row with Unique_ID 'IR-352' has been updated.
Row with Unique_ID 'IR-353' has been updated.
Row with Unique_ID 'IR-354' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-355' has been updated.
Row with Unique_ID 'IR-356' has been updated.
Row with Unique_ID 'IR-357' has been updated.
Row with Unique_ID 'IR-358' has been updated.
Iteration: 350, Elapsed Time: 87 minutes and 35.84 seconds
Row with Unique_ID 'IR-359' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-360' has been updated.
Row with Unique_ID 'IR-361' has been updated.
Row with Unique_ID 'IR-362' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-363' has been updated.
Row with Unique_ID 'IR-364' has been updated.
Row with Unique_ID 'IR-365' has been updated.
Row with Unique_ID 'IR-366' has been updated.
Row with Unique_ID 'IR-367' has been updated.
Row with Unique_ID 'IR-368' has been updated.
Iteration: 360, Elapsed Time: 88 minutes and 59.34 seconds
Row with Unique_ID 'IR-369' has been updated.
Row with Unique_ID 'IR-370' has been updated.
Row with Unique_ID 'IR-371' has been updated.
Row with Unique_ID 'IR-372' has been updated.
Row with Unique_ID 'IR-373' has been updated.
Row with Unique_ID 'IR-374' has been updated.
Row with Unique_ID 'IR-375' has been updated.
Row with Unique_ID 'IR-376' has been updated.
Row with Unique_ID 'IR-377' has been updated.
Row with Unique_ID 'IR-378' has been updated.
Iteration: 370, Elapsed Time: 90 minutes and 20.52 seconds
Row with Unique_ID 'IR-379' has been updated.
Row with Unique_ID 'IR-380' has been updated.
Row with Unique_ID 'IR-381' has been updated.
Row with Unique_ID 'IR-382' has been updated.
Row with Unique_ID 'IR-383' has been updated.
Row with Unique_ID 'IR-384' has been updated.
Row with Unique_ID 'IR-385' has been updated.
Row with Unique_ID 'IR-386' has been updated.
Row with Unique_ID 'IR-387' has been updated.
Row with Unique_ID 'IR-388' has been updated.
Iteration: 380, Elapsed Time: 91 minutes and 35.06 seconds
Row with Unique_ID 'IR-389' has been updated.
Row with Unique_ID 'IR-390' has been updated.
Row with Unique_ID 'IR-391' has been updated.
Row with Unique_ID 'IR-392' has been updated.
Row with Unique_ID 'IR-393' has been updated.
Row with Unique_ID 'IR-394' has been updated.
Row with Unique_ID 'IR-395' has been updated.
Row with Unique_ID 'IR-396' has been updated.
Row with Unique_ID 'IR-397' has been updated.
Row with Unique_ID 'IR-398' has been updated.
Iteration: 390, Elapsed Time: 92 minutes and 39.48 seconds
Row with Unique_ID 'IR-399' has been updated.
Row with Unique_ID 'IR-400' has been updated.
Row with Unique_ID 'IR-401' has been updated.
Row with Unique_ID 'IR-402' has been updated.
Row with Unique_ID 'IR-403' has been updated.
Row with Unique_ID 'IR-404' has been updated.
Row with Unique_ID 'IR-405' has been updated.
Row with Unique_ID 'IR-406' has been updated.
Row with Unique_ID 'IR-407' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-408' has been updated.
Iteration: 400, Elapsed Time: 94 minutes and 15.71 seconds
Row with Unique_ID 'IR-409' has been updated.
Row with Unique_ID 'IR-410' has been updated.
Row with Unique_ID 'IR-411' has been updated.
Row with Unique_ID 'IR-412' has been updated.
Row with Unique_ID 'IR-413' has been updated.
Row with Unique_ID 'IR-414' has been updated.
Row with Unique_ID 'IR-415' has been updated.
Row with Unique_ID 'IR-416' has been updated.
Row with Unique_ID 'IR-417' has been updated.
Row with Unique_ID 'IR-418' has been updated.
Iteration: 410, Elapsed Time: 95 minutes and 39.46 seconds
Row with Unique_ID 'IR-419' has been updated.
Row with Unique_ID 'IR-420' has been updated.
Row with Unique_ID 'IR-421' has been updated.
Row with Unique_ID 'IR-422' has been updated.
Row with Unique_ID 'IR-423' has been updated.
Row with Unique_ID 'IR-424' has been updated.
Row with Unique_ID 'IR-425' has been updated.
Row with Unique_ID 'IR-426' has been updated.
Row with Unique_ID 'IR-427' has been updated.
Row with Unique_ID 'IR-428' has been updated.
Iteration: 420, Elapsed Time: 96 minutes and 55.74 seconds
Row with Unique_ID 'IR-429' has been updated.
Row with Unique_ID 'IR-430' has been updated.
Row with Unique_ID 'IR-431' has been updated.
Row with Unique_ID 'IR-432' has been updated.
Row with Unique_ID 'IR-433' has been updated.
Row with Unique_ID 'IR-434' has been updated.
Row with Unique_ID 'IR-435' has been updated.
Row with Unique_ID 'IR-436' has been updated.
Row with Unique_ID 'IR-437' has been updated.
Row with Unique_ID 'IR-438' has been updated.
Iteration: 430, Elapsed Time: 98 minutes and 9.76 seconds
Row with Unique_ID 'IR-439' has been updated.

Row with Unique_ID 'IR-440' has been updated.
Row with Unique_ID 'IR-441' has been updated.
Row with Unique_ID 'IR-442' has been updated.
Row with Unique_ID 'IR-443' has been updated.
Row with Unique_ID 'IR-444' has been updated.
Row with Unique_ID 'IR-445' has been updated.
Row with Unique_ID 'IR-446' has been updated.
Row with Unique_ID 'IR-447' has been updated.
Row with Unique_ID 'IR-448' has been updated.
Iteration: 440, Elapsed Time: 99 minutes and 24.70 seconds
Row with Unique_ID 'IR-449' has been updated.
Row with Unique_ID 'IR-450' has been updated.
Row with Unique_ID 'IR-451' has been updated.
Row with Unique_ID 'IR-452' has been updated.
Row with Unique_ID 'IR-453' has been updated.
Row with Unique_ID 'IR-454' has been updated.
Row with Unique_ID 'IR-455' has been updated.
Row with Unique_ID 'IR-456' has been updated.
Row with Unique_ID 'IR-457' has been updated.
Row with Unique_ID 'IR-458' has been updated.
Iteration: 450, Elapsed Time: 100 minutes and 36.86 seconds
Row with Unique_ID 'IR-459' has been updated.
Row with Unique_ID 'IR-460' has been updated.
Row with Unique_ID 'IR-461' has been updated.
Row with Unique_ID 'IR-462' has been updated.
Row with Unique_ID 'IR-463' has been updated.
Row with Unique_ID 'IR-464' has been updated.
Row with Unique_ID 'IR-465' has been updated.
Row with Unique_ID 'IR-466' has been updated.
Row with Unique_ID 'IR-467' has been updated.
Row with Unique_ID 'IR-468' has been updated.
Iteration: 460, Elapsed Time: 101 minutes and 53.17 seconds
Row with Unique_ID 'IR-469' has been updated.
Row with Unique_ID 'IR-470' has been updated.
Row with Unique_ID 'IR-471' has been updated.
Row with Unique_ID 'IR-472' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-473' has been updated.
Row with Unique_ID 'IR-474' has been updated.
Row with Unique_ID 'IR-475' has been updated.
Row with Unique_ID 'IR-476' has been updated.
Row with Unique_ID 'IR-477' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-478' has been updated.
Iteration: 470, Elapsed Time: 103 minutes and 30.76 seconds
Row with Unique_ID 'IR-479' has been updated.
Row with Unique_ID 'IR-480' has been updated.
Row with Unique_ID 'IR-481' has been updated.
Row with Unique_ID 'IR-482' has been updated.
Row with Unique_ID 'IR-483' has been updated.
Row with Unique_ID 'IR-484' has been updated.
Row with Unique_ID 'IR-485' has been updated.
Row with Unique_ID 'IR-486' has been updated.
Row with Unique_ID 'IR-487' has been updated.
Row with Unique_ID 'IR-488' has been updated.
Iteration: 480, Elapsed Time: 104 minutes and 51.90 seconds
Row with Unique_ID 'IR-489' has been updated.
Row with Unique_ID 'IR-490' has been updated.
Row with Unique_ID 'IR-491' has been updated.
Row with Unique_ID 'IR-492' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-493' has been updated.
Row with Unique_ID 'IR-494' has been updated.
Row with Unique_ID 'IR-495' has been updated.
Row with Unique_ID 'IR-496' has been updated.
Row with Unique_ID 'IR-497' has been updated.
Row with Unique_ID 'IR-498' has been updated.
Iteration: 490, Elapsed Time: 106 minutes and 13.30 seconds
Row with Unique_ID 'IR-499' has been updated.
Row with Unique_ID 'IR-500' has been updated.
Row with Unique_ID 'IR-501' has been updated.
Row with Unique_ID 'IR-502' has been updated.
Row with Unique_ID 'IR-503' has been updated.
Row with Unique_ID 'IR-504' has been updated.
Row with Unique_ID 'IR-505' has been updated.
Row with Unique_ID 'IR-506' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-507' has been updated.
Row with Unique_ID 'IR-508' has been updated.
Iteration: 500, Elapsed Time: 107 minutes and 36.35 seconds
Row with Unique_ID 'IR-509' has been updated.
Row with Unique_ID 'IR-510' has been updated.
Row with Unique_ID 'IR-511' has been updated.
Row with Unique_ID 'IR-512' has been updated.
Row with Unique_ID 'IR-513' has been updated.
Row with Unique_ID 'IR-514' has been updated.
Row with Unique_ID 'IR-515' has been updated.
Row with Unique_ID 'IR-516' has been updated.
Row with Unique_ID 'IR-517' has been updated.
Row with Unique_ID 'IR-518' has been updated.
Iteration: 510, Elapsed Time: 108 minutes and 43.52 seconds
Row with Unique_ID 'IR-519' has been updated.
Row with Unique_ID 'IR-520' has been updated.
Row with Unique_ID 'IR-521' has been updated.
Row with Unique_ID 'IR-522' has been updated.
Row with Unique_ID 'IR-523' has been updated.
Row with Unique_ID 'IR-524' has been updated.
Row with Unique_ID 'IR-525' has been updated.
Row with Unique_ID 'IR-526' has been updated.
Row with Unique_ID 'IR-527' has been updated.
Row with Unique_ID 'IR-528' has been updated.
Iteration: 520, Elapsed Time: 109 minutes and 49.89 seconds
Row with Unique_ID 'IR-529' has been updated.
Row with Unique_ID 'IR-530' has been updated.
Row with Unique_ID 'IR-531' has been updated.
Row with Unique_ID 'IR-532' has been updated.
Row with Unique_ID 'IR-533' has been updated.
Row with Unique_ID 'IR-534' has been updated.
Row with Unique_ID 'IR-535' has been updated.
Row with Unique_ID 'IR-536' has been updated.
Row with Unique_ID 'IR-537' has been updated.
Row with Unique_ID 'IR-538' has been updated.
Iteration: 530, Elapsed Time: 111 minutes and 3.99 seconds
Row with Unique_ID 'IR-539' has been updated.
Row with Unique_ID 'IR-540' has been updated.
Row with Unique_ID 'IR-541' has been updated.
Row with Unique_ID 'IR-542' has been updated.
Row with Unique_ID 'IR-543' has been updated.
Row with Unique_ID 'IR-544' has been updated.
Row with Unique_ID 'IR-545' has been updated.
Row with Unique_ID 'IR-546' has been updated.
Row with Unique_ID 'IR-547' has been updated.
Row with Unique_ID 'IR-548' has been updated.
Iteration: 540, Elapsed Time: 112 minutes and 12.56 seconds
Row with Unique_ID 'IR-549' has been updated.
Row with Unique_ID 'IR-550' has been updated.
Row with Unique_ID 'IR-551' has been updated.
Row with Unique_ID 'IR-552' has been updated.
Row with Unique_ID 'IR-553' has been updated.
Row with Unique_ID 'IR-554' has been updated.
Row with Unique_ID 'IR-555' has been updated.
Row with Unique_ID 'IR-556' has been updated.
Row with Unique_ID 'IR-557' has been updated.
Row with Unique_ID 'IR-558' has been updated.
Iteration: 550, Elapsed Time: 113 minutes and 29.91 seconds
Row with Unique_ID 'IR-559' has been updated.
Row with Unique_ID 'IR-560' has been updated.
Row with Unique_ID 'IR-561' has been updated.
Row with Unique_ID 'IR-562' has been updated.
Row with Unique_ID 'IR-563' has been updated.
Row with Unique_ID 'IR-564' has been updated.
Row with Unique_ID 'IR-565' has been updated.
Row with Unique_ID 'IR-566' has been updated.
Row with Unique_ID 'IR-567' has been updated.
Row with Unique_ID 'IR-568' has been updated.
Iteration: 560, Elapsed Time: 114 minutes and 48.77 seconds
Row with Unique_ID 'IR-569' has been updated.
Row with Unique_ID 'IR-570' has been updated.
Row with Unique_ID 'IR-571' has been updated.
Row with Unique_ID 'IR-572' has been updated.
Row with Unique_ID 'IR-573' has been updated.
Row with Unique_ID 'IR-574' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-575' has been updated.
Row with Unique_ID 'IR-576' has been updated.
Row with Unique_ID 'IR-577' has been updated.
Row with Unique_ID 'IR-578' has been updated.
Iteration: 570, Elapsed Time: 116 minutes and 1.43 seconds
Row with Unique_ID 'IR-579' has been updated.
Row with Unique_ID 'IR-580' has been updated.
Row with Unique_ID 'IR-581' has been updated.
Row with Unique_ID 'IR-582' has been updated.
Row with Unique_ID 'IR-583' has been updated.
Row with Unique_ID 'IR-584' has been updated.
Row with Unique_ID 'IR-585' has been updated.
Row with Unique_ID 'IR-586' has been updated.
Row with Unique_ID 'IR-587' has been updated.
Row with Unique_ID 'IR-588' has been updated.
Iteration: 580, Elapsed Time: 117 minutes and 34.65 seconds
Row with Unique_ID 'IR-589' has been updated.

Row with Unique_ID 'IR-590' has been updated.
Row with Unique_ID 'IR-591' has been updated.
Row with Unique_ID 'IR-592' has been updated.
Row with Unique_ID 'IR-593' has been updated.
Row with Unique_ID 'IR-594' has been updated.
Row with Unique_ID 'IR-595' has been updated.
Row with Unique_ID 'IR-596' has been updated.
Row with Unique_ID 'IR-597' has been updated.
Row with Unique_ID 'IR-598' has been updated.
Iteration: 590, Elapsed Time: 118 minutes and 56.32 seconds
Row with Unique_ID 'IR-599' has been updated.
Row with Unique_ID 'IR-600' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-601' has been updated.
Row with Unique_ID 'IR-602' has been updated.
Row with Unique_ID 'IR-603' has been updated.
Row with Unique_ID 'IR-604' has been updated.
Row with Unique_ID 'IR-605' has been updated.
Row with Unique_ID 'IR-606' has been updated.
Row with Unique_ID 'IR-607' has been updated.
Row with Unique_ID 'IR-608' has been updated.
Iteration: 600, Elapsed Time: 120 minutes and 31.15 seconds
Row with Unique_ID 'IR-609' has been updated.
Row with Unique_ID 'IR-610' has been updated.
Row with Unique_ID 'IR-611' has been updated.
Row with Unique_ID 'IR-612' has been updated.
Row with Unique_ID 'IR-613' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-614' has been updated.
Row with Unique_ID 'IR-615' has been updated.
Row with Unique_ID 'IR-616' has been updated.
Row with Unique_ID 'IR-617' has been updated.
Row with Unique_ID 'IR-618' has been updated.
Iteration: 610, Elapsed Time: 121 minutes and 47.06 seconds
Row with Unique_ID 'IR-619' has been updated.
Row with Unique_ID 'IR-620' has been updated.
Row with Unique_ID 'IR-621' has been updated.
Row with Unique_ID 'IR-622' has been updated.
Row with Unique_ID 'IR-623' has been updated.
Row with Unique_ID 'IR-624' has been updated.
Row with Unique_ID 'IR-625' has been updated.
Row with Unique_ID 'IR-626' has been updated.
Row with Unique_ID 'IR-627' has been updated.
Row with Unique_ID 'IR-628' has been updated.
Iteration: 620, Elapsed Time: 123 minutes and 0.08 seconds
Row with Unique_ID 'IR-629' has been updated.
Row with Unique_ID 'IR-630' has been updated.
Row with Unique_ID 'IR-631' has been updated.
Row with Unique_ID 'IR-632' has been updated.
Row with Unique_ID 'IR-633' has been updated.
Row with Unique_ID 'IR-634' has been updated.
Row with Unique_ID 'IR-635' has been updated.
Row with Unique_ID 'IR-636' has been updated.
Row with Unique_ID 'IR-637' has been updated.
Row with Unique_ID 'IR-638' has been updated.
Iteration: 630, Elapsed Time: 124 minutes and 19.90 seconds
Row with Unique_ID 'IR-639' has been updated.
Row with Unique_ID 'IR-640' has been updated.
Row with Unique_ID 'IR-641' has been updated.
Row with Unique_ID 'IR-642' has been updated.
Row with Unique_ID 'IR-643' has been updated.
Row with Unique_ID 'IR-644' has been updated.
Row with Unique_ID 'IR-645' has been updated.
Row with Unique_ID 'IR-646' has been updated.
Row with Unique_ID 'IR-647' has been updated.
Row with Unique_ID 'IR-648' has been updated.
Iteration: 640, Elapsed Time: 125 minutes and 43.33 seconds
Row with Unique_ID 'IR-649' has been updated.
Row with Unique_ID 'IR-650' has been updated.
Row with Unique_ID 'IR-651' has been updated.
Row with Unique_ID 'IR-652' has been updated.
Row with Unique_ID 'IR-653' has been updated.
Row with Unique_ID 'IR-654' has been updated.
Row with Unique_ID 'IR-655' has been updated.
Row with Unique_ID 'IR-656' has been updated.
Row with Unique_ID 'IR-657' has been updated.
Row with Unique_ID 'IR-658' has been updated.
Iteration: 650, Elapsed Time: 127 minutes and 9.90 seconds
Row with Unique_ID 'IR-659' has been updated.
Row with Unique_ID 'IR-660' has been updated.
Row with Unique_ID 'IR-661' has been updated.
Row with Unique_ID 'IR-662' has been updated.
Row with Unique_ID 'IR-663' has been updated.
Row with Unique_ID 'IR-664' has been updated.
Row with Unique_ID 'IR-665' has been updated.
Row with Unique_ID 'IR-666' has been updated.
Row with Unique_ID 'IR-667' has been updated.
Row with Unique_ID 'IR-668' has been updated.
Iteration: 660, Elapsed Time: 128 minutes and 38.81 seconds
Row with Unique_ID 'IR-669' has been updated.
Row with Unique_ID 'IR-670' has been updated.
Row with Unique_ID 'IR-671' has been updated.
Row with Unique_ID 'IR-672' has been updated.
Row with Unique_ID 'IR-673' has been updated.
Row with Unique_ID 'IR-674' has been updated.
Row with Unique_ID 'IR-675' has been updated.
Row with Unique_ID 'IR-676' has been updated.
Row with Unique_ID 'IR-677' has been updated.
Row with Unique_ID 'IR-678' has been updated.
Iteration: 670, Elapsed Time: 129 minutes and 56.49 seconds
Row with Unique_ID 'IR-679' has been updated.
Row with Unique_ID 'IR-680' has been updated.
Row with Unique_ID 'IR-681' has been updated.
Row with Unique_ID 'IR-682' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-683' has been updated.
Row with Unique_ID 'IR-684' has been updated.
Row with Unique_ID 'IR-685' has been updated.
Row with Unique_ID 'IR-686' has been updated.
Row with Unique_ID 'IR-687' has been updated.
Row with Unique_ID 'IR-688' has been updated.
Iteration: 680, Elapsed Time: 131 minutes and 33.52 seconds
Row with Unique_ID 'IR-689' has been updated.
Row with Unique_ID 'IR-690' has been updated.
Row with Unique_ID 'IR-691' has been updated.
Row with Unique_ID 'IR-692' has been updated.
Row with Unique_ID 'IR-693' has been updated.
Row with Unique_ID 'IR-694' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-695' has been updated.
Row with Unique_ID 'IR-696' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-697' has been updated.
Row with Unique_ID 'IR-698' has been updated.
Iteration: 690, Elapsed Time: 133 minutes and 23.08 seconds
Row with Unique_ID 'IR-699' has been updated.
Row with Unique_ID 'IR-700' has been updated.
Row with Unique_ID 'IR-701' has been updated.
Row with Unique_ID 'IR-702' has been updated.
Row with Unique_ID 'IR-703' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-704' has been updated.
Row with Unique_ID 'IR-705' has been updated.
Row with Unique_ID 'IR-706' has been updated.
Row with Unique_ID 'IR-707' has been updated.
Row with Unique_ID 'IR-708' has been updated.
Iteration: 700, Elapsed Time: 134 minutes and 47.97 seconds
Row with Unique_ID 'IR-709' has been updated.
Row with Unique_ID 'IR-710' has been updated.
Row with Unique_ID 'IR-711' has been updated.
Row with Unique_ID 'IR-712' has been updated.
Row with Unique_ID 'IR-713' has been updated.
Row with Unique_ID 'IR-714' has been updated.
Row with Unique_ID 'IR-715' has been updated.
Row with Unique_ID 'IR-716' has been updated.
Row with Unique_ID 'IR-717' has been updated.
Row with Unique_ID 'IR-718' has been updated.
Iteration: 710, Elapsed Time: 136 minutes and 16.01 seconds
Row with Unique_ID 'IR-719' has been updated.
Row with Unique_ID 'IR-720' has been updated.
Row with Unique_ID 'IR-721' has been updated.
Row with Unique_ID 'IR-722' has been updated.
Row with Unique_ID 'IR-723' has been updated.
Row with Unique_ID 'IR-724' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-725' has been updated.
Row with Unique_ID 'IR-726' has been updated.
Row with Unique_ID 'IR-727' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-728' has been updated.
Iteration: 720, Elapsed Time: 137 minutes and 54.83 seconds
Row with Unique_ID 'IR-729' has been updated.
Row with Unique_ID 'IR-730' has been updated.
Row with Unique_ID 'IR-731' has been updated.
Row with Unique_ID 'IR-732' has been updated.
Row with Unique_ID 'IR-733' has been updated.
Row with Unique_ID 'IR-734' has been updated.
Row with Unique_ID 'IR-735' has been updated.
Row with Unique_ID 'IR-736' has been updated.

Row with Unique_ID 'IR-737' has been updated.
Row with Unique_ID 'IR-738' has been updated.
Iteration: 730, Elapsed Time: 139 minutes and 7.76 seconds
Row with Unique_ID 'IR-739' has been updated.
Row with Unique_ID 'IR-740' has been updated.
Row with Unique_ID 'IR-741' has been updated.
Row with Unique_ID 'IR-742' has been updated.
Row with Unique_ID 'IR-743' has been updated.
Row with Unique_ID 'IR-744' has been updated.
Row with Unique_ID 'IR-745' has been updated.
Row with Unique_ID 'IR-746' has been updated.
Row with Unique_ID 'IR-747' has been updated.
Row with Unique_ID 'IR-748' has been updated.
Iteration: 740, Elapsed Time: 140 minutes and 19.32 seconds
Row with Unique_ID 'IR-749' has been updated.
Row with Unique_ID 'IR-750' has been updated.
Row with Unique_ID 'IR-751' has been updated.
Row with Unique_ID 'IR-752' has been updated.
Row with Unique_ID 'IR-753' has been updated.
Row with Unique_ID 'IR-754' has been updated.
Row with Unique_ID 'IR-755' has been updated.
Row with Unique_ID 'IR-756' has been updated.
Row with Unique_ID 'IR-757' has been updated.
Row with Unique_ID 'IR-758' has been updated.
Iteration: 750, Elapsed Time: 141 minutes and 40.23 seconds
Row with Unique_ID 'IR-759' has been updated.
Row with Unique_ID 'IR-760' has been updated.
Row with Unique_ID 'IR-761' has been updated.
Row with Unique_ID 'IR-762' has been updated.
Row with Unique_ID 'IR-763' has been updated.
Row with Unique_ID 'IR-764' has been updated.
Row with Unique_ID 'IR-765' has been updated.
Row with Unique_ID 'IR-766' has been updated.
Row with Unique_ID 'IR-767' has been updated.
Row with Unique_ID 'IR-768' has been updated.
Iteration: 760, Elapsed Time: 142 minutes and 56.68 seconds
Row with Unique_ID 'IR-769' has been updated.
Row with Unique_ID 'IR-770' has been updated.
Row with Unique_ID 'IR-771' has been updated.
Row with Unique_ID 'IR-772' has been updated.
Row with Unique_ID 'IR-773' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-774' has been updated.
Row with Unique_ID 'IR-775' has been updated.
Row with Unique_ID 'IR-776' has been updated.
Row with Unique_ID 'IR-777' has been updated.
Row with Unique_ID 'IR-778' has been updated.
Iteration: 770, Elapsed Time: 144 minutes and 7.60 seconds
Row with Unique_ID 'IR-779' has been updated.
Row with Unique_ID 'IR-780' has been updated.
Row with Unique_ID 'IR-781' has been updated.
Row with Unique_ID 'IR-782' has been updated.
Row with Unique_ID 'IR-783' has been updated.
Row with Unique_ID 'IR-784' has been updated.
Row with Unique_ID 'IR-785' has been updated.
Row with Unique_ID 'IR-786' has been updated.
Row with Unique_ID 'IR-787' has been updated.
Row with Unique_ID 'IR-788' has been updated.
Iteration: 780, Elapsed Time: 145 minutes and 16.35 seconds
Row with Unique_ID 'IR-789' has been updated.
Row with Unique_ID 'IR-790' has been updated.
Row with Unique_ID 'IR-791' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-792' has been updated.
Row with Unique_ID 'IR-793' has been updated.
Row with Unique_ID 'IR-794' has been updated.
Row with Unique_ID 'IR-795' has been updated.
Row with Unique_ID 'IR-796' has been updated.
Row with Unique_ID 'IR-797' has been updated.
Row with Unique_ID 'IR-798' has been updated.
Iteration: 790, Elapsed Time: 146 minutes and 36.02 seconds
Row with Unique_ID 'IR-799' has been updated.
Row with Unique_ID 'IR-800' has been updated.
Row with Unique_ID 'IR-801' has been updated.
Row with Unique_ID 'IR-802' has been updated.
Row with Unique_ID 'IR-803' has been updated.
Row with Unique_ID 'IR-804' has been updated.
Row with Unique_ID 'IR-805' has been updated.
Row with Unique_ID 'IR-806' has been updated.
Row with Unique_ID 'IR-807' has been updated.
Row with Unique_ID 'IR-808' has been updated.
Iteration: 800, Elapsed Time: 148 minutes and 2.46 seconds
Row with Unique_ID 'IR-809' has been updated.
Row with Unique_ID 'IR-810' has been updated.
Row with Unique_ID 'IR-811' has been updated.
Row with Unique_ID 'IR-812' has been updated.
Row with Unique_ID 'IR-813' has been updated.
Row with Unique_ID 'IR-814' has been updated.
Row with Unique_ID 'IR-815' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-816' has been updated.
Row with Unique_ID 'IR-817' has been updated.
Row with Unique_ID 'IR-818' has been updated.
Iteration: 810, Elapsed Time: 149 minutes and 18.56 seconds
Row with Unique_ID 'IR-819' has been updated.
Row with Unique_ID 'IR-820' has been updated.
Row with Unique_ID 'IR-821' has been updated.
Row with Unique_ID 'IR-822' has been updated.
Row with Unique_ID 'IR-823' has been updated.
Row with Unique_ID 'IR-824' has been updated.
Row with Unique_ID 'IR-825' has been updated.
Row with Unique_ID 'IR-826' has been updated.
Row with Unique_ID 'IR-827' has been updated.
Row with Unique_ID 'IR-828' has been updated.
Iteration: 820, Elapsed Time: 150 minutes and 38.44 seconds
Row with Unique_ID 'IR-829' has been updated.
Row with Unique_ID 'IR-830' has been updated.
Row with Unique_ID 'IR-831' has been updated.
Error encountered: The `response.text` quick accessor only works when the response contains a valid `Part`, but none was returned. Check the `candidate.safety_ratings` to see if the response was blocked.. Retry 1/5
Row with Unique_ID 'IR-832' has been updated.
Row with Unique_ID 'IR-833' has been updated.
Row with Unique_ID 'IR-834' has been updated.
Row with Unique_ID 'IR-835' has been updated.
Row with Unique_ID 'IR-836' has been updated.
Row with Unique_ID 'IR-837' has been updated.
Row with Unique_ID 'IR-838' has been updated.
Iteration: 830, Elapsed Time: 152 minutes and 18.90 seconds
Row with Unique_ID 'IR-839' has been updated.
Row with Unique_ID 'IR-840' has been updated.
Row with Unique_ID 'IR-841' has been updated.
Row with Unique_ID 'IR-842' has been updated.
Row with Unique_ID 'IR-843' has been updated.
Row with Unique_ID 'IR-844' has been updated.
Row with Unique_ID 'IR-845' has been updated.
Row with Unique_ID 'IR-846' has been updated.
Row with Unique_ID 'IR-847' has been updated.
Row with Unique_ID 'IR-848' has been updated.
Iteration: 840, Elapsed Time: 153 minutes and 25.42 seconds
Row with Unique_ID 'IR-849' has been updated.
Row with Unique_ID 'IR-850' has been updated.
Row with Unique_ID 'IR-851' has been updated.
Row with Unique_ID 'IR-852' has been updated.
Row with Unique_ID 'IR-853' has been updated.
Row with Unique_ID 'IR-854' has been updated.
Row with Unique_ID 'IR-855' has been updated.
Row with Unique_ID 'IR-856' has been updated.
Row with Unique_ID 'IR-857' has been updated.
Row with Unique_ID 'IR-858' has been updated.
Iteration: 850, Elapsed Time: 154 minutes and 47.30 seconds
Row with Unique_ID 'IR-859' has been updated.
Row with Unique_ID 'IR-860' has been updated.
Row with Unique_ID 'IR-861' has been updated.
Row with Unique_ID 'IR-862' has been updated.
Row with Unique_ID 'IR-863' has been updated.
Row with Unique_ID 'IR-864' has been updated.
Row with Unique_ID 'IR-865' has been updated.
Row with Unique_ID 'IR-866' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-867' has been updated.
Row with Unique_ID 'IR-868' has been updated.
Iteration: 860, Elapsed Time: 156 minutes and 6.45 seconds
Row with Unique_ID 'IR-869' has been updated.
Row with Unique_ID 'IR-870' has been updated.
Row with Unique_ID 'IR-871' has been updated.
Row with Unique_ID 'IR-872' has been updated.
Row with Unique_ID 'IR-873' has been updated.
Row with Unique_ID 'IR-874' has been updated.
Row with Unique_ID 'IR-875' has been updated.
Row with Unique_ID 'IR-876' has been updated.
Row with Unique_ID 'IR-877' has been updated.
Row with Unique_ID 'IR-878' has been updated.
Iteration: 870, Elapsed Time: 157 minutes and 28.03 seconds
Row with Unique_ID 'IR-879' has been updated.
Row with Unique_ID 'IR-880' has been updated.
Row with Unique_ID 'IR-881' has been updated.
Row with Unique_ID 'IR-882' has been updated.
Row with Unique_ID 'IR-883' has been updated.
Row with Unique_ID 'IR-884' has been updated.
Row with Unique_ID 'IR-885' has been updated.

Row with Unique_ID 'IR-886' has been updated.
Row with Unique_ID 'IR-887' has been updated.
Row with Unique_ID 'IR-888' has been updated.
Iteration: 880, Elapsed Time: 158 minutes and 53.06 seconds
Row with Unique_ID 'IR-889' has been updated.
Row with Unique_ID 'IR-890' has been updated.
Row with Unique_ID 'IR-891' has been updated.
Row with Unique_ID 'IR-892' has been updated.
Row with Unique_ID 'IR-893' has been updated.
Row with Unique_ID 'IR-894' has been updated.
Row with Unique_ID 'IR-895' has been updated.
Row with Unique_ID 'IR-896' has been updated.
Row with Unique_ID 'IR-897' has been updated.
Row with Unique_ID 'IR-898' has been updated.
Iteration: 890, Elapsed Time: 160 minutes and 12.01 seconds
Row with Unique_ID 'IR-899' has been updated.
Row with Unique_ID 'IR-900' has been updated.
Row with Unique_ID 'IR-901' has been updated.
Row with Unique_ID 'IR-902' has been updated.
Row with Unique_ID 'IR-903' has been updated.
Row with Unique_ID 'IR-904' has been updated.
Row with Unique_ID 'IR-905' has been updated.
Row with Unique_ID 'IR-906' has been updated.
Row with Unique_ID 'IR-907' has been updated.
Row with Unique_ID 'IR-908' has been updated.
Iteration: 900, Elapsed Time: 161 minutes and 27.52 seconds
Row with Unique_ID 'IR-909' has been updated.
Row with Unique_ID 'IR-910' has been updated.
Row with Unique_ID 'IR-911' has been updated.
Row with Unique_ID 'IR-912' has been updated.
Row with Unique_ID 'IR-913' has been updated.
Row with Unique_ID 'IR-914' has been updated.
Row with Unique_ID 'IR-915' has been updated.
Row with Unique_ID 'IR-916' has been updated.
Row with Unique_ID 'IR-917' has been updated.
Row with Unique_ID 'IR-918' has been updated.
Iteration: 910, Elapsed Time: 162 minutes and 52.63 seconds
Row with Unique_ID 'IR-919' has been updated.
Row with Unique_ID 'IR-920' has been updated.
Row with Unique_ID 'IR-921' has been updated.
Row with Unique_ID 'IR-922' has been updated.
Row with Unique_ID 'IR-923' has been updated.
Row with Unique_ID 'IR-924' has been updated.
Row with Unique_ID 'IR-925' has been updated.
Row with Unique_ID 'IR-926' has been updated.
Row with Unique_ID 'IR-927' has been updated.
Row with Unique_ID 'IR-928' has been updated.
Iteration: 920, Elapsed Time: 164 minutes and 5.69 seconds
Row with Unique_ID 'IR-929' has been updated.
Row with Unique_ID 'IR-930' has been updated.
Row with Unique_ID 'IR-931' has been updated.
Row with Unique_ID 'IR-932' has been updated.
Row with Unique_ID 'IR-933' has been updated.
Row with Unique_ID 'IR-934' has been updated.
Row with Unique_ID 'IR-935' has been updated.
Row with Unique_ID 'IR-936' has been updated.
Row with Unique_ID 'IR-937' has been updated.
Row with Unique_ID 'IR-938' has been updated.
Iteration: 930, Elapsed Time: 165 minutes and 27.10 seconds
Row with Unique_ID 'IR-939' has been updated.
Row with Unique_ID 'IR-940' has been updated.
Row with Unique_ID 'IR-941' has been updated.
Row with Unique_ID 'IR-942' has been updated.
Row with Unique_ID 'IR-943' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-944' has been updated.
Row with Unique_ID 'IR-945' has been updated.
Row with Unique_ID 'IR-946' has been updated.
Row with Unique_ID 'IR-947' has been updated.
Row with Unique_ID 'IR-948' has been updated.
Iteration: 940, Elapsed Time: 166 minutes and 54.66 seconds
Row with Unique_ID 'IR-949' has been updated.
Row with Unique_ID 'IR-950' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-951' has been updated.
Row with Unique_ID 'IR-952' has been updated.
Row with Unique_ID 'IR-953' has been updated.
Row with Unique_ID 'IR-954' has been updated.
Row with Unique_ID 'IR-955' has been updated.
Row with Unique_ID 'IR-956' has been updated.
Row with Unique_ID 'IR-957' has been updated.
Row with Unique_ID 'IR-958' has been updated.
Iteration: 950, Elapsed Time: 168 minutes and 15.59 seconds
Row with Unique_ID 'IR-959' has been updated.
Row with Unique_ID 'IR-960' has been updated.
Row with Unique_ID 'IR-961' has been updated.
Row with Unique_ID 'IR-962' has been updated.
Row with Unique_ID 'IR-963' has been updated.
Row with Unique_ID 'IR-964' has been updated.
Row with Unique_ID 'IR-965' has been updated.
Row with Unique_ID 'IR-966' has been updated.
Row with Unique_ID 'IR-967' has been updated.
Row with Unique_ID 'IR-968' has been updated.
Iteration: 960, Elapsed Time: 169 minutes and 35.95 seconds
Row with Unique_ID 'IR-969' has been updated.
Row with Unique_ID 'IR-970' has been updated.
Row with Unique_ID 'IR-971' has been updated.
Row with Unique_ID 'IR-972' has been updated.
Row with Unique_ID 'IR-973' has been updated.
Row with Unique_ID 'IR-974' has been updated.
Row with Unique_ID 'IR-975' has been updated.
Row with Unique_ID 'IR-976' has been updated.
Row with Unique_ID 'IR-977' has been updated.
Row with Unique_ID 'IR-978' has been updated.
Iteration: 970, Elapsed Time: 171 minutes and 1.54 seconds
Row with Unique_ID 'IR-979' has been updated.
Row with Unique_ID 'IR-980' has been updated.
Row with Unique_ID 'IR-981' has been updated.
Row with Unique_ID 'IR-982' has been updated.
Row with Unique_ID 'IR-983' has been updated.
Row with Unique_ID 'IR-984' has been updated.
Row with Unique_ID 'IR-985' has been updated.
Row with Unique_ID 'IR-986' has been updated.
Row with Unique_ID 'IR-987' has been updated.
Row with Unique_ID 'IR-988' has been updated.
Iteration: 980, Elapsed Time: 172 minutes and 16.83 seconds
Row with Unique_ID 'IR-989' has been updated.
Row with Unique_ID 'IR-990' has been updated.
Row with Unique_ID 'IR-991' has been updated.
Row with Unique_ID 'IR-992' has been updated.
Row with Unique_ID 'IR-993' has been updated.
Row with Unique_ID 'IR-994' has been updated.
Row with Unique_ID 'IR-995' has been updated.
Row with Unique_ID 'IR-996' has been updated.
Row with Unique_ID 'IR-997' has been updated.
Row with Unique_ID 'IR-998' has been updated.
Iteration: 990, Elapsed Time: 173 minutes and 33.68 seconds
Row with Unique_ID 'IR-999' has been updated.
Row with Unique_ID 'IR-1000' has been updated.
Row with Unique_ID 'IR-1001' has been updated.
Row with Unique_ID 'IR-1002' has been updated.
Row with Unique_ID 'IR-1003' has been updated.
Row with Unique_ID 'IR-1004' has been updated.
Row with Unique_ID 'IR-1005' has been updated.
Row with Unique_ID 'IR-1006' has been updated.
Row with Unique_ID 'IR-1007' has been updated.
Row with Unique_ID 'IR-1008' has been updated.
Iteration: 1000, Elapsed Time: 174 minutes and 57.44 seconds
Row with Unique_ID 'IR-1009' has been updated.
Row with Unique_ID 'IR-1010' has been updated.
Row with Unique_ID 'IR-1011' has been updated.
Row with Unique_ID 'IR-1012' has been updated.
Row with Unique_ID 'IR-1013' has been updated.
Row with Unique_ID 'IR-1014' has been updated.
Row with Unique_ID 'IR-1015' has been updated.
Row with Unique_ID 'IR-1016' has been updated.
Row with Unique_ID 'IR-1017' has been updated.
Row with Unique_ID 'IR-1018' has been updated.
Iteration: 1010, Elapsed Time: 176 minutes and 12.20 seconds
Row with Unique_ID 'IR-1019' has been updated.
Row with Unique_ID 'IR-1020' has been updated.
Row with Unique_ID 'IR-1021' has been updated.
Row with Unique_ID 'IR-1022' has been updated.
Row with Unique_ID 'IR-1023' has been updated.
Row with Unique_ID 'IR-1024' has been updated.
Row with Unique_ID 'IR-1025' has been updated.
Row with Unique_ID 'IR-1026' has been updated.
Row with Unique_ID 'IR-1027' has been updated.
Row with Unique_ID 'IR-1028' has been updated.
Iteration: 1020, Elapsed Time: 177 minutes and 32.62 seconds
Row with Unique_ID 'IR-1029' has been updated.
Row with Unique_ID 'IR-1030' has been updated.
Row with Unique_ID 'IR-1031' has been updated.
Row with Unique_ID 'IR-1032' has been updated.
Row with Unique_ID 'IR-1033' has been updated.
Row with Unique_ID 'IR-1034' has been updated.
Row with Unique_ID 'IR-1035' has been updated.
Row with Unique_ID 'IR-1036' has been updated.
Row with Unique_ID 'IR-1037' has been updated.
Row with Unique_ID 'IR-1038' has been updated.
Iteration: 1030, Elapsed Time: 178 minutes and 46.71 seconds
Row with Unique_ID 'IR-1039' has been updated.

Row with Unique_ID 'IR-1040' has been updated.
Row with Unique_ID 'IR-1041' has been updated.
Row with Unique_ID 'IR-1042' has been updated.
Row with Unique_ID 'IR-1043' has been updated.
Row with Unique_ID 'IR-1044' has been updated.
Row with Unique_ID 'IR-1045' has been updated.
Row with Unique_ID 'IR-1046' has been updated.
Row with Unique_ID 'IR-1047' has been updated.
Row with Unique_ID 'IR-1048' has been updated.
Iteration: 1040, Elapsed Time: 180 minutes and 12.20 seconds
Row with Unique_ID 'IR-1049' has been updated.
Row with Unique_ID 'IR-1050' has been updated.
Row with Unique_ID 'IR-1051' has been updated.
Row with Unique_ID 'IR-1052' has been updated.
Row with Unique_ID 'IR-1053' has been updated.
Row with Unique_ID 'IR-1054' has been updated.
Row with Unique_ID 'IR-1055' has been updated.
Row with Unique_ID 'IR-1056' has been updated.
Row with Unique_ID 'IR-1057' has been updated.
Row with Unique_ID 'IR-1058' has been updated.
Iteration: 1050, Elapsed Time: 181 minutes and 34.59 seconds
Row with Unique_ID 'IR-1059' has been updated.
Row with Unique_ID 'IR-1060' has been updated.
Row with Unique_ID 'IR-1061' has been updated.
Row with Unique_ID 'IR-1062' has been updated.
Row with Unique_ID 'IR-1063' has been updated.
Row with Unique_ID 'IR-1064' has been updated.
Row with Unique_ID 'IR-1065' has been updated.
Row with Unique_ID 'IR-1066' has been updated.
Row with Unique_ID 'IR-1067' has been updated.
Row with Unique_ID 'IR-1068' has been updated.
Iteration: 1060, Elapsed Time: 182 minutes and 59.09 seconds
Row with Unique_ID 'IR-1069' has been updated.
Row with Unique_ID 'IR-1070' has been updated.
Row with Unique_ID 'IR-1071' has been updated.
Row with Unique_ID 'IR-1072' has been updated.
Row with Unique_ID 'IR-1073' has been updated.
Row with Unique_ID 'IR-1074' has been updated.
Row with Unique_ID 'IR-1075' has been updated.
Row with Unique_ID 'IR-1076' has been updated.
Row with Unique_ID 'IR-1077' has been updated.
Row with Unique_ID 'IR-1078' has been updated.
Iteration: 1070, Elapsed Time: 184 minutes and 10.18 seconds
Row with Unique_ID 'IR-1079' has been updated.
Row with Unique_ID 'IR-1080' has been updated.
Row with Unique_ID 'IR-1081' has been updated.
Row with Unique_ID 'IR-1082' has been updated.
Row with Unique_ID 'IR-1083' has been updated.
Row with Unique_ID 'IR-1084' has been updated.
Row with Unique_ID 'IR-1085' has been updated.
Row with Unique_ID 'IR-1086' has been updated.
Row with Unique_ID 'IR-1087' has been updated.
Row with Unique_ID 'IR-1088' has been updated.
Iteration: 1080, Elapsed Time: 185 minutes and 32.41 seconds
Row with Unique_ID 'IR-1089' has been updated.
Row with Unique_ID 'IR-1090' has been updated.
Row with Unique_ID 'IR-1091' has been updated.
Row with Unique_ID 'IR-1092' has been updated.
Error encountered: The `response.text` quick accessor only works when the response contains a valid `Part`, but none was returned. Check the `candidate.safety_ratings` to see if the response was blocked.. Retry 1/5
Row with Unique_ID 'IR-1093' has been updated.
Row with Unique_ID 'IR-1094' has been updated.
Row with Unique_ID 'IR-1095' has been updated.
Row with Unique_ID 'IR-1096' has been updated.
Row with Unique_ID 'IR-1097' has been updated.
Row with Unique_ID 'IR-1098' has been updated.
Iteration: 1090, Elapsed Time: 187 minutes and 8.28 seconds
Row with Unique_ID 'IR-1099' has been updated.
Row with Unique_ID 'IR-1100' has been updated.
Row with Unique_ID 'IR-1101' has been updated.
Row with Unique_ID 'IR-1102' has been updated.
Row with Unique_ID 'IR-1103' has been updated.
Row with Unique_ID 'IR-1104' has been updated.
Row with Unique_ID 'IR-1105' has been updated.
Row with Unique_ID 'IR-1106' has been updated.
Row with Unique_ID 'IR-1107' has been updated.
Row with Unique_ID 'IR-1108' has been updated.
Iteration: 1100, Elapsed Time: 188 minutes and 19.45 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1109' has been updated.
Row with Unique_ID 'IR-1110' has been updated.
Row with Unique_ID 'IR-1111' has been updated.
Row with Unique_ID 'IR-1112' has been updated.
Row with Unique_ID 'IR-1113' has been updated.
Row with Unique_ID 'IR-1114' has been updated.
Row with Unique_ID 'IR-1115' has been updated.
Row with Unique_ID 'IR-1116' has been updated.
Row with Unique_ID 'IR-1117' has been updated.
Row with Unique_ID 'IR-1118' has been updated.
Iteration: 1110, Elapsed Time: 189 minutes and 49.28 seconds
Row with Unique_ID 'IR-1119' has been updated.
Row with Unique_ID 'IR-1120' has been updated.
Row with Unique_ID 'IR-1121' has been updated.
Row with Unique_ID 'IR-1122' has been updated.
Row with Unique_ID 'IR-1123' has been updated.
Row with Unique_ID 'IR-1124' has been updated.
Row with Unique_ID 'IR-1125' has been updated.
Row with Unique_ID 'IR-1126' has been updated.
Row with Unique_ID 'IR-1127' has been updated.
Row with Unique_ID 'IR-1128' has been updated.
Iteration: 1120, Elapsed Time: 191 minutes and 13.87 seconds
Row with Unique_ID 'IR-1129' has been updated.
Row with Unique_ID 'IR-1130' has been updated.
Row with Unique_ID 'IR-1131' has been updated.
Row with Unique_ID 'IR-1132' has been updated.
Row with Unique_ID 'IR-1133' has been updated.
Row with Unique_ID 'IR-1134' has been updated.
Row with Unique_ID 'IR-1135' has been updated.
Row with Unique_ID 'IR-1136' has been updated.
Row with Unique_ID 'IR-1137' has been updated.
Row with Unique_ID 'IR-1138' has been updated.
Iteration: 1130, Elapsed Time: 192 minutes and 27.58 seconds
Row with Unique_ID 'IR-1139' has been updated.
Row with Unique_ID 'IR-1140' has been updated.
Row with Unique_ID 'IR-1141' has been updated.
Row with Unique_ID 'IR-1142' has been updated.
Row with Unique_ID 'IR-1143' has been updated.
Row with Unique_ID 'IR-1144' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1145' has been updated.
Row with Unique_ID 'IR-1146' has been updated.
Row with Unique_ID 'IR-1147' has been updated.
Row with Unique_ID 'IR-1148' has been updated.
Iteration: 1140, Elapsed Time: 193 minutes and 45.86 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-1149' has been updated.
Row with Unique_ID 'IR-1150' has been updated.
Row with Unique_ID 'IR-1151' has been updated.
Row with Unique_ID 'IR-1152' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1153' has been updated.
Row with Unique_ID 'IR-1154' has been updated.
Row with Unique_ID 'IR-1155' has been updated.
Row with Unique_ID 'IR-1156' has been updated.
Row with Unique_ID 'IR-1157' has been updated.
Row with Unique_ID 'IR-1158' has been updated.
Iteration: 1150, Elapsed Time: 195 minutes and 29.27 seconds
Row with Unique_ID 'IR-1159' has been updated.
Row with Unique_ID 'IR-1160' has been updated.
Row with Unique_ID 'IR-1161' has been updated.
Row with Unique_ID 'IR-1162' has been updated.
Row with Unique_ID 'IR-1163' has been updated.
Row with Unique_ID 'IR-1164' has been updated.
Row with Unique_ID 'IR-1165' has been updated.
Row with Unique_ID 'IR-1166' has been updated.
Row with Unique_ID 'IR-1167' has been updated.
Row with Unique_ID 'IR-1168' has been updated.
Iteration: 1160, Elapsed Time: 196 minutes and 54.43 seconds
Row with Unique_ID 'IR-1169' has been updated.
Row with Unique_ID 'IR-1170' has been updated.
Row with Unique_ID 'IR-1171' has been updated.
Row with Unique_ID 'IR-1172' has been updated.
Row with Unique_ID 'IR-1173' has been updated.
Row with Unique_ID 'IR-1174' has been updated.
Row with Unique_ID 'IR-1175' has been updated.
Row with Unique_ID 'IR-1176' has been updated.
Row with Unique_ID 'IR-1177' has been updated.
Row with Unique_ID 'IR-1178' has been updated.
Iteration: 1170, Elapsed Time: 198 minutes and 16.88 seconds
Row with Unique_ID 'IR-1179' has been updated.
Row with Unique_ID 'IR-1180' has been updated.
Row with Unique_ID 'IR-1181' has been updated.
Row with Unique_ID 'IR-1182' has been updated.
Row with Unique_ID 'IR-1183' has been updated.
Row with Unique_ID 'IR-1184' has been updated.

Row with Unique_ID 'IR-1185' has been updated.
Row with Unique_ID 'IR-1186' has been updated.
Row with Unique_ID 'IR-1187' has been updated.
Row with Unique_ID 'IR-1188' has been updated.
Iteration: 1180, Elapsed Time: 199 minutes and 40.04 seconds
Row with Unique_ID 'IR-1189' has been updated.
Row with Unique_ID 'IR-1190' has been updated.
Row with Unique_ID 'IR-1191' has been updated.
Row with Unique_ID 'IR-1192' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1193' has been updated.
Row with Unique_ID 'IR-1194' has been updated.
Row with Unique_ID 'IR-1195' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1196' has been updated.
Row with Unique_ID 'IR-1197' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1198' has been updated.
Iteration: 1190, Elapsed Time: 201 minutes and 15.82 seconds
Row with Unique_ID 'IR-1199' has been updated.
Row with Unique_ID 'IR-1200' has been updated.
Row with Unique_ID 'IR-1201' has been updated.
Row with Unique_ID 'IR-1202' has been updated.
Row with Unique_ID 'IR-1203' has been updated.
Row with Unique_ID 'IR-1204' has been updated.
Row with Unique_ID 'IR-1205' has been updated.
Row with Unique_ID 'IR-1206' has been updated.
Row with Unique_ID 'IR-1207' has been updated.
Row with Unique_ID 'IR-1208' has been updated.
Iteration: 1200, Elapsed Time: 202 minutes and 30.87 seconds
Row with Unique_ID 'IR-1209' has been updated.
Row with Unique_ID 'IR-1210' has been updated.
Row with Unique_ID 'IR-1211' has been updated.
Row with Unique_ID 'IR-1212' has been updated.
Row with Unique_ID 'IR-1213' has been updated.
Row with Unique_ID 'IR-1214' has been updated.
Row with Unique_ID 'IR-1215' has been updated.
Row with Unique_ID 'IR-1216' has been updated.
Row with Unique_ID 'IR-1217' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1218' has been updated.
Iteration: 1210, Elapsed Time: 203 minutes and 53.02 seconds
Row with Unique_ID 'IR-1219' has been updated.
Row with Unique_ID 'IR-1220' has been updated.
Row with Unique_ID 'IR-1221' has been updated.
Row with Unique_ID 'IR-1222' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1223' has been updated.
Row with Unique_ID 'IR-1224' has been updated.
Row with Unique_ID 'IR-1225' has been updated.
Row with Unique_ID 'IR-1226' has been updated.
Row with Unique_ID 'IR-1227' has been updated.
Row with Unique_ID 'IR-1228' has been updated.
Iteration: 1220, Elapsed Time: 205 minutes and 13.31 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1229' has been updated.
Row with Unique_ID 'IR-1230' has been updated.
Row with Unique_ID 'IR-1231' has been updated.
Row with Unique_ID 'IR-1232' has been updated.
Row with Unique_ID 'IR-1233' has been updated.
Row with Unique_ID 'IR-1234' has been updated.
Row with Unique_ID 'IR-1235' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1236' has been updated.
Row with Unique_ID 'IR-1237' has been updated.
Row with Unique_ID 'IR-1238' has been updated.
Iteration: 1230, Elapsed Time: 206 minutes and 56.23 seconds
Row with Unique_ID 'IR-1239' has been updated.
Row with Unique_ID 'IR-1240' has been updated.
Row with Unique_ID 'IR-1241' has been updated.
Row with Unique_ID 'IR-1242' has been updated.
Row with Unique_ID 'IR-1243' has been updated.
Row with Unique_ID 'IR-1244' has been updated.
Row with Unique_ID 'IR-1245' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1246' has been updated.
Row with Unique_ID 'IR-1247' has been updated.
Row with Unique_ID 'IR-1248' has been updated.
Iteration: 1240, Elapsed Time: 208 minutes and 12.84 seconds
Row with Unique_ID 'IR-1249' has been updated.
Row with Unique_ID 'IR-1250' has been updated.
Row with Unique_ID 'IR-1251' has been updated.
Row with Unique_ID 'IR-1252' has been updated.
Row with Unique_ID 'IR-1253' has been updated.
Row with Unique_ID 'IR-1254' has been updated.
Row with Unique_ID 'IR-1255' has been updated.
Row with Unique_ID 'IR-1256' has been updated.
Row with Unique_ID 'IR-1257' has been updated.
Row with Unique_ID 'IR-1258' has been updated.
Iteration: 1250, Elapsed Time: 209 minutes and 31.62 seconds
Row with Unique_ID 'IR-1259' has been updated.
Row with Unique_ID 'IR-1260' has been updated.
Row with Unique_ID 'IR-1261' has been updated.
Row with Unique_ID 'IR-1262' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-1263' has been updated.
Row with Unique_ID 'IR-1264' has been updated.
Row with Unique_ID 'IR-1265' has been updated.
Row with Unique_ID 'IR-1266' has been updated.
Row with Unique_ID 'IR-1267' has been updated.
Row with Unique_ID 'IR-1268' has been updated.
Iteration: 1260, Elapsed Time: 211 minutes and 9.19 seconds
Row with Unique_ID 'IR-1269' has been updated.
Row with Unique_ID 'IR-1270' has been updated.
Row with Unique_ID 'IR-1271' has been updated.
Row with Unique_ID 'IR-1272' has been updated.
Row with Unique_ID 'IR-1273' has been updated.
Row with Unique_ID 'IR-1274' has been updated.
Row with Unique_ID 'IR-1275' has been updated.
Row with Unique_ID 'IR-1276' has been updated.
Row with Unique_ID 'IR-1277' has been updated.
Row with Unique_ID 'IR-1278' has been updated.
Iteration: 1270, Elapsed Time: 212 minutes and 31.19 seconds
Row with Unique_ID 'IR-1279' has been updated.
Row with Unique_ID 'IR-1280' has been updated.
Row with Unique_ID 'IR-1281' has been updated.
Row with Unique_ID 'IR-1282' has been updated.
Row with Unique_ID 'IR-1283' has been updated.
Row with Unique_ID 'IR-1284' has been updated.
Row with Unique_ID 'IR-1285' has been updated.
Row with Unique_ID 'IR-1286' has been updated.
Row with Unique_ID 'IR-1287' has been updated.
Row with Unique_ID 'IR-1288' has been updated.
Iteration: 1280, Elapsed Time: 213 minutes and 55.53 seconds
Row with Unique_ID 'IR-1289' has been updated.
Row with Unique_ID 'IR-1290' has been updated.
Row with Unique_ID 'IR-1291' has been updated.
Row with Unique_ID 'IR-1292' has been updated.
Row with Unique_ID 'IR-1293' has been updated.
Row with Unique_ID 'IR-1294' has been updated.
Row with Unique_ID 'IR-1295' has been updated.
Row with Unique_ID 'IR-1296' has been updated.
Row with Unique_ID 'IR-1297' has been updated.
Row with Unique_ID 'IR-1298' has been updated.
Iteration: 1290, Elapsed Time: 215 minutes and 8.11 seconds
Row with Unique_ID 'IR-1299' has been updated.
Row with Unique_ID 'IR-1300' has been updated.
Row with Unique_ID 'IR-1301' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-1302' has been updated.
Row with Unique_ID 'IR-1303' has been updated.
Row with Unique_ID 'IR-1304' has been updated.
Row with Unique_ID 'IR-1305' has been updated.
Row with Unique_ID 'IR-1306' has been updated.
Row with Unique_ID 'IR-1307' has been updated.
Row with Unique_ID 'IR-1308' has been updated.
Iteration: 1300, Elapsed Time: 216 minutes and 46.16 seconds
Row with Unique_ID 'IR-1309' has been updated.
Row with Unique_ID 'IR-1310' has been updated.
Row with Unique_ID 'IR-1311' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1312' has been updated.
Row with Unique_ID 'IR-1313' has been updated.
Row with Unique_ID 'IR-1314' has been updated.
Row with Unique_ID 'IR-1315' has been updated.
Row with Unique_ID 'IR-1316' has been updated.
Row with Unique_ID 'IR-1317' has been updated.
Row with Unique_ID 'IR-1318' has been updated.
Iteration: 1310, Elapsed Time: 218 minutes and 14.16 seconds
Row with Unique_ID 'IR-1319' has been updated.
Row with Unique_ID 'IR-1320' has been updated.
Row with Unique_ID 'IR-1321' has been updated.
Row with Unique_ID 'IR-1322' has been updated.

Row with Unique_ID 'IR-1323' has been updated.
Row with Unique_ID 'IR-1324' has been updated.
Row with Unique_ID 'IR-1325' has been updated.
Row with Unique_ID 'IR-1326' has been updated.
Row with Unique_ID 'IR-1327' has been updated.
Row with Unique_ID 'IR-1328' has been updated.
Iteration: 1320, Elapsed Time: 219 minutes and 39.01 seconds
Row with Unique_ID 'IR-1329' has been updated.
Row with Unique_ID 'IR-1330' has been updated.
Row with Unique_ID 'IR-1331' has been updated.
Row with Unique_ID 'IR-1332' has been updated.
Row with Unique_ID 'IR-1333' has been updated.
Row with Unique_ID 'IR-1334' has been updated.
Row with Unique_ID 'IR-1335' has been updated.
Row with Unique_ID 'IR-1336' has been updated.
Row with Unique_ID 'IR-1337' has been updated.
Row with Unique_ID 'IR-1338' has been updated.
Iteration: 1330, Elapsed Time: 220 minutes and 57.14 seconds
Row with Unique_ID 'IR-1339' has been updated.
Row with Unique_ID 'IR-1340' has been updated.
Row with Unique_ID 'IR-1341' has been updated.
Row with Unique_ID 'IR-1342' has been updated.
Row with Unique_ID 'IR-1343' has been updated.
Row with Unique_ID 'IR-1344' has been updated.
Row with Unique_ID 'IR-1345' has been updated.
Row with Unique_ID 'IR-1346' has been updated.
Row with Unique_ID 'IR-1347' has been updated.
Row with Unique_ID 'IR-1348' has been updated.
Iteration: 1340, Elapsed Time: 222 minutes and 17.76 seconds
Row with Unique_ID 'IR-1349' has been updated.
Row with Unique_ID 'IR-1350' has been updated.
Row with Unique_ID 'IR-1351' has been updated.
Row with Unique_ID 'IR-1352' has been updated.
Row with Unique_ID 'IR-1353' has been updated.
Row with Unique_ID 'IR-1354' has been updated.
Row with Unique_ID 'IR-1355' has been updated.
Row with Unique_ID 'IR-1356' has been updated.
Row with Unique_ID 'IR-1357' has been updated.
Row with Unique_ID 'IR-1358' has been updated.
Iteration: 1350, Elapsed Time: 223 minutes and 35.92 seconds
Row with Unique_ID 'IR-1359' has been updated.
Row with Unique_ID 'IR-1360' has been updated.
Row with Unique_ID 'IR-1361' has been updated.
Row with Unique_ID 'IR-1362' has been updated.
Row with Unique_ID 'IR-1363' has been updated.
Row with Unique_ID 'IR-1364' has been updated.
Row with Unique_ID 'IR-1365' has been updated.
Row with Unique_ID 'IR-1366' has been updated.
Row with Unique_ID 'IR-1367' has been updated.
Row with Unique_ID 'IR-1368' has been updated.
Iteration: 1360, Elapsed Time: 224 minutes and 56.86 seconds
Row with Unique_ID 'IR-1369' has been updated.
Error encountered: The `response.text` quick accessor only works when the response contains a valid `Part`, but none was returned. Check the `candidate.safety_ratings` to see if the response was blocked.. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-1370' has been updated.
Row with Unique_ID 'IR-1371' has been updated.
Row with Unique_ID 'IR-1372' has been updated.
Row with Unique_ID 'IR-1373' has been updated.
Row with Unique_ID 'IR-1374' has been updated.
Row with Unique_ID 'IR-1375' has been updated.
Row with Unique_ID 'IR-1376' has been updated.
Row with Unique_ID 'IR-1377' has been updated.
Row with Unique_ID 'IR-1378' has been updated.
Iteration: 1370, Elapsed Time: 226 minutes and 26.18 seconds
Row with Unique_ID 'IR-1379' has been updated.
Row with Unique_ID 'IR-1380' has been updated.
Row with Unique_ID 'IR-1381' has been updated.
Row with Unique_ID 'IR-1382' has been updated.
Row with Unique_ID 'IR-1383' has been updated.
Row with Unique_ID 'IR-1384' has been updated.
Row with Unique_ID 'IR-1385' has been updated.
Row with Unique_ID 'IR-1386' has been updated.
Row with Unique_ID 'IR-1387' has been updated.
Row with Unique_ID 'IR-1388' has been updated.
Iteration: 1380, Elapsed Time: 227 minutes and 42.21 seconds
Row with Unique_ID 'IR-1389' has been updated.
Row with Unique_ID 'IR-1390' has been updated.
Row with Unique_ID 'IR-1391' has been updated.
Row with Unique_ID 'IR-1392' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1393' has been updated.
Row with Unique_ID 'IR-1394' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-1395' has been updated.
Row with Unique_ID 'IR-1396' has been updated.
Row with Unique_ID 'IR-1397' has been updated.
Row with Unique_ID 'IR-1398' has been updated.
Iteration: 1390, Elapsed Time: 229 minutes and 21.47 seconds
Row with Unique_ID 'IR-1399' has been updated.
Row with Unique_ID 'IR-1400' has been updated.
Row with Unique_ID 'IR-1401' has been updated.
Row with Unique_ID 'IR-1402' has been updated.
Row with Unique_ID 'IR-1403' has been updated.
Row with Unique_ID 'IR-1404' has been updated.
Row with Unique_ID 'IR-1405' has been updated.
Row with Unique_ID 'IR-1406' has been updated.
Row with Unique_ID 'IR-1407' has been updated.
Row with Unique_ID 'IR-1408' has been updated.
Iteration: 1400, Elapsed Time: 230 minutes and 52.53 seconds
Row with Unique_ID 'IR-1409' has been updated.
Row with Unique_ID 'IR-1410' has been updated.
Row with Unique_ID 'IR-1411' has been updated.
Row with Unique_ID 'IR-1412' has been updated.
Row with Unique_ID 'IR-1413' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-1414' has been updated.
Row with Unique_ID 'IR-1415' has been updated.
Row with Unique_ID 'IR-1416' has been updated.
Row with Unique_ID 'IR-1417' has been updated.
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 1/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 2/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 3/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 4/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 5/5
Failed to process unique_id IR-1418 after 5 attempts. Stopping.