# Import Libraries and Clone Github

In [1]:
# Import Libraries
import os
import re
import time
import pandas as pd
import google.generativeai as genai

In [2]:
# Global Variables
CATEGORIES = [
        "Finance",
        "Production",
        "Reserves / Exploration / Acquisitions / Mergers / Divestments",
        "Environment / Regulatory / Geopolitics",
        "Alternative Energy / Lower Carbon",
        "Oil Price / Natural Gas Price / Gasoline Price"]
SENTIMENT_RESULTS_FILE_PATH = 'Sentiment_Analysis_Results.csv'

# Import Data

In [3]:
# Import all cleaned data files
invest_df1 = pd.read_csv('../02_Cleaned_Data/Investment_Research_Part1.csv')
invest_df2 = pd.read_csv('../02_Cleaned_Data/Investment_Research_Part2.csv')
proquest_df = pd.read_csv('../02_Cleaned_Data/ProQuest_Articles.csv')
earnings_presentations = pd.read_csv('../02_Cleaned_Data/Earnings_Presentations.csv')
earnings_qa = pd.read_csv('../02_Cleaned_Data/Earnings_QA.csv')
sec_df = pd.read_csv('../02_Cleaned_Data/SEC_Filings.csv')

# Merge into single df
text_df = pd.concat([invest_df1, invest_df2, proquest_df, sec_df, earnings_presentations, earnings_qa], ignore_index=True)
display(text_df.shape)
display(text_df.head())
display(text_df.tail())

(10126, 7)

,Source,Unique_ID,Ticker,Date,Article Headline,Article Text,URL
0,Investment Research,IR-1,MRO,2024-05-16,Marathon Oil Corporation,"Stock Report | May 16, 2024 | NYSESymbol: MRO ...",NaN
1,Investment Research,IR-2,EOG,2024-05-14,"EOG Resources, Inc.","Stock Report | May 14, 2024 | NYSESymbol: EOG ...",NaN
2,Investment Research,IR-3,EOG,2024-05-11,"EOG Resources, Inc.","Stock Report | May 11, 2024 | NYSESymbol: EOG ...",NaN
3,Investment Research,IR-4,DVN,2024-05-11,Devon Energy Corporation,"Stock Report | May 11, 2024 | NYSESymbol: DVN ...",NaN
4,Investment Research,IR-5,COP,2024-05-07,ConocoPhillips,"Stock Report | May 07, 2024 | NYSESymbol: COP ...",NaN

,Source,Unique_ID,Ticker,Date,Article Headline,Article Text,URL
10121,Earnings Call Q&A,EQ-338,XOM,Feb-02-2021,"Exxon Mobil Corporation, Q4 2020 Earnings Call...",Question and Answer\r\nOperator\r\n[Operator I...,NaN
10122,Earnings Call Q&A,EQ-339,COP,Feb-02-2021,"ConocoPhillips, Q4 2020 Earnings Call, Feb 02,...",Question and Answer\r\nOperator\r\n[Operator I...,NaN
10123,Earnings Call Q&A,EQ-340,EOG,May-03-2019,"EOG Resources, Inc., Q1 2019 Earnings Call, Ma...",Question and Answer\r\nOperator\r\n[Operator I...,NaN
10124,Earnings Call Q&A,EQ-341,SHEL,May-02-2019,"Royal Dutch Shell plc, Q1 2019 Earnings Call, ...",Question and Answer\r\nOperator\r\n[Operator I...,NaN
10125,Earnings Call Q&A,EQ-342,COP,Apr-30-2019,"ConocoPhillips, Q1 2019 Earnings Call, Apr 30,...",Question and Answer\r\nOperator\r\n[Operator I...,NaN

# Find or Create Results CSV

In [4]:
# Determine if the Sentiment Analysis Results file already exists
file_exists = os.path.isfile(SENTIMENT_RESULTS_FILE_PATH)

# Print the result
if file_exists:
    print(f"The file exists in the current directory.")
else:
    print(f"The file does not exist in the current directory.")

The file exists in the current directory.

In [5]:
# Create an empty file if the file does not exist
if not file_exists:
    # Copy text df and drop the text and headline column due to size
    empty_sentiment_df = text_df.copy()
    empty_sentiment_df = empty_sentiment_df.drop(['Article Text', 'Article Headline'], axis=1)

    for category in CATEGORIES:
        empty_sentiment_df[category] = ""
        empty_sentiment_df[category] = empty_sentiment_df[category].astype('object')

    # Display results
    display(empty_sentiment_df.head())

    # Save as CSV
    empty_sentiment_df.to_csv(SENTIMENT_RESULTS_FILE_PATH, index=False)

### NOTE: If you want to re-run the sentiment analysis, delete or archive the csv to create a blank one

# Sentiment Analysis
NOTE: Google gemini **currently** has a daily query limit of 1,500 requests per day.  As we have over 10,000 documents, the code will be designed to run over multiple days and pick up where we last left off.  After the code is run, the user will still need to manually download the csv and upload to github.

**Gemini Free Rate Limits**
*   15 RPM (requests per minute)
*   1 million TPM (tokens per minute)
*   1,500 RPD (requests per day)

In [6]:
# Set up Gemini. (API key needs to be in your environment variables)
key = 'GOOGLE_API_KEY'
GOOGLE_API_KEY = os.getenv(key)
genai.configure(api_key=GOOGLE_API_KEY)

# So it doesn't block the output
safety_settings = [
    {
        "category": "HARM_CATEGORY_DANGEROUS",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_HARASSMENT",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_HATE_SPEECH",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
        "threshold": "BLOCK_NONE",
    },
    {
        "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
        "threshold": "BLOCK_NONE",},]

model = genai.GenerativeModel('gemini-1.5-flash-latest', safety_settings=safety_settings)

In [7]:
# Function to find the first empty row of the csv
def find_first_unique_id_with_empty_values(file_path, categories):
    """
    Finds the first unique ID where any of the specified columns have empty values in a CSV file.

    Args:
        file_path (str): The path to the CSV file.
        categories (list of str): List of column names to check for empty values.

    Returns:
        str: The first Unique_ID where any of the specified columns have empty values.
        None: If no such row is found.
    """

    # Load the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Iterate over each row to find the first unique ID with any empty values in the specified columns
    for index, row in df.iterrows():
        if row[categories].isnull().any() or (row[categories] == '').any():
            return row['Unique_ID']

    return None  # Return None if no such row is found

# Test function
unique_id = find_first_unique_id_with_empty_values(SENTIMENT_RESULTS_FILE_PATH, CATEGORIES)
print(unique_id)

IR-3288

In [8]:
# Helper function to get Gemini query function inputs
def get_gemini_inputs(text_df, unique_id):
    """
    Retrieves information from the DataFrame based on the unique ID and outputs company, source, headline, and text.

    Args:
        text_df (pd.DataFrame): The DataFrame containing the text data.
        unique_id (str): The unique ID to search for.

    Returns:
        tuple: A tuple containing company, source, headline, and text.
    """
    # Find the row with the specified unique ID
    row = text_df[text_df['Unique_ID'] == unique_id]

    # Extract the required information
    company = row['Ticker'].values[0]
    source = row['Source'].values[0]
    headline = row['Article Headline'].values[0]
    text = row['Article Text'].values[0]

    return company, source, headline, text

# Test function
company, source, headline, text = get_gemini_inputs(text_df, unique_id)
print(f"Company: {company}\n")
print(f"Source: {source}\n")
print(f"Headline: {headline}\n")
print(f"Text:\n{text}")

Company: OXY

Source: Investment Research

Headline: Occidental Petroleum Corporation

Text:
Stock Report | August 27, 2022 | NYSE Symbol: OXY | OXY is in the S&P 500
Occidental Petroleum Corporation
Recommendation Price 12-Mo. Target Price Report Currency Investment Style
BUY « « « « «
USD 73.55 (as of market close Aug 26, 2022) USD 73.00 USD Large-Cap Value
Equity Analyst Stewart Glickman, CFA
GICS Sector Energy Summary One of the largest oil & gas companies in the U.S., OXY has global exploration & production
Sub-Industry Integrated Oil and Gas operations and a large chemicals business.
Key Stock Statistics (Source: CFRA, S&P Global Market Intelligence (SPGMI), Company Reports)
52-Wk Range USD 76.1 - 23.91 Oper.EPS2022E USD 10.70 Market Capitalization[B] USD 68.33 Beta 1.91
Trailing 12-Month EPS USD 7.63 Oper.EPS2023E USD 8.35 Yield [%] 0.71 3-yr Proj. EPS CAGR[%] 22
Trailing 12-Month P/E 9.64 P/E on Oper.EPS2022E 6.87 Dividend Rate/Share USD 0.52 SPGMI's Quality Ranking B-
USD 10K Invested 5 Yrs Ago 14,718.0 Common Shares Outstg.[M] 929.00 Trailing 12-Month Dividend USD 0.4 Institutional Ownership [%] 63.0
Price Performance Analyst's Risk Assessment
LOW MEDIUM HIGH
In 2018, OXY had a large oil and gas growth engine
complemented by a chemicals business that returned
strong cash flows, and as such, OXY was a relatively
moderate risk, in our view. However, the August 2019 high-
stakes acquisition of rival Anadarko results in OXY paying a
high coupon on its preferred stock, dilutes existing
shareholders, and although the near-term pressure from
debt milestones was alleviated in 2021, it will return in
coming years. We think the ultimate success of this
takeover hinges on OXY’s ability, post-deal, to quickly and
successfully divest assets deemed non-core and to deliver
stated synergies.
Revenue/Earnings Data
Revenue (Million USD)
1Q 2Q 3Q 4Q Year
2023 E 8,400 E 8,200 E 8,000 E 8,000 E 32,600
Source: CFRA, S&P Global Market Intelligence
2022 8,349 10,676 E 9,500 E 8,900 E 36,724
Past performance is not an indication of future performance and should not be relied upon as such.
2021 5,293 5,958 6,792 7,913 25,956
Analysis prepared by Stewart Glickman, CFA on Aug 15, 2022 01:44 AM ET, when the stock traded at USD 65.73.
2020 6,613 2,928 4,108 4,160 17,809
2019 4,004 4,420 5,687 6,282 20,393
Highlights Investment Rationale/Risk
2018 3,763 4,083 5,216 4,762 17,824
uIn February 2022, OXY guided to 2022 capital uOur opinion is Buy. OXY’s hostile 2019 takeover
Earnings Per Share (USD)
spending in a range of $3.9B - $4.3B, with of the former Anadarko remains a gamble that
1Q 2Q 3Q 4Q Year
upstream capex of $3.2B - $3.4B. Given total looks better today than it did a year ago, due to
capex in ‘21 of just $2.9B, this is a fairly the recovery in energy prices, which could 2023 E 2.33 E 2.12 E 1.98 E 1.92 E 8.35
substantial increase. We think some of the enable OXY to restore its balance sheet if strong 2022 2.12 3.16 E 2.83 E 2.59 E 10.70
increase reflects oil services cost inflation, but pricing persists. We also think that OXY’s 2021 -0.15 0.32 0.87 1.48 2.55
also includes projects targeting Scope 1 and 2 majority stake in Western Midstream (WES 27 2020 -0.52 -1.76 -0.84 -0.78 -3.91
emissions, as well as margin improvement Not Rated) provides more reliable gas takeaway 2019 0.84 0.97 0.11 -0.30 1.45
efforts in its Chemicals unit. We think OXY aims capacity out of the Permian, which is not yet an 2018 0.92 1.10 1.77 1.22 5.01
for relatively flat upstream production in 2022. issue but could become a factor in 2023. Fiscal Year ended Dec 31. EPS Estimates based on CFRA's
uWTI crude oil prices surged in early 2022 to the uRisks to our opinion and target price include a Operating Earnings; historical earnings are adjusted. In periods
low $110 per barrel range, but have settled back significant drop in energy demand; lower than where a different currency has been reported, this has been
adjusted to match the current quoted currency.
towards $90/b. If prices remain fairly high, we expected cost synergies; weak Permian
think they provide significant relief for OXY on production or pricing; poor returns on non-core
Dividend Data
two fronts. First, it allows for stronger operating asset sales; and a credit rating downgrade.
cash flow. Second, it should enhance valuation uOur $73 12-month target reflects a multiple of Amount Date Ex-Div. Stk. of Payment
with respect to potential non-core asset sales. 5.3x enterprise value to projected 2023 EBITDA, ( USD) Decl. Date Record Date
We think OXY will prioritize balance sheet health a premium to the E&P peer average. The macro 0.1300 Jul 27 Sep 09 Sep 12 Oct 17 '22
over growth per se in 2022. outlook is improved (with some risk from the 0.1300 May 06 Jun 09 Jun 10 Jul 15 '22
uOXY repaid $6.7B of debt in 2021, and ended Omicron variant), and could give OXY enough 0.1300 Feb 24 Mar 09 Mar 10 Apr 15 '22
2021 with net debt of $27B, down 24% from the time to complete its deleveraging. The Anadarko 0.0100 Nov 03 Dec 09 Dec 10 Jan 14 '22
end of 2020, with a goal of $20B. Should high acquisition was aggressive, a departure from
Dividends have been paid since 1971 . Source: Company reports
prices persist in 2022, we think further progress past management style, and elevated OXY’s risk
Past performance is not an indication of future performance
can be made, which we think would be advisable profile. In 2022, OXY raised its quarterly dividend
and should not be relied as such.
since OXY’s net debt to capital ratio at year-end to $0.13 per share (1.1% yield), from prior $0.01
Forecasts are not a reliable indicator of future performance.
2021 (67%) was still more than 2x the peer per share.
Dividends paid in currencies other than the Trading currency have
median.
Redistribution or reproduction is prohibited without written permission. Copyright © 2022 CFRA. This document is not intended to provide personal investment advice and it does not take into account the specific investment
objectives, financial situation and the particular needs of any specific person who may receive this report. Investors should seek independent financial advice regarding the suitability and/or appropriateness of making an investment
or implementing the investment strategies discussed in this document and should understand that statements regarding future prospects may not be realized. Investors should note that income from such investments, if any,
may fluctuate and that the value of such investments may rise or fall. Accordingly, investors may receive back less than they originally invested. Investors should seek advice concerning any impact this investment may have on
their personal tax position from their own tax advisor. Please note the publication date of this document. It may contain specific information that is no longer current and should not be used to make an investment decision. Unless
otherwise indicated, there is no intention to update this document.
1
Stock Report | August 27, 2022 | NYSE Symbol: OXY | OXY is in the S&P 500
Occidental Petroleum Corporation
Business Summary May 26, 2022 Corporate information
CORPORATE OVERVIEW. One of the largest oil & gas companies in the U.S., Occidental Petroleum Corp. (OXY) Investor contact
engages in oil & gas development and integrates that development with related midstream assets as well as J. Alvarez (713 215 7000)
downstream production of chemicals. While not fully integrated into refining operations, we view OXY as
more integrated than a typical E&P, given the Chemicals business. OXY’s businesses operate in three Office
segments: Oil & Gas; Chemicals; and Midstream & Marketing. 5 Greenway Plaza, Suite 110, Houston, Texas, 77046-
The Oil & Gas segment explores for, develops, produces, and markets crude oil and natural gas. Oil & gas 0521
production from ongoing operations was up 31% to 1.03 mmboe/d in 2021. Proved oil & gas reserves as of
Telephone
year-end 2021 were 3.51 billion boe (75% developed, 72% liquids). This segment generated an operating
713 215 7000
gain of $4.1 billion in 2021, versus an operating loss of $9.6 billion achieved in 2020. However, the year-to-
year comparison (a difference of about $13.7 billion) includes about $7 billion in impairment charges taken Fax
in 2020 on unproved acreage, largely within the U.S. Overall, 2021 was a recovery year for OXY, coming after N/A
a rough 2020. As of May 2022, crude oil pricing looks to be quite strong ($100+ per barrel range), and the
U.S. EIA projects WTI averaging $98 per barrel in 2022 and $93 per barrel in 2022. However, investors should Website
be aware that crude oil price strength could dissipate if a sharp recession ensues, because crude oil www.oxy.com
demand is well-correlated with GDP.
OxyChem operates at 22 domestic sites, and in Canada and Chile, focusing on low-cost manufacturing of Officers
basic chemicals and vinyls. OXY believes it has a #1 or #2 market share in all of its various basic chemicals Senior VP, General Counsel President, CEO & Director
products, such as chlorine or caustic soda. OxyChem generated operating income of $1.54 billion in 2021, & Chief Compliance Officer V. A. Hollub
versus $644 million in 2020. M. E. Backus
VP, Chief Accounting
The Midstream & Marketing segment generated a 2021 operating profit of $257 million, considerably better
President, CEO & Director Officer & Controller
than the $4.2 billion operating loss in 2020. Virtually all of the decline stems from a $4.2 billion impairment
V. A. Hollub C. O. Champion
charge on its equity investment in Western Midstream Partners (WES 27 Not Rated), a subsidiary acquired
in the August 2019 Anadarko transaction. At year-end 2021, OXY had a 51.8% stake in WES’s limited Independent Chairman Senior VP & CFO
partnership units. S. I. Chazen R. L. Peterson
IMPACT OF MAJOR DEVELOPMENTS. In April 2019, OXY won a hostile takeover bidding war for the former
Anadarko Petroleum (APC). Its winning bid was an offer of $59/share in cash and 0.2934 shares of OXY Board Members
stock for each share of APC (a $29 billion cash outlay, plus stock). To help fund the deal, OXY received a cash
A. B. Poladian R. M. Shearer
infusion from Warren Buffett, under which Buffett provided $10 billion in cash for 100,000 preferred shares
A. J. Gould S. I. Chazen
yielding 8% interest and a warrant to purchase up to $5 billion in OXY stock at $62.50/share (slightly below
current pricing). We note that paying 8% on the preferreds is about double that of OXY’s other debt C. M. Gutierrez V. A. Bailey
financing, and the warrants (exercisable in 10 years) would add almost 9% to the float, above and beyond J. B. Moore V. A. Hollub
the initial boost from the issuance of new OXY shares, which rose 19% at year-end 2019 versus one year
M. Palau-Hernandez W. R. Klesse
earlier. The Buffett cash infusion enabled the equity portion to comprise less than 20% of the financing, and
as a result, OXY shareholder approval was not needed.
In April 2020, Buffett’s preferred share coupon of $200 million was paid out via 17.3 million common shares Domicile Auditor
(a 29% premium) in lieu of cash. If this practice persists, and assuming current pricing as of August for OXY Delaware KPMG LLP - Klynveld Peat
shares as well as a 29% premium on future payouts, we think these preferreds will cause the common share Marwick Goerdeler
Founded
count to rise by another 8.5%. To the degree that OXY shares recover in price, the dilution would be
1920
lessened.
CORPORATE STRATEGY. We see upstream operations as the key catalyst for the company’s growth Employees
prospects, supported by the low-cost OxyChem operation whose goal is to return high levels of free cash 11,678
flow that can be reinvested in such growth assets. Within upstream, OXY has been gradually reducing the
Stockholders
influence of overseas operations and focusing more on short-cycle domestic operations. The April 2019 bid
26,800
to acquire APC is largely consistent with this goal, in our view, although it also yielded some overseas assets
that may be headed for divestiture. In May 2019, OXY said that if it won the bidding war for APC, it had
reached an agreement in principle to sell APC’s Africa operations to Total S.A. for $8.8 billion, which would
help fund the $29 billion cash outlay for APC. However, in early 2020, the Algerian government blocked the
sale of these assets to Total, and there are some concerns about a similar non-core asset sale in Ghana.
FINANCIAL TRENDS. Historically, OXY has been a steady and conservatively managed oil & gas producer. The
company had a 10-year dividend compound annual growth rate (2009-2018) of 16%, and, at year-end
2018, its net debt to capital ratio was a mere 23%, well below most E&Ps. However, given the transformative
APC acquisition in August 2019, its metrics have changed. Common dividends paid in 2019 were $3.13 per
share, just up 1.3% higher than in 2018; although total dividends rose by $250 million, we estimate that
$200 million of that $250 million increase was from the preferred dividends sold to Buffett. Meanwhile, its
net debt to capital ratio at March 31, 2022 was 59%, well above the 35% average among E&Ps.
During 2020, over two stages, OXY effectively eliminated its common dividend, which technically still existed
but provided an annualized $0.04 per share versus a pre-pandemic level (annualized) of $3.16 per share.
This dividend cut of 99% saved about $2.8 billion per year. In early 2022, OXY boosted the dividend to an
annualized $0.52 per share.
Redistribution or reproduction is prohibited without prior written permission. Copyright © 2022 CFRA. 2
Stock Report | August 27, 2022 | NYSE Symbol: OXY | OXY is in the S&P 500
Occidental Petroleum Corporation
Quantitative Evaluations Expanded Ratio Analysis
Fair Value Rank 1 2 3 4 5 2021 2020 2019 2018
Lowest Highest Price/Sales 1.07 0.89 1.60 2.63
Based on CFRA's proprietary quantitative model, Price/Tangible Book Value 2.56 1.83 1.58 2.16
stocks are ranked from most overvalued (1) to most Price/Pretax Income 7.50 NM 94.24 8.35
undervalued (5). P/E Ratio 11.37 NM 28.42 12.25
Avg. Diluted Shares Outstg. (M) 958.80 918.70 809.50 763.30
Fair Value USD Analysis of the stock’s current worth, based on CFRA’s
Calculation 68.51 proprietary quantitative model suggests that OXY is Figures based on fiscal year-end price
overvalued by USD 5.04 or 6.85%
Volatility LOW AVERAGE HIGH
Key Growth Rates and Averages
Technical BULLISH Since August, 2022, the technical indicators for OXY
Past Growth Rate (%) 1 Year 3 Years 5 Years
Evaluation have been BULLISH"
Net Income NM NM 32.25
Insider Activity UNFAVORABLE NEUTRAL FAVORABLE Revenue 45.75 13.35 20.80
Ratio Analysis (Annual Avg.)
Net Margin (%) 8.95 NM NM
% LT Debt to Capitalization 57.05 57.14 46.87
Company Financials Fiscal year ending Dec 31
Per Share Data (USD) 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012
Tangible Book Value 11.31 9.46 26.03 28.46 26.89 28.13 31.89 45.37 54.18 49.68
Free Cash Flow 8.09 1.55 1.25 3.54 1.65 -1.80 -2.65 0.58 5.99 1.66
Earnings 2.06 -15.65 -1.20 5.39 1.70 -1.31 -10.64 -0.18 6.12 4.72
Earnings (Normalized) 2.55 -3.91 1.45 5.01 0.89 -1.01 0.12 5.84 6.95 7.09
Dividends 0.04 0.82 3.14 3.10 3.06 3.02 2.97 2.88 2.56 2.16
Payout Ratio (%) 36.13 NM NM 57.47 179.00 NM NM 359.00 26.31 46.28
Prices: High 35.75 47.58 68.83 87.67 74.06 78.48 83.74 105.64 99.42 106.68
Prices: Low 17.30 8.52 37.25 56.83 57.20 58.24 63.60 72.32 74.82 72.42
P/E Ratio: High 14.00 NM 47.50 17.50 83.20 NM NM 18.10 14.30 15.00
P/E Ratio: Low 6.80 NM 25.70 11.30 64.30 NM NM 12.40 10.80 10.20
Income Statement Analysis (Million USD)
Revenue 25,956 17,809 20,911 17,824 12,508 10,090 12,480 19,312 20,170 20,100
Depreciation + Amortization 8,751 15,196 6,425 4,393 4,403 4,268 9,568 5,909 4,824 5,295
Operating Expenses 3,489 9,579 3,637 2,578 2,218 2,210 6,673 3,851 2,370 3,786
Effective Tax Rate (%) 24.70 13.80 243.20 26.30 1.30 39.80 14.00 108.40 39.50 41.00
Net Income 2,322 NM NM 4,131 1,311 NM NM 616.00 5,903 4,598
Net Income (Normalized) 2,291 NM 700.60 2,896 488.10 NM NM 2,974 4,669 4,055
Balance Sheet and Other Financial Data (Million USD)
Gross Property 118,883 120,026 125,678 74,420 70,246 71,293 71,058 74,515 89,052 80,096
Net Property 60,656 66,951 83,641 31,437 31,174 32,337 31,639 39,730 55,821 52,064
Capital Expenditures 2,870 2,535 6,367 4,975 3,599 4,761 5,381 10,617 7,963 9,958
Capital Expnd to Revenue (%) 11.10 14.20 30.40 27.90 28.80 47.20 43.10 55.00 39.50 49.50
% Long Term Debt of Capitalization 57.10 62.90 51.50 32.20 30.70 31.40 21.00 16.40 13.80 14.70
Capitalization: Common 10,565 8,811 24,470 21,330 20,572 21,497 24,350 34,959 43,126 40,016
Capitalization: Preferred N/A N/A N/A N/A N/A N/A N/A N/A N/A N/A
Fixed Charges Coverage 2.92 -4.50 3.12 13.21 2.14 -5.73 -32.21 61.93 57.26 43.96
% Operating Ratio 50.52 38.53 43.86 51.02 40.75 26.67 40.28 53.37 59.12 57.18
% Net Income Margin 8.95 -83.28 -3.19 23.18 10.48 -5.69 -62.73 3.19 29.27 22.88
% Return on Invested Capital 5.00 -7.81 3.20 9.47 1.41 -3.08 -7.62 5.97 9.06 8.50
% Return on Common Equity 20.40 -86.40 -4.20 19.60 6.20 -4.40 -27.50 -0.40 11.80 9.80
Source: S&P Global Market Intelligence. Data may be preliminary or restated; before results of discontinued operations/special items. Per share data adjusted for stock dividends; EPS diluted.
E-Estimated. NA-Not Available. NM-Not Meaningful. NR-Not Ranked. UR-Under Review.
Redistribution or reproduction is prohibited without prior written permission. Copyright © 2022 CFRA. 3
Stock Report | August 27, 2022 | NYSE Symbol: OXY | OXY is in the S&P 500
Occidental Petroleum Corporation
Sub-Industry Outlook Industry Performance
Our fundamental outlook for the integrated oil & production, we think 2023 supply could suffer GICS Sector: E nergy
gas sub-industry for the next 12 months is if the battle in Ukraine persists. Sub-Industry: Integrated Oil and Gas
positive. By definition, integrated oils operate at Downstream, integrated oils have enjoyed a Based on S&P 1500 Indexes
both ends of the oil & gas value chain (upstream buoyant 2022 YTD, partly from strength in Five-Year market price performance through Aug 27, 2022
as well as downstream), although typically refined product consumption, coupled with
upstream is the primary driver for operating limited supply. Refineries are running at about
profits. Benchmark crude oil prices in the low 95% capacity, helping margins, and the
$100/barrel range is welcoming news, following a industry has not replaced capacity that was
$68/barrel average price in 2021 (and a shut down in the wake of the pandemic. We
calamitous $39/barrrel in 2020). The outlook has note that downstream is fairly concentrated,
brightened, in our view, on the back of continued with just a handful of major suppliers, which we
supply discipline from both OPEC and non-OPEC think contributes to high pricing. The outlook
actors. for downstream as of June 2022 looks highly
As the global economy re-emerges from the improved, with strong utilization plus low
ravages of the pandemic, we think there is pent- inventory levels in gasoline and diesel
up demand that likely puts a floor under oil and contributing to wide margins. President Biden’s
gas consumption. It should raise consumer willingness to tap the SPR for crude oil simply
demand for refined products as consumers due to market conditions, rather than a true
become more willing to return to pre-pandemic supply shock, could also widen the Brent-WTI
activities, helping downstream utilization. In spread.
addition, higher refined product demand likely Through June 30, the S&P Integrated Oil & Gas
pulls incremental demand for crude oil and Sub-Industry Index was up 35.8%, versus a
thereby helps boost benchmark pricing, all else 20.5% decline in the S&P 1500 Composite
being equal. However, there is one major wildcard Index. In 2021, the sub-industry was up 44.8%

In [9]:
# Function to query Gemini
def query_gemini(company, source, headline, text, model):
    """
    Query Gemini to perform sentiment analysis on text from various sources about a company.

    Parameters:
    company (str): The name of the company the text is about.
    source (str): The source of the text. Valid values are "Investment Research", "ProQuest", "SEC Filings", "Earnings Call Presentations", "Earnings Call Q&A".
    headline (str): The headline or title of the text.
    text (str): The body of the text to be analyzed.
    model: The model object used to generate content and analyze the text.

    Returns:
    str: The sentiment analysis results for predefined categories in the specified format.

    The function constructs a prompt based on the source of the text and performs sentiment analysis on the given text using the provided model.
    It analyzes the content across multiple predefined categories, determining the sentiment (Positive, Neutral, Negative) for each category.
    If a category is not mentioned or relevant based on the text content, it is marked as 'Neutral'.
    The final output is summarized in a specified format.
    """

    # Source Variables
    if source == "Investment Research":
        text_source = "an analyst report"
        text_source2 = "the analyst report"
    elif source == "ProQuest":
        text_source = "a news article"
        text_source2 = "the news article"
    elif source == "SEC Filings":
        text_source = "an SEC filing"
        text_source2 = "the SEC filing"
    elif source == "Earnings Call Presentations":
        text_source = "an earnings call presentation"
        text_source2 = "the earnings call presentation"
    elif source == "Earnings Call Q&A":
        text_source = "an earnings call Q&A session"
        text_source2 = "the earnings call Q&A session"

    # Prompt
    prompt = f"""
Given the text from {text_source} about {company}, analyze the content and perform sentiment analysis across multiple predefined categories.

Sentiment options:
  - Positive
  - Neutral
  - Negative

Categories:
  - Finance
  - Production
  - Reserves / Exploration / Acquisitions / Mergers / Divestments
  - Environment / Regulatory / Geopolitics
  - Alternative Energy / Lower Carbon
  - Oil Price / Natural Gas Price / Gasoline Price

Each category should be evaluated and given a sentiment output derived from the text.
If a category is not mentioned or relevant based on the text content, mark it as 'Neutral'.

Before giving your answer, explain your reasoning and reference the article.
After going through all the categories, provide a summary in the following format:
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment

Example Output:
- Finance - Positive
- Production - Neutral
- Reserves / Exploration / Acquisitions / Mergers / Divestments - Negative
- Environment / Regulatory / Geopolitics - Neutral
- Alternative Energy / Lower Carbon - Positive
- Oil Price / Natural Gas Price / Gasoline Price - Neutral

Make sure to use plain text, do not bold or bullet the output summary.

The text from {text_source2} is below:
{headline}
{text}

Remember to summarize your final answers in the following format exactly:
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment
- Category - Sentiment

Make sure to use plain text and stick to the given categories and sentiment options.
DO NOT bold or bullet the output summary.
    """

    # print(prompt)
    response = model.generate_content(prompt)
    return response.text

# Test function
response = query_gemini(company, source, headline, text, model)
print(response)

Here's a breakdown of the sentiment analysis for the OXY analyst report, along with reasoning and references to the text:

**Finance:**

- **Sentiment: Positive**
- **Reasoning:**  The report highlights OXY's efforts to reduce debt (mentioning the $6.7 billion repayment in 2021 and the goal of reaching $20 billion in net debt) and expresses optimism about further progress due to strong oil prices. The report also mentions OXY's dividend increase and potential for share buybacks, which are positive for investors.  [See pages 1, 3, 4, and 5 of the report]

**Production:**

- **Sentiment: Neutral**
- **Reasoning:** The report acknowledges that OXY is aiming for relatively flat upstream production in 2022, citing higher oil service costs and inflation as contributing factors. The report also mentions a joint venture with Ecopetrol that will add to production plans but does not specify a clear positive or negative impact on overall production. [See page 1, 4, and 5]

**Reserves / Exploration / Acquisitions / Mergers / Divestments:**

- **Sentiment: Negative**
- **Reasoning:** The report focuses on the Anadarko acquisition as a key risk factor for OXY. The report states that the acquisition was "a gamble" and that its success depends on OXY's ability to divest non-core assets and deliver stated synergies. The report also highlights the pressure from debt milestones and potential dilution of existing shareholders as a result of the deal.  [See pages 1, 2, 3, 4, and 5]

**Environment / Regulatory / Geopolitics:**

- **Sentiment: Neutral**
- **Reasoning:** While the report mentions OXY's efforts to target Scope 1 and 2 emissions (indicating environmental awareness), it does not delve into specific environmental or regulatory concerns. The report mentions geopolitical tensions and the potential impact on oil demand but doesn't express a strong stance on the overall impact of these factors on OXY. [See page 1, 2, and 4]

**Alternative Energy / Lower Carbon:**

- **Sentiment: Neutral**
- **Reasoning:**  Although the report mentions OXY's focus on Scope 1 and 2 emissions, it does not discuss any specific investments or initiatives related to alternative energy or lower-carbon strategies. [See page 1]

**Oil Price / Natural Gas Price / Gasoline Price:**

- **Sentiment: Positive**
- **Reasoning:** The report repeatedly emphasizes the positive impact of high oil prices on OXY's financial performance and debt reduction. It also mentions the strong demand for refined products, which benefits OXY's downstream operations.  [See pages 1, 2, 4, and 5]

**Summary:**

- Finance - Positive
- Production - Neutral
- Reserves / Exploration / Acquisitions / Mergers / Divestments - Negative
- Environment / Regulatory / Geopolitics - Neutral
- Alternative Energy / Lower Carbon - Neutral
- Oil Price / Natural Gas Price / Gasoline Price - Positive

In [10]:
# Function to parse text
def parse_sentiment(text, categories):
    """
    Parses a given text for specified categories and their sentiments.

    Args:
        text (str): The input text containing categories and their sentiments.
        categories (list of str): List of category names to look for in the text.

    Returns:
        dict or str: A dictionary with categories as keys and their corresponding sentiments as values,
                     or "Did not find all categories" if any sentiment is not Positive, Neutral, or Negative.
    """
    results = {}
    valid_sentiments = {"Positive", "Neutral", "Negative"}

    for category in categories:
        # Create a regex pattern to match the format "- Category - Sentiment"
        # The category name is escaped to handle any special characters
        pattern = rf"- {re.escape(category)} - (\w+)"

        # Search for the pattern in the text
        match = re.search(pattern, text)

        # If a match is found, extract the sentiment and add it to the results dictionary
        if match:
            sentiment = match.group(1)
            if sentiment not in valid_sentiments:
                return "Did not find all categories"
            results[category] = sentiment
        else:
            return "Did not find all categories"

    return results

# Test function
fail_text = """
- Finance - Positive
- Production - Neutral
- Reserves / Exploration / Acquisitions / Mergers / Divestments - Bad
- Environment / Regulatory / Geopolitics - Neutral
- Alternative Energy / Lower Carbon - Positive
- Oil Price / Natural Gas Price / Gasoline Price - Neutral
"""

sentiment_dict = parse_sentiment(response, CATEGORIES)
fail_sentiment = parse_sentiment("fail_text", CATEGORIES)
print(sentiment_dict)
print(fail_sentiment)

{'Finance': 'Positive', 'Production': 'Neutral', 'Reserves / Exploration / Acquisitions / Mergers / Divestments': 'Negative', 'Environment / Regulatory / Geopolitics': 'Neutral', 'Alternative Energy / Lower Carbon': 'Neutral', 'Oil Price / Natural Gas Price / Gasoline Price': 'Positive'}
Did not find all categories

In [11]:
# Function to update the csv
def update_csv(file_path, unique_id, sentiment_dict):
    """
    Updates the columns of a CSV file based on the unique ID and sentiment dictionary.

    Args:
        file_path (str): The path to the CSV file.
        unique_id (str): The unique ID of the row to be updated.
        sentiment_dict (dict): A dictionary with categories as keys and their corresponding sentiments as values.

    Returns:
        None
    """
    # Load the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Find the index of the row with the specified unique ID
    row_index = df[df['Unique_ID'] == unique_id].index

    # Update the columns based on the sentiment dictionary
    for category, sentiment in sentiment_dict.items():
        df.loc[row_index, category] = sentiment

    # Save the updated DataFrame back to the CSV file
    df.to_csv(file_path, index=False)
    print(f"Row with Unique_ID '{unique_id}' has been updated.")

# Test function
update_csv(SENTIMENT_RESULTS_FILE_PATH, unique_id, sentiment_dict)

Row with Unique_ID 'IR-3288' has been updated.

In [12]:
start_time = time.time()
unique_id = find_first_unique_id_with_empty_values(SENTIMENT_RESULTS_FILE_PATH, CATEGORIES)
count = 0
max_tries = 5

# Iterate through the CSV using the functions
while unique_id:
    retries = 0
    success = False

    # There are multiple errors that can happen, many of them simply need another try
    while retries < max_tries and not success:
        try:
            # Get gemini inputs
            company, source, headline, text = get_gemini_inputs(text_df, unique_id)

            # Query Gemini
            response = query_gemini(company, source, headline, text, model)

            # Parse text
            sentiment_dict = parse_sentiment(response, CATEGORIES)

            # Update the csv
            update_csv(SENTIMENT_RESULTS_FILE_PATH, unique_id, sentiment_dict)

            success = True

        except Exception as e:
            retries += 1
            print(f"Error encountered: {e}. Retry {retries}/{max_tries}")

            if retries >= max_tries:
                print(f"Failed to process unique_id {unique_id} after {max_tries} attempts. Stopping.")
                # Exit both loops
                unique_id = None
                break

    if not success:
        break

    # Get an update every 10 rows
    count += 1
    if count % 10 == 0:
        elapsed_time = time.time() - start_time
        minutes, seconds = divmod(elapsed_time, 60)
        print(f"Iteration: {count}, Elapsed Time: {int(minutes)} minutes and {seconds:.2f} seconds")

    # Find the next empty row
    unique_id = find_first_unique_id_with_empty_values(SENTIMENT_RESULTS_FILE_PATH, CATEGORIES)

    # Test print statements
    # print(unique_id)
    # print(f"Company: {company}\n")
    # print(f"Source: {source}\n")
    # print(f"Headline: {headline}\n")
    # print(f"Text:\n{text}")
    # print(response)
    # print(sentiment_dict)

Row with Unique_ID 'IR-3289' has been updated.
Row with Unique_ID 'IR-3290' has been updated.
Row with Unique_ID 'IR-3291' has been updated.
Row with Unique_ID 'IR-3292' has been updated.
Row with Unique_ID 'IR-3293' has been updated.
Row with Unique_ID 'IR-3294' has been updated.
Row with Unique_ID 'IR-3295' has been updated.
Row with Unique_ID 'IR-3296' has been updated.
Row with Unique_ID 'IR-3297' has been updated.
Row with Unique_ID 'IR-3298' has been updated.
Iteration: 10, Elapsed Time: 1 minutes and 49.54 seconds
Row with Unique_ID 'IR-3299' has been updated.
Row with Unique_ID 'IR-3300' has been updated.
Row with Unique_ID 'IR-3301' has been updated.
Row with Unique_ID 'IR-3302' has been updated.
Row with Unique_ID 'IR-3303' has been updated.
Row with Unique_ID 'IR-3304' has been updated.
Row with Unique_ID 'IR-3305' has been updated.
Row with Unique_ID 'IR-3306' has been updated.
Row with Unique_ID 'IR-3307' has been updated.
Row with Unique_ID 'IR-3308' has been updated.
Iteration: 20, Elapsed Time: 3 minutes and 39.42 seconds
Row with Unique_ID 'IR-3309' has been updated.
Row with Unique_ID 'IR-3310' has been updated.
Row with Unique_ID 'IR-3311' has been updated.
Row with Unique_ID 'IR-3312' has been updated.
Row with Unique_ID 'IR-3313' has been updated.
Row with Unique_ID 'IR-3314' has been updated.
Row with Unique_ID 'IR-3315' has been updated.
Row with Unique_ID 'IR-3316' has been updated.
Row with Unique_ID 'IR-3317' has been updated.
Row with Unique_ID 'IR-3318' has been updated.
Iteration: 30, Elapsed Time: 5 minutes and 26.90 seconds
Row with Unique_ID 'IR-3319' has been updated.
Row with Unique_ID 'IR-3320' has been updated.
Row with Unique_ID 'IR-3321' has been updated.
Row with Unique_ID 'IR-3322' has been updated.
Row with Unique_ID 'IR-3323' has been updated.
Row with Unique_ID 'IR-3324' has been updated.
Row with Unique_ID 'IR-3325' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3326' has been updated.
Row with Unique_ID 'IR-3327' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3328' has been updated.
Iteration: 40, Elapsed Time: 7 minutes and 27.81 seconds
Row with Unique_ID 'IR-3329' has been updated.
Row with Unique_ID 'IR-3330' has been updated.
Row with Unique_ID 'IR-3331' has been updated.
Row with Unique_ID 'IR-3332' has been updated.
Row with Unique_ID 'IR-3333' has been updated.
Error encountered: The `response.text` quick accessor only works when the response contains a valid `Part`, but none was returned. Check the `candidate.safety_ratings` to see if the response was blocked.. Retry 1/5
Row with Unique_ID 'IR-3334' has been updated.
Row with Unique_ID 'IR-3335' has been updated.
Row with Unique_ID 'IR-3336' has been updated.
Row with Unique_ID 'IR-3337' has been updated.
Row with Unique_ID 'IR-3338' has been updated.
Iteration: 50, Elapsed Time: 9 minutes and 7.51 seconds
Row with Unique_ID 'IR-3339' has been updated.
Row with Unique_ID 'IR-3340' has been updated.
Row with Unique_ID 'IR-3341' has been updated.
Row with Unique_ID 'IR-3342' has been updated.
Row with Unique_ID 'IR-3343' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3344' has been updated.
Row with Unique_ID 'IR-3345' has been updated.
Row with Unique_ID 'IR-3346' has been updated.
Row with Unique_ID 'IR-3347' has been updated.
Row with Unique_ID 'IR-3348' has been updated.
Iteration: 60, Elapsed Time: 11 minutes and 7.64 seconds
Row with Unique_ID 'IR-3349' has been updated.
Row with Unique_ID 'IR-3350' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3351' has been updated.
Row with Unique_ID 'IR-3352' has been updated.
Row with Unique_ID 'IR-3353' has been updated.
Row with Unique_ID 'IR-3354' has been updated.
Row with Unique_ID 'IR-3355' has been updated.
Row with Unique_ID 'IR-3356' has been updated.
Row with Unique_ID 'IR-3357' has been updated.
Row with Unique_ID 'IR-3358' has been updated.
Iteration: 70, Elapsed Time: 12 minutes and 56.15 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3359' has been updated.
Row with Unique_ID 'IR-3360' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3361' has been updated.
Row with Unique_ID 'IR-3362' has been updated.
Row with Unique_ID 'IR-3363' has been updated.
Row with Unique_ID 'IR-3364' has been updated.
Row with Unique_ID 'IR-3365' has been updated.
Row with Unique_ID 'IR-3366' has been updated.
Row with Unique_ID 'IR-3367' has been updated.
Row with Unique_ID 'IR-3368' has been updated.
Iteration: 80, Elapsed Time: 14 minutes and 46.48 seconds
Row with Unique_ID 'IR-3369' has been updated.
Row with Unique_ID 'IR-3370' has been updated.
Row with Unique_ID 'IR-3371' has been updated.
Row with Unique_ID 'IR-3372' has been updated.
Row with Unique_ID 'IR-3373' has been updated.
Row with Unique_ID 'IR-3374' has been updated.
Row with Unique_ID 'IR-3375' has been updated.
Row with Unique_ID 'IR-3376' has been updated.
Row with Unique_ID 'IR-3377' has been updated.
Row with Unique_ID 'IR-3378' has been updated.
Iteration: 90, Elapsed Time: 16 minutes and 25.62 seconds
Row with Unique_ID 'IR-3379' has been updated.
Row with Unique_ID 'IR-3380' has been updated.
Row with Unique_ID 'IR-3381' has been updated.
Row with Unique_ID 'IR-3382' has been updated.
Row with Unique_ID 'IR-3383' has been updated.
Row with Unique_ID 'IR-3384' has been updated.
Row with Unique_ID 'IR-3385' has been updated.
Row with Unique_ID 'IR-3386' has been updated.
Row with Unique_ID 'IR-3387' has been updated.
Row with Unique_ID 'IR-3388' has been updated.
Iteration: 100, Elapsed Time: 18 minutes and 2.20 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3389' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3390' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3391' has been updated.
Row with Unique_ID 'IR-3392' has been updated.
Row with Unique_ID 'IR-3393' has been updated.
Row with Unique_ID 'IR-3394' has been updated.
Row with Unique_ID 'IR-3395' has been updated.
Row with Unique_ID 'IR-3396' has been updated.
Row with Unique_ID 'IR-3397' has been updated.
Row with Unique_ID 'IR-3398' has been updated.
Iteration: 110, Elapsed Time: 20 minutes and 0.08 seconds
Row with Unique_ID 'IR-3399' has been updated.
Row with Unique_ID 'IR-3400' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3401' has been updated.
Row with Unique_ID 'IR-3402' has been updated.
Row with Unique_ID 'IR-3403' has been updated.
Row with Unique_ID 'IR-3404' has been updated.
Row with Unique_ID 'IR-3405' has been updated.
Row with Unique_ID 'IR-3406' has been updated.
Row with Unique_ID 'IR-3407' has been updated.
Row with Unique_ID 'IR-3408' has been updated.
Iteration: 120, Elapsed Time: 21 minutes and 53.66 seconds
Row with Unique_ID 'IR-3409' has been updated.
Row with Unique_ID 'IR-3410' has been updated.
Row with Unique_ID 'IR-3411' has been updated.
Row with Unique_ID 'IR-3412' has been updated.
Row with Unique_ID 'IR-3413' has been updated.
Row with Unique_ID 'IR-3414' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3416' has been updated.
Row with Unique_ID 'IR-3417' has been updated.
Row with Unique_ID 'IR-3418' has been updated.
Row with Unique_ID 'IR-3419' has been updated.
Iteration: 130, Elapsed Time: 94 minutes and 42.53 seconds
Row with Unique_ID 'IR-3420' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Error encountered: 'str' object has no attribute 'items'. Retry 3/5
Row with Unique_ID 'IR-3421' has been updated.
Row with Unique_ID 'IR-3422' has been updated.
Row with Unique_ID 'IR-3423' has been updated.

Row with Unique_ID 'IR-3424' has been updated.
Row with Unique_ID 'IR-3425' has been updated.
Row with Unique_ID 'IR-3426' has been updated.
Row with Unique_ID 'IR-3427' has been updated.
Row with Unique_ID 'IR-3428' has been updated.
Row with Unique_ID 'IR-3429' has been updated.
Iteration: 140, Elapsed Time: 96 minutes and 39.29 seconds
Row with Unique_ID 'IR-3430' has been updated.
Row with Unique_ID 'IR-3431' has been updated.
Row with Unique_ID 'IR-3432' has been updated.
Row with Unique_ID 'IR-3433' has been updated.
Row with Unique_ID 'IR-3434' has been updated.
Row with Unique_ID 'IR-3435' has been updated.
Row with Unique_ID 'IR-3436' has been updated.
Row with Unique_ID 'IR-3437' has been updated.
Row with Unique_ID 'IR-3438' has been updated.
Row with Unique_ID 'IR-3439' has been updated.
Iteration: 150, Elapsed Time: 98 minutes and 25.36 seconds
Row with Unique_ID 'IR-3440' has been updated.
Row with Unique_ID 'IR-3441' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3442' has been updated.
Row with Unique_ID 'IR-3443' has been updated.
Row with Unique_ID 'IR-3444' has been updated.
Row with Unique_ID 'IR-3445' has been updated.
Row with Unique_ID 'IR-3446' has been updated.
Row with Unique_ID 'IR-3447' has been updated.
Row with Unique_ID 'IR-3448' has been updated.
Row with Unique_ID 'IR-3449' has been updated.
Iteration: 160, Elapsed Time: 100 minutes and 10.57 seconds
Row with Unique_ID 'IR-3450' has been updated.
Row with Unique_ID 'IR-3451' has been updated.
Row with Unique_ID 'IR-3452' has been updated.
Row with Unique_ID 'IR-3453' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3454' has been updated.
Row with Unique_ID 'IR-3455' has been updated.
Row with Unique_ID 'IR-3456' has been updated.
Row with Unique_ID 'IR-3457' has been updated.
Row with Unique_ID 'IR-3458' has been updated.
Row with Unique_ID 'IR-3459' has been updated.
Iteration: 170, Elapsed Time: 101 minutes and 52.41 seconds
Row with Unique_ID 'IR-3460' has been updated.
Row with Unique_ID 'IR-3461' has been updated.
Row with Unique_ID 'IR-3462' has been updated.
Row with Unique_ID 'IR-3463' has been updated.
Row with Unique_ID 'IR-3464' has been updated.
Row with Unique_ID 'IR-3465' has been updated.
Row with Unique_ID 'IR-3466' has been updated.
Row with Unique_ID 'IR-3467' has been updated.
Row with Unique_ID 'IR-3468' has been updated.
Row with Unique_ID 'IR-3469' has been updated.
Iteration: 180, Elapsed Time: 104 minutes and 25.87 seconds
Row with Unique_ID 'IR-3470' has been updated.
Row with Unique_ID 'IR-3471' has been updated.
Row with Unique_ID 'IR-3472' has been updated.
Row with Unique_ID 'IR-3473' has been updated.
Row with Unique_ID 'IR-3474' has been updated.
Row with Unique_ID 'IR-3475' has been updated.
Row with Unique_ID 'IR-3476' has been updated.
Row with Unique_ID 'IR-3477' has been updated.
Row with Unique_ID 'IR-3478' has been updated.
Row with Unique_ID 'IR-3479' has been updated.
Iteration: 190, Elapsed Time: 106 minutes and 21.54 seconds
Row with Unique_ID 'IR-3480' has been updated.
Row with Unique_ID 'IR-3481' has been updated.
Row with Unique_ID 'IR-3482' has been updated.
Row with Unique_ID 'IR-3483' has been updated.
Row with Unique_ID 'IR-3484' has been updated.
Row with Unique_ID 'IR-3485' has been updated.
Row with Unique_ID 'IR-3486' has been updated.
Row with Unique_ID 'IR-3487' has been updated.
Row with Unique_ID 'IR-3488' has been updated.
Row with Unique_ID 'IR-3489' has been updated.
Iteration: 200, Elapsed Time: 107 minutes and 53.69 seconds
Row with Unique_ID 'IR-3490' has been updated.
Row with Unique_ID 'IR-3491' has been updated.
Row with Unique_ID 'IR-3492' has been updated.
Row with Unique_ID 'IR-3493' has been updated.
Row with Unique_ID 'IR-3494' has been updated.
Row with Unique_ID 'IR-3495' has been updated.
Row with Unique_ID 'IR-3496' has been updated.
Row with Unique_ID 'IR-3497' has been updated.
Row with Unique_ID 'IR-3498' has been updated.
Row with Unique_ID 'IR-3499' has been updated.
Iteration: 210, Elapsed Time: 109 minutes and 30.84 seconds
Row with Unique_ID 'IR-3500' has been updated.
Row with Unique_ID 'IR-3501' has been updated.
Row with Unique_ID 'IR-3502' has been updated.
Row with Unique_ID 'IR-3503' has been updated.
Row with Unique_ID 'IR-3504' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3505' has been updated.
Row with Unique_ID 'IR-3506' has been updated.
Row with Unique_ID 'IR-3507' has been updated.
Row with Unique_ID 'IR-3508' has been updated.
Row with Unique_ID 'IR-3509' has been updated.
Iteration: 220, Elapsed Time: 137 minutes and 53.44 seconds
Row with Unique_ID 'IR-3510' has been updated.
Row with Unique_ID 'IR-3511' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-3512' has been updated.
Row with Unique_ID 'IR-3513' has been updated.
Row with Unique_ID 'IR-3514' has been updated.
Row with Unique_ID 'IR-3515' has been updated.
Row with Unique_ID 'IR-3516' has been updated.
Row with Unique_ID 'IR-3517' has been updated.
Row with Unique_ID 'IR-3518' has been updated.
Row with Unique_ID 'IR-3519' has been updated.
Iteration: 230, Elapsed Time: 139 minutes and 40.95 seconds
Row with Unique_ID 'IR-3520' has been updated.
Row with Unique_ID 'IR-3521' has been updated.
Row with Unique_ID 'IR-3522' has been updated.
Row with Unique_ID 'IR-3523' has been updated.
Row with Unique_ID 'IR-3524' has been updated.
Row with Unique_ID 'IR-3525' has been updated.
Row with Unique_ID 'IR-3526' has been updated.
Row with Unique_ID 'IR-3527' has been updated.
Row with Unique_ID 'IR-3528' has been updated.
Row with Unique_ID 'IR-3529' has been updated.
Iteration: 240, Elapsed Time: 141 minutes and 39.18 seconds
Row with Unique_ID 'IR-3530' has been updated.
Row with Unique_ID 'IR-3531' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3532' has been updated.
Row with Unique_ID 'IR-3533' has been updated.
Row with Unique_ID 'IR-3534' has been updated.
Row with Unique_ID 'IR-3535' has been updated.
Row with Unique_ID 'IR-3536' has been updated.
Row with Unique_ID 'IR-3537' has been updated.
Row with Unique_ID 'IR-3538' has been updated.
Row with Unique_ID 'IR-3539' has been updated.
Iteration: 250, Elapsed Time: 143 minutes and 34.45 seconds
Row with Unique_ID 'IR-3540' has been updated.
Row with Unique_ID 'IR-3541' has been updated.
Row with Unique_ID 'IR-3542' has been updated.
Row with Unique_ID 'IR-3543' has been updated.
Row with Unique_ID 'IR-3544' has been updated.
Row with Unique_ID 'IR-3545' has been updated.
Row with Unique_ID 'IR-3546' has been updated.
Row with Unique_ID 'IR-3547' has been updated.
Row with Unique_ID 'IR-3548' has been updated.
Row with Unique_ID 'IR-3549' has been updated.
Iteration: 260, Elapsed Time: 145 minutes and 11.56 seconds
Row with Unique_ID 'IR-3550' has been updated.
Row with Unique_ID 'IR-3551' has been updated.
Row with Unique_ID 'IR-3552' has been updated.
Row with Unique_ID 'IR-3553' has been updated.
Row with Unique_ID 'IR-3554' has been updated.
Row with Unique_ID 'IR-3555' has been updated.
Row with Unique_ID 'IR-3556' has been updated.
Row with Unique_ID 'IR-3557' has been updated.
Row with Unique_ID 'IR-3558' has been updated.
Row with Unique_ID 'IR-3559' has been updated.
Iteration: 270, Elapsed Time: 147 minutes and 11.58 seconds
Row with Unique_ID 'IR-3560' has been updated.
Row with Unique_ID 'IR-3561' has been updated.
Row with Unique_ID 'IR-3562' has been updated.
Row with Unique_ID 'IR-3563' has been updated.
Row with Unique_ID 'IR-3564' has been updated.
Row with Unique_ID 'IR-3565' has been updated.
Row with Unique_ID 'IR-3566' has been updated.
Row with Unique_ID 'IR-3567' has been updated.
Row with Unique_ID 'IR-3568' has been updated.
Row with Unique_ID 'IR-3569' has been updated.
Iteration: 280, Elapsed Time: 148 minutes and 51.53 seconds
Row with Unique_ID 'IR-3570' has been updated.

Row with Unique_ID 'IR-3571' has been updated.
Row with Unique_ID 'IR-3572' has been updated.
Row with Unique_ID 'IR-3573' has been updated.
Row with Unique_ID 'IR-3574' has been updated.
Row with Unique_ID 'IR-3575' has been updated.
Row with Unique_ID 'IR-3576' has been updated.
Row with Unique_ID 'IR-3577' has been updated.
Row with Unique_ID 'IR-3578' has been updated.
Row with Unique_ID 'IR-3579' has been updated.
Iteration: 290, Elapsed Time: 150 minutes and 45.23 seconds
Row with Unique_ID 'IR-3580' has been updated.
Row with Unique_ID 'IR-3581' has been updated.
Row with Unique_ID 'IR-3582' has been updated.
Row with Unique_ID 'IR-3583' has been updated.
Row with Unique_ID 'IR-3584' has been updated.
Row with Unique_ID 'IR-3585' has been updated.
Row with Unique_ID 'IR-3586' has been updated.
Row with Unique_ID 'IR-3587' has been updated.
Row with Unique_ID 'IR-3588' has been updated.
Row with Unique_ID 'IR-3589' has been updated.
Iteration: 300, Elapsed Time: 152 minutes and 23.60 seconds
Row with Unique_ID 'IR-3590' has been updated.
Row with Unique_ID 'IR-3591' has been updated.
Row with Unique_ID 'IR-3592' has been updated.
Row with Unique_ID 'IR-3593' has been updated.
Row with Unique_ID 'IR-3594' has been updated.
Row with Unique_ID 'IR-3595' has been updated.
Row with Unique_ID 'IR-3596' has been updated.
Row with Unique_ID 'IR-3597' has been updated.
Row with Unique_ID 'IR-3598' has been updated.
Row with Unique_ID 'IR-3599' has been updated.
Iteration: 310, Elapsed Time: 153 minutes and 56.01 seconds
Row with Unique_ID 'IR-3600' has been updated.
Row with Unique_ID 'IR-3601' has been updated.
Row with Unique_ID 'IR-3602' has been updated.
Row with Unique_ID 'IR-3603' has been updated.
Row with Unique_ID 'IR-3604' has been updated.
Row with Unique_ID 'IR-3605' has been updated.
Row with Unique_ID 'IR-3606' has been updated.
Row with Unique_ID 'IR-3607' has been updated.
Row with Unique_ID 'IR-3608' has been updated.
Row with Unique_ID 'IR-3609' has been updated.
Iteration: 320, Elapsed Time: 155 minutes and 40.05 seconds
Row with Unique_ID 'IR-3610' has been updated.
Row with Unique_ID 'IR-3611' has been updated.
Row with Unique_ID 'IR-3612' has been updated.
Row with Unique_ID 'IR-3613' has been updated.
Row with Unique_ID 'IR-3614' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-3615' has been updated.
Row with Unique_ID 'IR-3616' has been updated.
Row with Unique_ID 'IR-3617' has been updated.
Row with Unique_ID 'IR-3618' has been updated.
Row with Unique_ID 'IR-3619' has been updated.
Iteration: 330, Elapsed Time: 157 minutes and 30.29 seconds
Row with Unique_ID 'IR-3620' has been updated.
Row with Unique_ID 'IR-3621' has been updated.
Row with Unique_ID 'IR-3622' has been updated.
Row with Unique_ID 'IR-3623' has been updated.
Row with Unique_ID 'IR-3624' has been updated.
Row with Unique_ID 'IR-3625' has been updated.
Row with Unique_ID 'IR-3626' has been updated.
Row with Unique_ID 'IR-3627' has been updated.
Row with Unique_ID 'IR-3628' has been updated.
Row with Unique_ID 'IR-3629' has been updated.
Iteration: 340, Elapsed Time: 194 minutes and 17.98 seconds
Row with Unique_ID 'IR-3630' has been updated.
Row with Unique_ID 'IR-3631' has been updated.
Row with Unique_ID 'IR-3632' has been updated.
Row with Unique_ID 'IR-3633' has been updated.
Row with Unique_ID 'IR-3634' has been updated.
Row with Unique_ID 'IR-3635' has been updated.
Row with Unique_ID 'IR-3636' has been updated.
Row with Unique_ID 'IR-3637' has been updated.
Row with Unique_ID 'IR-3638' has been updated.
Row with Unique_ID 'IR-3639' has been updated.
Iteration: 350, Elapsed Time: 196 minutes and 0.15 seconds
Row with Unique_ID 'IR-3640' has been updated.
Row with Unique_ID 'IR-3641' has been updated.
Row with Unique_ID 'IR-3642' has been updated.
Row with Unique_ID 'IR-3643' has been updated.
Row with Unique_ID 'IR-3644' has been updated.
Row with Unique_ID 'IR-3645' has been updated.
Row with Unique_ID 'IR-3646' has been updated.
Row with Unique_ID 'IR-3647' has been updated.
Row with Unique_ID 'IR-3648' has been updated.
Row with Unique_ID 'IR-3649' has been updated.
Iteration: 360, Elapsed Time: 197 minutes and 44.96 seconds
Row with Unique_ID 'IR-3650' has been updated.
Row with Unique_ID 'IR-3651' has been updated.
Row with Unique_ID 'IR-3652' has been updated.
Row with Unique_ID 'IR-3653' has been updated.
Row with Unique_ID 'IR-3654' has been updated.
Row with Unique_ID 'IR-3655' has been updated.
Row with Unique_ID 'IR-3656' has been updated.
Row with Unique_ID 'IR-3657' has been updated.
Row with Unique_ID 'IR-3658' has been updated.
Row with Unique_ID 'IR-3659' has been updated.
Iteration: 370, Elapsed Time: 199 minutes and 32.20 seconds
Row with Unique_ID 'IR-3660' has been updated.
Row with Unique_ID 'IR-3661' has been updated.
Row with Unique_ID 'IR-3662' has been updated.
Row with Unique_ID 'IR-3663' has been updated.
Row with Unique_ID 'IR-3664' has been updated.
Row with Unique_ID 'IR-3665' has been updated.
Row with Unique_ID 'IR-3666' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3667' has been updated.
Row with Unique_ID 'IR-3668' has been updated.
Row with Unique_ID 'IR-3669' has been updated.
Iteration: 380, Elapsed Time: 201 minutes and 15.76 seconds
Row with Unique_ID 'IR-3670' has been updated.
Row with Unique_ID 'IR-3671' has been updated.
Row with Unique_ID 'IR-3672' has been updated.
Row with Unique_ID 'IR-3673' has been updated.
Row with Unique_ID 'IR-3674' has been updated.
Row with Unique_ID 'IR-3675' has been updated.
Row with Unique_ID 'IR-3676' has been updated.
Row with Unique_ID 'IR-3677' has been updated.
Row with Unique_ID 'IR-3678' has been updated.
Row with Unique_ID 'IR-3679' has been updated.
Iteration: 390, Elapsed Time: 202 minutes and 58.02 seconds
Row with Unique_ID 'IR-3680' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3681' has been updated.
Row with Unique_ID 'IR-3682' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3683' has been updated.
Row with Unique_ID 'IR-3684' has been updated.
Row with Unique_ID 'IR-3685' has been updated.
Row with Unique_ID 'IR-3686' has been updated.
Row with Unique_ID 'IR-3687' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3688' has been updated.
Row with Unique_ID 'IR-3689' has been updated.
Iteration: 400, Elapsed Time: 204 minutes and 56.76 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-3690' has been updated.
Row with Unique_ID 'IR-3691' has been updated.
Row with Unique_ID 'IR-3692' has been updated.
Row with Unique_ID 'IR-3693' has been updated.
Row with Unique_ID 'IR-3694' has been updated.
Row with Unique_ID 'IR-3695' has been updated.
Row with Unique_ID 'IR-3696' has been updated.
Row with Unique_ID 'IR-3697' has been updated.
Row with Unique_ID 'IR-3698' has been updated.
Row with Unique_ID 'IR-3699' has been updated.
Iteration: 410, Elapsed Time: 206 minutes and 39.13 seconds
Row with Unique_ID 'IR-3700' has been updated.
Row with Unique_ID 'IR-3701' has been updated.
Row with Unique_ID 'IR-3702' has been updated.
Row with Unique_ID 'IR-3703' has been updated.
Row with Unique_ID 'IR-3704' has been updated.
Row with Unique_ID 'IR-3705' has been updated.
Row with Unique_ID 'IR-3706' has been updated.
Row with Unique_ID 'IR-3707' has been updated.
Row with Unique_ID 'IR-3708' has been updated.
Row with Unique_ID 'IR-3709' has been updated.
Iteration: 420, Elapsed Time: 208 minutes and 36.32 seconds
Row with Unique_ID 'IR-3710' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3711' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3712' has been updated.

Row with Unique_ID 'IR-3713' has been updated.
Row with Unique_ID 'IR-3714' has been updated.
Row with Unique_ID 'IR-3715' has been updated.
Row with Unique_ID 'IR-3716' has been updated.
Row with Unique_ID 'IR-3717' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3718' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3719' has been updated.
Iteration: 430, Elapsed Time: 210 minutes and 37.58 seconds
Row with Unique_ID 'IR-3720' has been updated.
Row with Unique_ID 'IR-3721' has been updated.
Row with Unique_ID 'IR-3722' has been updated.
Row with Unique_ID 'IR-3723' has been updated.
Row with Unique_ID 'IR-3724' has been updated.
Row with Unique_ID 'IR-3725' has been updated.
Row with Unique_ID 'IR-3726' has been updated.
Row with Unique_ID 'IR-3727' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3728' has been updated.
Row with Unique_ID 'IR-3729' has been updated.
Iteration: 440, Elapsed Time: 212 minutes and 20.79 seconds
Row with Unique_ID 'IR-3730' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3731' has been updated.
Row with Unique_ID 'IR-3732' has been updated.
Row with Unique_ID 'IR-3733' has been updated.
Row with Unique_ID 'IR-3734' has been updated.
Row with Unique_ID 'IR-3735' has been updated.
Row with Unique_ID 'IR-3736' has been updated.
Row with Unique_ID 'IR-3737' has been updated.
Row with Unique_ID 'IR-3738' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3739' has been updated.
Iteration: 450, Elapsed Time: 214 minutes and 2.78 seconds
Row with Unique_ID 'IR-3740' has been updated.
Row with Unique_ID 'IR-3741' has been updated.
Row with Unique_ID 'IR-3742' has been updated.
Row with Unique_ID 'IR-3743' has been updated.
Row with Unique_ID 'IR-3744' has been updated.
Row with Unique_ID 'IR-3745' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3746' has been updated.
Row with Unique_ID 'IR-3747' has been updated.
Row with Unique_ID 'IR-3748' has been updated.
Row with Unique_ID 'IR-3749' has been updated.
Iteration: 460, Elapsed Time: 215 minutes and 50.39 seconds
Row with Unique_ID 'IR-3750' has been updated.
Row with Unique_ID 'IR-3751' has been updated.
Row with Unique_ID 'IR-3752' has been updated.
Row with Unique_ID 'IR-3753' has been updated.
Row with Unique_ID 'IR-3754' has been updated.
Row with Unique_ID 'IR-3755' has been updated.
Row with Unique_ID 'IR-3756' has been updated.
Row with Unique_ID 'IR-3757' has been updated.
Row with Unique_ID 'IR-3758' has been updated.
Row with Unique_ID 'IR-3759' has been updated.
Iteration: 470, Elapsed Time: 217 minutes and 29.61 seconds
Row with Unique_ID 'IR-3760' has been updated.
Row with Unique_ID 'IR-3761' has been updated.
Row with Unique_ID 'IR-3762' has been updated.
Row with Unique_ID 'IR-3763' has been updated.
Row with Unique_ID 'IR-3764' has been updated.
Row with Unique_ID 'IR-3765' has been updated.
Row with Unique_ID 'IR-3766' has been updated.
Row with Unique_ID 'IR-3767' has been updated.
Row with Unique_ID 'IR-3768' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3769' has been updated.
Iteration: 480, Elapsed Time: 219 minutes and 24.91 seconds
Row with Unique_ID 'IR-3770' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3771' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3772' has been updated.
Row with Unique_ID 'IR-3773' has been updated.
Row with Unique_ID 'IR-3774' has been updated.
Row with Unique_ID 'IR-3775' has been updated.
Row with Unique_ID 'IR-3776' has been updated.
Row with Unique_ID 'IR-3777' has been updated.
Row with Unique_ID 'IR-3778' has been updated.
Row with Unique_ID 'IR-3779' has been updated.
Iteration: 490, Elapsed Time: 221 minutes and 9.04 seconds
Row with Unique_ID 'IR-3780' has been updated.
Row with Unique_ID 'IR-3781' has been updated.
Row with Unique_ID 'IR-3782' has been updated.
Row with Unique_ID 'IR-3783' has been updated.
Row with Unique_ID 'IR-3784' has been updated.
Row with Unique_ID 'IR-3785' has been updated.
Row with Unique_ID 'IR-3786' has been updated.
Row with Unique_ID 'IR-3787' has been updated.
Row with Unique_ID 'IR-3788' has been updated.
Row with Unique_ID 'IR-3789' has been updated.
Iteration: 500, Elapsed Time: 222 minutes and 46.01 seconds
Row with Unique_ID 'IR-3790' has been updated.
Row with Unique_ID 'IR-3791' has been updated.
Row with Unique_ID 'IR-3792' has been updated.
Row with Unique_ID 'IR-3793' has been updated.
Row with Unique_ID 'IR-3794' has been updated.
Row with Unique_ID 'IR-3795' has been updated.
Row with Unique_ID 'IR-3796' has been updated.
Row with Unique_ID 'IR-3797' has been updated.
Row with Unique_ID 'IR-3798' has been updated.
Row with Unique_ID 'IR-3799' has been updated.
Iteration: 510, Elapsed Time: 224 minutes and 19.49 seconds
Row with Unique_ID 'IR-3800' has been updated.
Row with Unique_ID 'IR-3801' has been updated.
Row with Unique_ID 'IR-3802' has been updated.
Row with Unique_ID 'IR-3803' has been updated.
Row with Unique_ID 'IR-3804' has been updated.
Row with Unique_ID 'IR-3805' has been updated.
Row with Unique_ID 'IR-3806' has been updated.
Row with Unique_ID 'IR-3807' has been updated.
Row with Unique_ID 'IR-3808' has been updated.
Row with Unique_ID 'IR-3809' has been updated.
Iteration: 520, Elapsed Time: 226 minutes and 2.13 seconds
Row with Unique_ID 'IR-3810' has been updated.
Row with Unique_ID 'IR-3811' has been updated.
Row with Unique_ID 'IR-3812' has been updated.
Row with Unique_ID 'IR-3813' has been updated.
Row with Unique_ID 'IR-3814' has been updated.
Row with Unique_ID 'IR-3815' has been updated.
Row with Unique_ID 'IR-3816' has been updated.
Row with Unique_ID 'IR-3817' has been updated.
Row with Unique_ID 'IR-3818' has been updated.
Row with Unique_ID 'IR-3819' has been updated.
Iteration: 530, Elapsed Time: 227 minutes and 45.91 seconds
Row with Unique_ID 'IR-3820' has been updated.
Row with Unique_ID 'IR-3821' has been updated.
Row with Unique_ID 'IR-3822' has been updated.
Row with Unique_ID 'IR-3823' has been updated.
Row with Unique_ID 'IR-3824' has been updated.
Row with Unique_ID 'IR-3825' has been updated.
Row with Unique_ID 'IR-3826' has been updated.
Row with Unique_ID 'IR-3827' has been updated.
Row with Unique_ID 'IR-3828' has been updated.
Row with Unique_ID 'IR-3829' has been updated.
Iteration: 540, Elapsed Time: 229 minutes and 19.90 seconds
Row with Unique_ID 'IR-3830' has been updated.
Row with Unique_ID 'IR-3831' has been updated.
Row with Unique_ID 'IR-3832' has been updated.
Row with Unique_ID 'IR-3833' has been updated.
Row with Unique_ID 'IR-3834' has been updated.
Row with Unique_ID 'IR-3835' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3836' has been updated.
Row with Unique_ID 'IR-3837' has been updated.
Row with Unique_ID 'IR-3838' has been updated.
Row with Unique_ID 'IR-3839' has been updated.
Iteration: 550, Elapsed Time: 231 minutes and 4.20 seconds
Row with Unique_ID 'IR-3840' has been updated.
Row with Unique_ID 'IR-3841' has been updated.
Row with Unique_ID 'IR-3842' has been updated.
Row with Unique_ID 'IR-3843' has been updated.
Row with Unique_ID 'IR-3844' has been updated.
Row with Unique_ID 'IR-3845' has been updated.
Row with Unique_ID 'IR-3846' has been updated.
Row with Unique_ID 'IR-3847' has been updated.
Row with Unique_ID 'IR-3848' has been updated.
Row with Unique_ID 'IR-3849' has been updated.
Iteration: 560, Elapsed Time: 232 minutes and 51.56 seconds
Row with Unique_ID 'IR-3850' has been updated.
Row with Unique_ID 'IR-3851' has been updated.
Row with Unique_ID 'IR-3852' has been updated.
Row with Unique_ID 'IR-3853' has been updated.
Row with Unique_ID 'IR-3854' has been updated.
Row with Unique_ID 'IR-3855' has been updated.

Row with Unique_ID 'IR-3856' has been updated.
Row with Unique_ID 'IR-3857' has been updated.
Row with Unique_ID 'IR-3858' has been updated.
Row with Unique_ID 'IR-3859' has been updated.
Iteration: 570, Elapsed Time: 234 minutes and 23.38 seconds
Row with Unique_ID 'IR-3860' has been updated.
Row with Unique_ID 'IR-3861' has been updated.
Row with Unique_ID 'IR-3862' has been updated.
Row with Unique_ID 'IR-3863' has been updated.
Row with Unique_ID 'IR-3864' has been updated.
Row with Unique_ID 'IR-3865' has been updated.
Row with Unique_ID 'IR-3866' has been updated.
Row with Unique_ID 'IR-3867' has been updated.
Row with Unique_ID 'IR-3868' has been updated.
Row with Unique_ID 'IR-3869' has been updated.
Iteration: 580, Elapsed Time: 236 minutes and 14.18 seconds
Row with Unique_ID 'IR-3870' has been updated.
Row with Unique_ID 'IR-3871' has been updated.
Row with Unique_ID 'IR-3872' has been updated.
Row with Unique_ID 'IR-3873' has been updated.
Row with Unique_ID 'IR-3874' has been updated.
Row with Unique_ID 'IR-3875' has been updated.
Row with Unique_ID 'IR-3876' has been updated.
Row with Unique_ID 'IR-3877' has been updated.
Row with Unique_ID 'IR-3878' has been updated.
Row with Unique_ID 'IR-3879' has been updated.
Iteration: 590, Elapsed Time: 237 minutes and 48.82 seconds
Row with Unique_ID 'IR-3880' has been updated.
Row with Unique_ID 'IR-3881' has been updated.
Row with Unique_ID 'IR-3882' has been updated.
Row with Unique_ID 'IR-3883' has been updated.
Row with Unique_ID 'IR-3884' has been updated.
Row with Unique_ID 'IR-3885' has been updated.
Row with Unique_ID 'IR-3886' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3887' has been updated.
Row with Unique_ID 'IR-3888' has been updated.
Row with Unique_ID 'IR-3889' has been updated.
Iteration: 600, Elapsed Time: 239 minutes and 32.08 seconds
Row with Unique_ID 'IR-3890' has been updated.
Row with Unique_ID 'IR-3891' has been updated.
Row with Unique_ID 'IR-3892' has been updated.
Row with Unique_ID 'IR-3893' has been updated.
Row with Unique_ID 'IR-3894' has been updated.
Row with Unique_ID 'IR-3895' has been updated.
Row with Unique_ID 'IR-3896' has been updated.
Row with Unique_ID 'IR-3897' has been updated.
Row with Unique_ID 'IR-3898' has been updated.
Row with Unique_ID 'IR-3899' has been updated.
Iteration: 610, Elapsed Time: 241 minutes and 13.07 seconds
Row with Unique_ID 'IR-3900' has been updated.
Row with Unique_ID 'IR-3901' has been updated.
Row with Unique_ID 'IR-3902' has been updated.
Row with Unique_ID 'IR-3903' has been updated.
Row with Unique_ID 'IR-3904' has been updated.
Row with Unique_ID 'IR-3905' has been updated.
Row with Unique_ID 'IR-3906' has been updated.
Row with Unique_ID 'IR-3907' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3908' has been updated.
Row with Unique_ID 'IR-3909' has been updated.
Iteration: 620, Elapsed Time: 242 minutes and 57.40 seconds
Row with Unique_ID 'IR-3910' has been updated.
Row with Unique_ID 'IR-3911' has been updated.
Row with Unique_ID 'IR-3912' has been updated.
Row with Unique_ID 'IR-3913' has been updated.
Row with Unique_ID 'IR-3914' has been updated.
Row with Unique_ID 'IR-3915' has been updated.
Row with Unique_ID 'IR-3916' has been updated.
Row with Unique_ID 'IR-3917' has been updated.
Row with Unique_ID 'IR-3918' has been updated.
Row with Unique_ID 'IR-3919' has been updated.
Iteration: 630, Elapsed Time: 244 minutes and 37.49 seconds
Row with Unique_ID 'IR-3920' has been updated.
Row with Unique_ID 'IR-3921' has been updated.
Row with Unique_ID 'IR-3922' has been updated.
Row with Unique_ID 'IR-3923' has been updated.
Row with Unique_ID 'IR-3924' has been updated.
Row with Unique_ID 'IR-3925' has been updated.
Row with Unique_ID 'IR-3926' has been updated.
Row with Unique_ID 'IR-3927' has been updated.
Row with Unique_ID 'IR-3928' has been updated.
Row with Unique_ID 'IR-3929' has been updated.
Iteration: 640, Elapsed Time: 246 minutes and 10.91 seconds
Row with Unique_ID 'IR-3930' has been updated.
Row with Unique_ID 'IR-3931' has been updated.
Row with Unique_ID 'IR-3932' has been updated.
Row with Unique_ID 'IR-3933' has been updated.
Row with Unique_ID 'IR-3934' has been updated.
Row with Unique_ID 'IR-3935' has been updated.
Row with Unique_ID 'IR-3936' has been updated.
Row with Unique_ID 'IR-3937' has been updated.
Row with Unique_ID 'IR-3938' has been updated.
Row with Unique_ID 'IR-3939' has been updated.
Iteration: 650, Elapsed Time: 247 minutes and 49.50 seconds
Row with Unique_ID 'IR-3940' has been updated.
Row with Unique_ID 'IR-3941' has been updated.
Row with Unique_ID 'IR-3942' has been updated.
Row with Unique_ID 'IR-3943' has been updated.
Row with Unique_ID 'IR-3944' has been updated.
Row with Unique_ID 'IR-3945' has been updated.
Row with Unique_ID 'IR-3946' has been updated.
Row with Unique_ID 'IR-3947' has been updated.
Row with Unique_ID 'IR-3948' has been updated.
Row with Unique_ID 'IR-3949' has been updated.
Iteration: 660, Elapsed Time: 249 minutes and 26.98 seconds
Row with Unique_ID 'IR-3950' has been updated.
Row with Unique_ID 'IR-3951' has been updated.
Row with Unique_ID 'IR-3952' has been updated.
Row with Unique_ID 'IR-3953' has been updated.
Row with Unique_ID 'IR-3954' has been updated.
Row with Unique_ID 'IR-3955' has been updated.
Row with Unique_ID 'IR-3956' has been updated.
Row with Unique_ID 'IR-3957' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3958' has been updated.
Row with Unique_ID 'IR-3959' has been updated.
Iteration: 670, Elapsed Time: 251 minutes and 15.71 seconds
Row with Unique_ID 'IR-3960' has been updated.
Row with Unique_ID 'IR-3961' has been updated.
Row with Unique_ID 'IR-3962' has been updated.
Row with Unique_ID 'IR-3963' has been updated.
Row with Unique_ID 'IR-3964' has been updated.
Row with Unique_ID 'IR-3965' has been updated.
Row with Unique_ID 'IR-3966' has been updated.
Row with Unique_ID 'IR-3967' has been updated.
Row with Unique_ID 'IR-3968' has been updated.
Row with Unique_ID 'IR-3969' has been updated.
Iteration: 680, Elapsed Time: 252 minutes and 50.08 seconds
Row with Unique_ID 'IR-3970' has been updated.
Row with Unique_ID 'IR-3971' has been updated.
Row with Unique_ID 'IR-3972' has been updated.
Row with Unique_ID 'IR-3973' has been updated.
Row with Unique_ID 'IR-3974' has been updated.
Row with Unique_ID 'IR-3975' has been updated.
Row with Unique_ID 'IR-3976' has been updated.
Row with Unique_ID 'IR-3977' has been updated.
Row with Unique_ID 'IR-3978' has been updated.
Row with Unique_ID 'IR-3979' has been updated.
Iteration: 690, Elapsed Time: 254 minutes and 23.68 seconds
Row with Unique_ID 'IR-3980' has been updated.
Row with Unique_ID 'IR-3981' has been updated.
Row with Unique_ID 'IR-3982' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3983' has been updated.
Row with Unique_ID 'IR-3984' has been updated.
Row with Unique_ID 'IR-3985' has been updated.
Row with Unique_ID 'IR-3986' has been updated.
Row with Unique_ID 'IR-3987' has been updated.
Row with Unique_ID 'IR-3988' has been updated.
Row with Unique_ID 'IR-3989' has been updated.
Iteration: 700, Elapsed Time: 256 minutes and 5.62 seconds
Row with Unique_ID 'IR-3990' has been updated.
Row with Unique_ID 'IR-3991' has been updated.
Row with Unique_ID 'IR-3992' has been updated.
Row with Unique_ID 'IR-3993' has been updated.
Row with Unique_ID 'IR-3994' has been updated.
Row with Unique_ID 'IR-3995' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-3996' has been updated.
Row with Unique_ID 'IR-3997' has been updated.
Row with Unique_ID 'IR-3998' has been updated.
Row with Unique_ID 'IR-3999' has been updated.
Iteration: 710, Elapsed Time: 257 minutes and 48.32 seconds
Row with Unique_ID 'IR-4000' has been updated.
Row with Unique_ID 'IR-4001' has been updated.
Row with Unique_ID 'IR-4002' has been updated.
Row with Unique_ID 'IR-4003' has been updated.

Row with Unique_ID 'IR-4004' has been updated.
Row with Unique_ID 'IR-4005' has been updated.
Row with Unique_ID 'IR-4006' has been updated.
Row with Unique_ID 'IR-4007' has been updated.
Row with Unique_ID 'IR-4008' has been updated.
Row with Unique_ID 'IR-4009' has been updated.
Iteration: 720, Elapsed Time: 259 minutes and 23.56 seconds
Row with Unique_ID 'IR-4010' has been updated.
Row with Unique_ID 'IR-4011' has been updated.
Row with Unique_ID 'IR-4012' has been updated.
Row with Unique_ID 'IR-4013' has been updated.
Row with Unique_ID 'IR-4014' has been updated.
Row with Unique_ID 'IR-4015' has been updated.
Row with Unique_ID 'IR-4016' has been updated.
Row with Unique_ID 'IR-4017' has been updated.
Row with Unique_ID 'IR-4018' has been updated.
Row with Unique_ID 'IR-4019' has been updated.
Iteration: 730, Elapsed Time: 261 minutes and 0.36 seconds
Row with Unique_ID 'IR-4020' has been updated.
Row with Unique_ID 'IR-4021' has been updated.
Row with Unique_ID 'IR-4022' has been updated.
Row with Unique_ID 'IR-4023' has been updated.
Row with Unique_ID 'IR-4024' has been updated.
Row with Unique_ID 'IR-4025' has been updated.
Row with Unique_ID 'IR-4026' has been updated.
Row with Unique_ID 'IR-4027' has been updated.
Row with Unique_ID 'IR-4028' has been updated.
Row with Unique_ID 'IR-4029' has been updated.
Iteration: 740, Elapsed Time: 262 minutes and 48.14 seconds
Row with Unique_ID 'IR-4030' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4031' has been updated.
Row with Unique_ID 'IR-4032' has been updated.
Row with Unique_ID 'IR-4033' has been updated.
Row with Unique_ID 'IR-4034' has been updated.
Row with Unique_ID 'IR-4035' has been updated.
Row with Unique_ID 'IR-4036' has been updated.
Row with Unique_ID 'IR-4037' has been updated.
Row with Unique_ID 'IR-4038' has been updated.
Row with Unique_ID 'IR-4039' has been updated.
Iteration: 750, Elapsed Time: 264 minutes and 33.41 seconds
Row with Unique_ID 'IR-4040' has been updated.
Row with Unique_ID 'IR-4041' has been updated.
Row with Unique_ID 'IR-4042' has been updated.
Row with Unique_ID 'IR-4043' has been updated.
Row with Unique_ID 'IR-4044' has been updated.
Row with Unique_ID 'IR-4045' has been updated.
Row with Unique_ID 'IR-4046' has been updated.
Row with Unique_ID 'IR-4047' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4048' has been updated.
Row with Unique_ID 'IR-4049' has been updated.
Iteration: 760, Elapsed Time: 266 minutes and 22.00 seconds
Row with Unique_ID 'IR-4050' has been updated.
Row with Unique_ID 'IR-4051' has been updated.
Row with Unique_ID 'IR-4052' has been updated.
Row with Unique_ID 'IR-4053' has been updated.
Row with Unique_ID 'IR-4054' has been updated.
Row with Unique_ID 'IR-4055' has been updated.
Row with Unique_ID 'IR-4056' has been updated.
Row with Unique_ID 'IR-4057' has been updated.
Row with Unique_ID 'IR-4058' has been updated.
Row with Unique_ID 'IR-4059' has been updated.
Iteration: 770, Elapsed Time: 268 minutes and 3.38 seconds
Row with Unique_ID 'IR-4060' has been updated.
Row with Unique_ID 'IR-4061' has been updated.
Row with Unique_ID 'IR-4062' has been updated.
Row with Unique_ID 'IR-4063' has been updated.
Row with Unique_ID 'IR-4064' has been updated.
Row with Unique_ID 'IR-4065' has been updated.
Row with Unique_ID 'IR-4066' has been updated.
Error encountered: The `response.text` quick accessor only works when the response contains a valid `Part`, but none was returned. Check the `candidate.safety_ratings` to see if the response was blocked.. Retry 1/5
Row with Unique_ID 'IR-4067' has been updated.
Row with Unique_ID 'IR-4068' has been updated.
Row with Unique_ID 'IR-4069' has been updated.
Iteration: 780, Elapsed Time: 269 minutes and 52.34 seconds
Row with Unique_ID 'IR-4070' has been updated.
Row with Unique_ID 'IR-4071' has been updated.
Row with Unique_ID 'IR-4072' has been updated.
Row with Unique_ID 'IR-4073' has been updated.
Row with Unique_ID 'IR-4074' has been updated.
Row with Unique_ID 'IR-4075' has been updated.
Row with Unique_ID 'IR-4076' has been updated.
Row with Unique_ID 'IR-4077' has been updated.
Row with Unique_ID 'IR-4078' has been updated.
Row with Unique_ID 'IR-4079' has been updated.
Iteration: 790, Elapsed Time: 271 minutes and 28.87 seconds
Row with Unique_ID 'IR-4080' has been updated.
Row with Unique_ID 'IR-4081' has been updated.
Row with Unique_ID 'IR-4082' has been updated.
Row with Unique_ID 'IR-4083' has been updated.
Row with Unique_ID 'IR-4084' has been updated.
Row with Unique_ID 'IR-4085' has been updated.
Row with Unique_ID 'IR-4086' has been updated.
Row with Unique_ID 'IR-4087' has been updated.
Row with Unique_ID 'IR-4088' has been updated.
Row with Unique_ID 'IR-4089' has been updated.
Iteration: 800, Elapsed Time: 273 minutes and 4.00 seconds
Row with Unique_ID 'IR-4090' has been updated.
Row with Unique_ID 'IR-4091' has been updated.
Row with Unique_ID 'IR-4092' has been updated.
Row with Unique_ID 'IR-4093' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-4094' has been updated.
Row with Unique_ID 'IR-4095' has been updated.
Row with Unique_ID 'IR-4096' has been updated.
Row with Unique_ID 'IR-4097' has been updated.
Row with Unique_ID 'IR-4098' has been updated.
Row with Unique_ID 'IR-4099' has been updated.
Iteration: 810, Elapsed Time: 275 minutes and 9.89 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4100' has been updated.
Row with Unique_ID 'IR-4101' has been updated.
Row with Unique_ID 'IR-4102' has been updated.
Row with Unique_ID 'IR-4103' has been updated.
Row with Unique_ID 'IR-4104' has been updated.
Row with Unique_ID 'IR-4105' has been updated.
Row with Unique_ID 'IR-4106' has been updated.
Row with Unique_ID 'IR-4107' has been updated.
Row with Unique_ID 'IR-4108' has been updated.
Row with Unique_ID 'IR-4109' has been updated.
Iteration: 820, Elapsed Time: 276 minutes and 56.53 seconds
Row with Unique_ID 'IR-4110' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4111' has been updated.
Row with Unique_ID 'IR-4112' has been updated.
Row with Unique_ID 'IR-4113' has been updated.
Row with Unique_ID 'IR-4114' has been updated.
Row with Unique_ID 'IR-4115' has been updated.
Row with Unique_ID 'IR-4116' has been updated.
Row with Unique_ID 'IR-4117' has been updated.
Row with Unique_ID 'IR-4118' has been updated.
Row with Unique_ID 'IR-4119' has been updated.
Iteration: 830, Elapsed Time: 278 minutes and 49.16 seconds
Row with Unique_ID 'IR-4120' has been updated.
Row with Unique_ID 'IR-4121' has been updated.
Row with Unique_ID 'IR-4122' has been updated.
Row with Unique_ID 'IR-4123' has been updated.
Row with Unique_ID 'IR-4124' has been updated.
Row with Unique_ID 'IR-4125' has been updated.
Row with Unique_ID 'IR-4126' has been updated.
Row with Unique_ID 'IR-4127' has been updated.
Row with Unique_ID 'IR-4128' has been updated.
Row with Unique_ID 'IR-4129' has been updated.
Iteration: 840, Elapsed Time: 280 minutes and 22.21 seconds
Row with Unique_ID 'IR-4130' has been updated.
Row with Unique_ID 'IR-4131' has been updated.
Row with Unique_ID 'IR-4132' has been updated.
Row with Unique_ID 'IR-4133' has been updated.
Row with Unique_ID 'IR-4134' has been updated.
Row with Unique_ID 'IR-4135' has been updated.
Row with Unique_ID 'IR-4136' has been updated.
Row with Unique_ID 'IR-4137' has been updated.
Row with Unique_ID 'IR-4138' has been updated.
Row with Unique_ID 'IR-4139' has been updated.
Iteration: 850, Elapsed Time: 282 minutes and 13.96 seconds
Row with Unique_ID 'IR-4140' has been updated.
Row with Unique_ID 'IR-4141' has been updated.
Row with Unique_ID 'IR-4142' has been updated.
Row with Unique_ID 'IR-4143' has been updated.
Row with Unique_ID 'IR-4144' has been updated.
Row with Unique_ID 'IR-4145' has been updated.
Row with Unique_ID 'IR-4146' has been updated.
Row with Unique_ID 'IR-4147' has been updated.

Row with Unique_ID 'IR-4148' has been updated.
Row with Unique_ID 'IR-4149' has been updated.
Iteration: 860, Elapsed Time: 283 minutes and 55.80 seconds
Row with Unique_ID 'IR-4150' has been updated.
Row with Unique_ID 'IR-4151' has been updated.
Row with Unique_ID 'IR-4152' has been updated.
Row with Unique_ID 'IR-4153' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4154' has been updated.
Row with Unique_ID 'IR-4155' has been updated.
Error encountered: The `response.text` quick accessor only works when the response contains a valid `Part`, but none was returned. Check the `candidate.safety_ratings` to see if the response was blocked.. Retry 1/5
Error encountered: The `response.text` quick accessor only works when the response contains a valid `Part`, but none was returned. Check the `candidate.safety_ratings` to see if the response was blocked.. Retry 2/5
Row with Unique_ID 'IR-4156' has been updated.
Row with Unique_ID 'IR-4157' has been updated.
Row with Unique_ID 'IR-4158' has been updated.
Row with Unique_ID 'IR-4159' has been updated.
Iteration: 870, Elapsed Time: 285 minutes and 55.94 seconds
Row with Unique_ID 'IR-4160' has been updated.
Row with Unique_ID 'IR-4161' has been updated.
Row with Unique_ID 'IR-4162' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4163' has been updated.
Row with Unique_ID 'IR-4164' has been updated.
Row with Unique_ID 'IR-4165' has been updated.
Row with Unique_ID 'IR-4166' has been updated.
Row with Unique_ID 'IR-4167' has been updated.
Row with Unique_ID 'IR-4168' has been updated.
Row with Unique_ID 'IR-4169' has been updated.
Iteration: 880, Elapsed Time: 287 minutes and 35.62 seconds
Row with Unique_ID 'IR-4170' has been updated.
Row with Unique_ID 'IR-4171' has been updated.
Row with Unique_ID 'IR-4172' has been updated.
Row with Unique_ID 'IR-4173' has been updated.
Row with Unique_ID 'IR-4174' has been updated.
Row with Unique_ID 'IR-4175' has been updated.
Row with Unique_ID 'IR-4176' has been updated.
Row with Unique_ID 'IR-4177' has been updated.
Row with Unique_ID 'IR-4178' has been updated.
Row with Unique_ID 'IR-4179' has been updated.
Iteration: 890, Elapsed Time: 289 minutes and 16.16 seconds
Row with Unique_ID 'IR-4180' has been updated.
Row with Unique_ID 'IR-4181' has been updated.
Row with Unique_ID 'IR-4182' has been updated.
Row with Unique_ID 'IR-4183' has been updated.
Row with Unique_ID 'IR-4184' has been updated.
Row with Unique_ID 'IR-4185' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4186' has been updated.
Row with Unique_ID 'IR-4187' has been updated.
Row with Unique_ID 'IR-4188' has been updated.
Row with Unique_ID 'IR-4189' has been updated.
Iteration: 900, Elapsed Time: 291 minutes and 1.44 seconds
Row with Unique_ID 'IR-4190' has been updated.
Row with Unique_ID 'IR-4191' has been updated.
Row with Unique_ID 'IR-4192' has been updated.
Row with Unique_ID 'IR-4193' has been updated.
Row with Unique_ID 'IR-4194' has been updated.
Row with Unique_ID 'IR-4195' has been updated.
Row with Unique_ID 'IR-4196' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4197' has been updated.
Row with Unique_ID 'IR-4198' has been updated.
Row with Unique_ID 'IR-4199' has been updated.
Iteration: 910, Elapsed Time: 293 minutes and 2.87 seconds
Row with Unique_ID 'IR-4200' has been updated.
Row with Unique_ID 'IR-4201' has been updated.
Row with Unique_ID 'IR-4202' has been updated.
Row with Unique_ID 'IR-4203' has been updated.
Row with Unique_ID 'IR-4204' has been updated.
Row with Unique_ID 'IR-4205' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4206' has been updated.
Row with Unique_ID 'IR-4207' has been updated.
Row with Unique_ID 'IR-4208' has been updated.
Row with Unique_ID 'IR-4209' has been updated.
Iteration: 920, Elapsed Time: 294 minutes and 51.48 seconds
Row with Unique_ID 'IR-4210' has been updated.
Row with Unique_ID 'IR-4211' has been updated.
Row with Unique_ID 'IR-4212' has been updated.
Row with Unique_ID 'IR-4213' has been updated.
Row with Unique_ID 'IR-4214' has been updated.
Row with Unique_ID 'IR-4215' has been updated.
Row with Unique_ID 'IR-4216' has been updated.
Row with Unique_ID 'IR-4217' has been updated.
Row with Unique_ID 'IR-4218' has been updated.
Row with Unique_ID 'IR-4219' has been updated.
Iteration: 930, Elapsed Time: 296 minutes and 33.14 seconds
Row with Unique_ID 'IR-4220' has been updated.
Row with Unique_ID 'IR-4221' has been updated.
Row with Unique_ID 'IR-4222' has been updated.
Row with Unique_ID 'IR-4223' has been updated.
Row with Unique_ID 'IR-4224' has been updated.
Row with Unique_ID 'IR-4225' has been updated.
Row with Unique_ID 'IR-4226' has been updated.
Row with Unique_ID 'IR-4227' has been updated.
Row with Unique_ID 'IR-4228' has been updated.
Row with Unique_ID 'IR-4229' has been updated.
Iteration: 940, Elapsed Time: 298 minutes and 18.81 seconds
Row with Unique_ID 'IR-4230' has been updated.
Row with Unique_ID 'IR-4231' has been updated.
Row with Unique_ID 'IR-4232' has been updated.
Row with Unique_ID 'IR-4233' has been updated.
Row with Unique_ID 'IR-4234' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4235' has been updated.
Row with Unique_ID 'IR-4236' has been updated.
Row with Unique_ID 'IR-4237' has been updated.
Row with Unique_ID 'IR-4238' has been updated.
Row with Unique_ID 'IR-4239' has been updated.
Iteration: 950, Elapsed Time: 300 minutes and 12.65 seconds
Row with Unique_ID 'IR-4240' has been updated.
Row with Unique_ID 'IR-4241' has been updated.
Row with Unique_ID 'IR-4242' has been updated.
Row with Unique_ID 'IR-4243' has been updated.
Row with Unique_ID 'IR-4244' has been updated.
Row with Unique_ID 'IR-4245' has been updated.
Row with Unique_ID 'IR-4246' has been updated.
Row with Unique_ID 'IR-4247' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4248' has been updated.
Row with Unique_ID 'IR-4249' has been updated.
Iteration: 960, Elapsed Time: 301 minutes and 58.66 seconds
Row with Unique_ID 'IR-4250' has been updated.
Row with Unique_ID 'IR-4251' has been updated.
Row with Unique_ID 'IR-4252' has been updated.
Row with Unique_ID 'IR-4253' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4254' has been updated.
Row with Unique_ID 'IR-4255' has been updated.
Row with Unique_ID 'IR-4256' has been updated.
Row with Unique_ID 'IR-4257' has been updated.
Row with Unique_ID 'IR-4258' has been updated.
Row with Unique_ID 'IR-4259' has been updated.
Iteration: 970, Elapsed Time: 304 minutes and 1.99 seconds
Row with Unique_ID 'IR-4260' has been updated.
Row with Unique_ID 'IR-4261' has been updated.
Row with Unique_ID 'IR-4262' has been updated.
Row with Unique_ID 'IR-4263' has been updated.
Row with Unique_ID 'IR-4264' has been updated.
Row with Unique_ID 'IR-4265' has been updated.
Row with Unique_ID 'IR-4266' has been updated.
Row with Unique_ID 'IR-4267' has been updated.
Row with Unique_ID 'IR-4268' has been updated.
Row with Unique_ID 'IR-4269' has been updated.
Iteration: 980, Elapsed Time: 305 minutes and 40.99 seconds
Row with Unique_ID 'IR-4270' has been updated.
Row with Unique_ID 'IR-4271' has been updated.
Row with Unique_ID 'IR-4272' has been updated.
Row with Unique_ID 'IR-4273' has been updated.
Row with Unique_ID 'IR-4274' has been updated.
Row with Unique_ID 'IR-4275' has been updated.
Row with Unique_ID 'IR-4276' has been updated.
Row with Unique_ID 'IR-4277' has been updated.
Row with Unique_ID 'IR-4278' has been updated.
Row with Unique_ID 'IR-4279' has been updated.
Iteration: 990, Elapsed Time: 307 minutes and 24.57 seconds
Row with Unique_ID 'IR-4280' has been updated.
Row with Unique_ID 'IR-4281' has been updated.
Row with Unique_ID 'IR-4282' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5

Row with Unique_ID 'IR-4283' has been updated.
Row with Unique_ID 'IR-4284' has been updated.
Row with Unique_ID 'IR-4285' has been updated.
Row with Unique_ID 'IR-4286' has been updated.
Row with Unique_ID 'IR-4287' has been updated.
Row with Unique_ID 'IR-4288' has been updated.
Row with Unique_ID 'IR-4289' has been updated.
Iteration: 1000, Elapsed Time: 309 minutes and 15.44 seconds
Row with Unique_ID 'IR-4290' has been updated.
Row with Unique_ID 'IR-4291' has been updated.
Row with Unique_ID 'IR-4292' has been updated.
Row with Unique_ID 'IR-4293' has been updated.
Row with Unique_ID 'IR-4294' has been updated.
Row with Unique_ID 'IR-4295' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Error encountered: 'str' object has no attribute 'items'. Retry 2/5
Row with Unique_ID 'IR-4296' has been updated.
Row with Unique_ID 'IR-4297' has been updated.
Row with Unique_ID 'IR-4298' has been updated.
Row with Unique_ID 'IR-4299' has been updated.
Iteration: 1010, Elapsed Time: 311 minutes and 3.13 seconds
Row with Unique_ID 'IR-4300' has been updated.
Row with Unique_ID 'IR-4301' has been updated.
Row with Unique_ID 'IR-4302' has been updated.
Row with Unique_ID 'IR-4303' has been updated.
Row with Unique_ID 'IR-4304' has been updated.
Row with Unique_ID 'IR-4305' has been updated.
Row with Unique_ID 'IR-4306' has been updated.
Row with Unique_ID 'IR-4307' has been updated.
Row with Unique_ID 'IR-4308' has been updated.
Row with Unique_ID 'IR-4309' has been updated.
Iteration: 1020, Elapsed Time: 312 minutes and 39.46 seconds
Row with Unique_ID 'IR-4310' has been updated.
Row with Unique_ID 'IR-4311' has been updated.
Row with Unique_ID 'IR-4312' has been updated.
Row with Unique_ID 'IR-4313' has been updated.
Row with Unique_ID 'IR-4314' has been updated.
Row with Unique_ID 'IR-4315' has been updated.
Row with Unique_ID 'IR-4316' has been updated.
Row with Unique_ID 'IR-4317' has been updated.
Row with Unique_ID 'IR-4318' has been updated.
Row with Unique_ID 'IR-4319' has been updated.
Iteration: 1030, Elapsed Time: 314 minutes and 28.82 seconds
Row with Unique_ID 'IR-4320' has been updated.
Row with Unique_ID 'IR-4321' has been updated.
Row with Unique_ID 'IR-4322' has been updated.
Row with Unique_ID 'IR-4323' has been updated.
Row with Unique_ID 'IR-4324' has been updated.
Row with Unique_ID 'IR-4325' has been updated.
Row with Unique_ID 'IR-4326' has been updated.
Row with Unique_ID 'IR-4327' has been updated.
Row with Unique_ID 'IR-4328' has been updated.
Row with Unique_ID 'IR-4329' has been updated.
Iteration: 1040, Elapsed Time: 316 minutes and 19.38 seconds
Row with Unique_ID 'IR-4330' has been updated.
Row with Unique_ID 'IR-4331' has been updated.
Row with Unique_ID 'IR-4332' has been updated.
Row with Unique_ID 'IR-4333' has been updated.
Row with Unique_ID 'IR-4334' has been updated.
Row with Unique_ID 'IR-4335' has been updated.
Row with Unique_ID 'IR-4336' has been updated.
Row with Unique_ID 'IR-4337' has been updated.
Row with Unique_ID 'IR-4338' has been updated.
Row with Unique_ID 'IR-4339' has been updated.
Iteration: 1050, Elapsed Time: 318 minutes and 0.82 seconds
Row with Unique_ID 'IR-4340' has been updated.
Row with Unique_ID 'IR-4341' has been updated.
Row with Unique_ID 'IR-4342' has been updated.
Row with Unique_ID 'IR-4343' has been updated.
Row with Unique_ID 'IR-4344' has been updated.
Row with Unique_ID 'IR-4345' has been updated.
Row with Unique_ID 'IR-4346' has been updated.
Row with Unique_ID 'IR-4347' has been updated.
Row with Unique_ID 'IR-4348' has been updated.
Row with Unique_ID 'IR-4349' has been updated.
Iteration: 1060, Elapsed Time: 319 minutes and 51.52 seconds
Row with Unique_ID 'IR-4350' has been updated.
Row with Unique_ID 'IR-4351' has been updated.
Row with Unique_ID 'IR-4352' has been updated.
Row with Unique_ID 'IR-4353' has been updated.
Row with Unique_ID 'IR-4354' has been updated.
Row with Unique_ID 'IR-4355' has been updated.
Row with Unique_ID 'IR-4356' has been updated.
Row with Unique_ID 'IR-4357' has been updated.
Row with Unique_ID 'IR-4358' has been updated.
Row with Unique_ID 'IR-4359' has been updated.
Iteration: 1070, Elapsed Time: 321 minutes and 24.93 seconds
Row with Unique_ID 'IR-4360' has been updated.
Row with Unique_ID 'IR-4361' has been updated.
Row with Unique_ID 'IR-4362' has been updated.
Row with Unique_ID 'IR-4363' has been updated.
Row with Unique_ID 'IR-4364' has been updated.
Row with Unique_ID 'IR-4365' has been updated.
Row with Unique_ID 'IR-4366' has been updated.
Row with Unique_ID 'IR-4367' has been updated.
Row with Unique_ID 'IR-4368' has been updated.
Row with Unique_ID 'IR-4369' has been updated.
Iteration: 1080, Elapsed Time: 323 minutes and 6.26 seconds
Row with Unique_ID 'IR-4370' has been updated.
Row with Unique_ID 'IR-4371' has been updated.
Row with Unique_ID 'IR-4372' has been updated.
Row with Unique_ID 'IR-4373' has been updated.
Row with Unique_ID 'IR-4374' has been updated.
Row with Unique_ID 'IR-4375' has been updated.
Row with Unique_ID 'IR-4376' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4377' has been updated.
Row with Unique_ID 'IR-4378' has been updated.
Row with Unique_ID 'IR-4379' has been updated.
Iteration: 1090, Elapsed Time: 324 minutes and 47.86 seconds
Row with Unique_ID 'IR-4380' has been updated.
Row with Unique_ID 'IR-4381' has been updated.
Row with Unique_ID 'IR-4382' has been updated.
Row with Unique_ID 'IR-4383' has been updated.
Row with Unique_ID 'IR-4384' has been updated.
Row with Unique_ID 'IR-4385' has been updated.
Row with Unique_ID 'IR-4386' has been updated.
Row with Unique_ID 'IR-4387' has been updated.
Row with Unique_ID 'IR-4388' has been updated.
Row with Unique_ID 'IR-4389' has been updated.
Iteration: 1100, Elapsed Time: 326 minutes and 27.41 seconds
Row with Unique_ID 'IR-4390' has been updated.
Row with Unique_ID 'IR-4391' has been updated.
Row with Unique_ID 'IR-4392' has been updated.
Row with Unique_ID 'IR-4393' has been updated.
Row with Unique_ID 'IR-4394' has been updated.
Row with Unique_ID 'IR-4395' has been updated.
Row with Unique_ID 'IR-4396' has been updated.
Row with Unique_ID 'IR-4397' has been updated.
Row with Unique_ID 'IR-4398' has been updated.
Row with Unique_ID 'IR-4399' has been updated.
Iteration: 1110, Elapsed Time: 328 minutes and 16.21 seconds
Row with Unique_ID 'IR-4400' has been updated.
Row with Unique_ID 'IR-4401' has been updated.
Row with Unique_ID 'IR-4402' has been updated.
Row with Unique_ID 'IR-4403' has been updated.
Row with Unique_ID 'IR-4404' has been updated.
Row with Unique_ID 'IR-4405' has been updated.
Row with Unique_ID 'IR-4406' has been updated.
Row with Unique_ID 'IR-4407' has been updated.
Row with Unique_ID 'IR-4408' has been updated.
Row with Unique_ID 'IR-4409' has been updated.
Iteration: 1120, Elapsed Time: 330 minutes and 1.54 seconds
Row with Unique_ID 'IR-4410' has been updated.
Row with Unique_ID 'IR-4411' has been updated.
Row with Unique_ID 'IR-4412' has been updated.
Row with Unique_ID 'IR-4413' has been updated.
Row with Unique_ID 'IR-4414' has been updated.
Row with Unique_ID 'IR-4415' has been updated.
Row with Unique_ID 'IR-4416' has been updated.
Row with Unique_ID 'IR-4417' has been updated.
Row with Unique_ID 'IR-4418' has been updated.
Row with Unique_ID 'IR-4419' has been updated.
Iteration: 1130, Elapsed Time: 331 minutes and 52.15 seconds
Row with Unique_ID 'IR-4420' has been updated.
Row with Unique_ID 'IR-4421' has been updated.
Row with Unique_ID 'IR-4422' has been updated.
Row with Unique_ID 'IR-4423' has been updated.
Row with Unique_ID 'IR-4424' has been updated.
Row with Unique_ID 'IR-4425' has been updated.
Row with Unique_ID 'IR-4426' has been updated.
Row with Unique_ID 'IR-4427' has been updated.
Row with Unique_ID 'IR-4428' has been updated.
Row with Unique_ID 'IR-4429' has been updated.
Iteration: 1140, Elapsed Time: 333 minutes and 41.69 seconds
Row with Unique_ID 'IR-4430' has been updated.
Row with Unique_ID 'IR-4431' has been updated.
Row with Unique_ID 'IR-4432' has been updated.
Row with Unique_ID 'IR-4433' has been updated.

Row with Unique_ID 'IR-4434' has been updated.
Row with Unique_ID 'IR-4435' has been updated.
Row with Unique_ID 'IR-4436' has been updated.
Row with Unique_ID 'IR-4437' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4438' has been updated.
Row with Unique_ID 'IR-4439' has been updated.
Iteration: 1150, Elapsed Time: 335 minutes and 38.72 seconds
Row with Unique_ID 'IR-4440' has been updated.
Row with Unique_ID 'IR-4441' has been updated.
Row with Unique_ID 'IR-4442' has been updated.
Row with Unique_ID 'IR-4443' has been updated.
Row with Unique_ID 'IR-4444' has been updated.
Row with Unique_ID 'IR-4445' has been updated.
Row with Unique_ID 'IR-4446' has been updated.
Row with Unique_ID 'IR-4447' has been updated.
Row with Unique_ID 'IR-4448' has been updated.
Row with Unique_ID 'IR-4449' has been updated.
Iteration: 1160, Elapsed Time: 337 minutes and 32.94 seconds
Row with Unique_ID 'IR-4450' has been updated.
Row with Unique_ID 'IR-4451' has been updated.
Row with Unique_ID 'IR-4452' has been updated.
Row with Unique_ID 'IR-4453' has been updated.
Row with Unique_ID 'IR-4454' has been updated.
Row with Unique_ID 'IR-4455' has been updated.
Row with Unique_ID 'IR-4456' has been updated.
Row with Unique_ID 'IR-4457' has been updated.
Row with Unique_ID 'IR-4458' has been updated.
Row with Unique_ID 'IR-4459' has been updated.
Iteration: 1170, Elapsed Time: 339 minutes and 25.73 seconds
Row with Unique_ID 'IR-4460' has been updated.
Row with Unique_ID 'IR-4461' has been updated.
Row with Unique_ID 'IR-4462' has been updated.
Row with Unique_ID 'IR-4463' has been updated.
Row with Unique_ID 'IR-4464' has been updated.
Row with Unique_ID 'IR-4465' has been updated.
Row with Unique_ID 'IR-4466' has been updated.
Row with Unique_ID 'IR-4467' has been updated.
Row with Unique_ID 'IR-4468' has been updated.
Row with Unique_ID 'IR-4469' has been updated.
Iteration: 1180, Elapsed Time: 341 minutes and 20.71 seconds
Row with Unique_ID 'IR-4470' has been updated.
Row with Unique_ID 'IR-4471' has been updated.
Row with Unique_ID 'IR-4472' has been updated.
Row with Unique_ID 'IR-4473' has been updated.
Row with Unique_ID 'IR-4474' has been updated.
Row with Unique_ID 'IR-4475' has been updated.
Row with Unique_ID 'IR-4476' has been updated.
Row with Unique_ID 'IR-4477' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4478' has been updated.
Row with Unique_ID 'IR-4479' has been updated.
Iteration: 1190, Elapsed Time: 343 minutes and 19.19 seconds
Row with Unique_ID 'IR-4480' has been updated.
Row with Unique_ID 'IR-4481' has been updated.
Row with Unique_ID 'IR-4482' has been updated.
Row with Unique_ID 'IR-4483' has been updated.
Row with Unique_ID 'IR-4484' has been updated.
Row with Unique_ID 'IR-4485' has been updated.
Row with Unique_ID 'IR-4486' has been updated.
Row with Unique_ID 'IR-4487' has been updated.
Row with Unique_ID 'IR-4488' has been updated.
Row with Unique_ID 'IR-4489' has been updated.
Iteration: 1200, Elapsed Time: 345 minutes and 19.68 seconds
Row with Unique_ID 'IR-4490' has been updated.
Row with Unique_ID 'IR-4491' has been updated.
Row with Unique_ID 'IR-4492' has been updated.
Row with Unique_ID 'IR-4493' has been updated.
Row with Unique_ID 'IR-4494' has been updated.
Row with Unique_ID 'IR-4495' has been updated.
Row with Unique_ID 'IR-4496' has been updated.
Row with Unique_ID 'IR-4497' has been updated.
Row with Unique_ID 'IR-4498' has been updated.
Row with Unique_ID 'IR-4499' has been updated.
Iteration: 1210, Elapsed Time: 347 minutes and 14.42 seconds
Row with Unique_ID 'IR-4500' has been updated.
Row with Unique_ID 'IR-4501' has been updated.
Row with Unique_ID 'IR-4502' has been updated.
Row with Unique_ID 'IR-4503' has been updated.
Row with Unique_ID 'IR-4504' has been updated.
Row with Unique_ID 'IR-4505' has been updated.
Row with Unique_ID 'IR-4506' has been updated.
Row with Unique_ID 'IR-4507' has been updated.
Row with Unique_ID 'IR-4508' has been updated.
Row with Unique_ID 'IR-4509' has been updated.
Iteration: 1220, Elapsed Time: 349 minutes and 8.30 seconds
Row with Unique_ID 'IR-4510' has been updated.
Row with Unique_ID 'IR-4511' has been updated.
Row with Unique_ID 'IR-4512' has been updated.
Row with Unique_ID 'IR-4513' has been updated.
Row with Unique_ID 'IR-4514' has been updated.
Row with Unique_ID 'IR-4515' has been updated.
Row with Unique_ID 'IR-4516' has been updated.
Error encountered: The `response.text` quick accessor only works when the response contains a valid `Part`, but none was returned. Check the `candidate.safety_ratings` to see if the response was blocked.. Retry 1/5
Row with Unique_ID 'IR-4517' has been updated.
Row with Unique_ID 'IR-4518' has been updated.
Row with Unique_ID 'IR-4519' has been updated.
Iteration: 1230, Elapsed Time: 351 minutes and 15.95 seconds
Row with Unique_ID 'IR-4520' has been updated.
Row with Unique_ID 'IR-4521' has been updated.
Row with Unique_ID 'IR-4522' has been updated.
Row with Unique_ID 'IR-4523' has been updated.
Row with Unique_ID 'IR-4524' has been updated.
Row with Unique_ID 'IR-4525' has been updated.
Row with Unique_ID 'IR-4526' has been updated.
Row with Unique_ID 'IR-4527' has been updated.
Row with Unique_ID 'IR-4528' has been updated.
Row with Unique_ID 'IR-4529' has been updated.
Iteration: 1240, Elapsed Time: 353 minutes and 8.85 seconds
Row with Unique_ID 'IR-4530' has been updated.
Row with Unique_ID 'IR-4531' has been updated.
Row with Unique_ID 'IR-4532' has been updated.
Row with Unique_ID 'IR-4533' has been updated.
Row with Unique_ID 'IR-4534' has been updated.
Row with Unique_ID 'IR-4535' has been updated.
Row with Unique_ID 'IR-4536' has been updated.
Row with Unique_ID 'IR-4537' has been updated.
Row with Unique_ID 'IR-4538' has been updated.
Row with Unique_ID 'IR-4539' has been updated.
Iteration: 1250, Elapsed Time: 354 minutes and 59.41 seconds
Row with Unique_ID 'IR-4540' has been updated.
Row with Unique_ID 'IR-4541' has been updated.
Row with Unique_ID 'IR-4542' has been updated.
Row with Unique_ID 'IR-4543' has been updated.
Row with Unique_ID 'IR-4544' has been updated.
Row with Unique_ID 'IR-4545' has been updated.
Row with Unique_ID 'IR-4546' has been updated.
Row with Unique_ID 'IR-4547' has been updated.
Row with Unique_ID 'IR-4548' has been updated.
Row with Unique_ID 'IR-4549' has been updated.
Iteration: 1260, Elapsed Time: 356 minutes and 46.50 seconds
Row with Unique_ID 'IR-4550' has been updated.
Row with Unique_ID 'IR-4551' has been updated.
Row with Unique_ID 'IR-4552' has been updated.
Row with Unique_ID 'IR-4553' has been updated.
Row with Unique_ID 'IR-4554' has been updated.
Row with Unique_ID 'IR-4555' has been updated.
Row with Unique_ID 'IR-4556' has been updated.
Row with Unique_ID 'IR-4557' has been updated.
Row with Unique_ID 'IR-4558' has been updated.
Row with Unique_ID 'IR-4559' has been updated.
Iteration: 1270, Elapsed Time: 358 minutes and 46.98 seconds
Row with Unique_ID 'IR-4560' has been updated.
Row with Unique_ID 'IR-4561' has been updated.
Row with Unique_ID 'IR-4562' has been updated.
Row with Unique_ID 'IR-4563' has been updated.
Row with Unique_ID 'IR-4564' has been updated.
Row with Unique_ID 'IR-4565' has been updated.
Row with Unique_ID 'IR-4566' has been updated.
Row with Unique_ID 'IR-4567' has been updated.
Row with Unique_ID 'IR-4568' has been updated.
Row with Unique_ID 'IR-4569' has been updated.
Iteration: 1280, Elapsed Time: 360 minutes and 42.26 seconds
Row with Unique_ID 'IR-4570' has been updated.
Row with Unique_ID 'IR-4571' has been updated.
Row with Unique_ID 'IR-4572' has been updated.
Row with Unique_ID 'IR-4573' has been updated.
Row with Unique_ID 'IR-4574' has been updated.
Row with Unique_ID 'IR-4575' has been updated.
Row with Unique_ID 'IR-4576' has been updated.
Row with Unique_ID 'IR-4577' has been updated.
Row with Unique_ID 'IR-4578' has been updated.
Row with Unique_ID 'IR-4579' has been updated.
Iteration: 1290, Elapsed Time: 362 minutes and 39.96 seconds
Row with Unique_ID 'IR-4580' has been updated.
Row with Unique_ID 'IR-4581' has been updated.

Row with Unique_ID 'IR-4582' has been updated.
Row with Unique_ID 'IR-4583' has been updated.
Row with Unique_ID 'IR-4584' has been updated.
Row with Unique_ID 'IR-4585' has been updated.
Row with Unique_ID 'IR-4586' has been updated.
Row with Unique_ID 'IR-4587' has been updated.
Row with Unique_ID 'IR-4588' has been updated.
Row with Unique_ID 'IR-4589' has been updated.
Iteration: 1300, Elapsed Time: 364 minutes and 35.48 seconds
Row with Unique_ID 'IR-4590' has been updated.
Row with Unique_ID 'IR-4591' has been updated.
Row with Unique_ID 'IR-4592' has been updated.
Row with Unique_ID 'IR-4593' has been updated.
Row with Unique_ID 'IR-4594' has been updated.
Row with Unique_ID 'IR-4595' has been updated.
Row with Unique_ID 'IR-4596' has been updated.
Row with Unique_ID 'IR-4597' has been updated.
Row with Unique_ID 'IR-4598' has been updated.
Row with Unique_ID 'IR-4599' has been updated.
Iteration: 1310, Elapsed Time: 366 minutes and 32.81 seconds
Row with Unique_ID 'IR-4600' has been updated.
Row with Unique_ID 'IR-4601' has been updated.
Row with Unique_ID 'IR-4602' has been updated.
Row with Unique_ID 'IR-4603' has been updated.
Row with Unique_ID 'IR-4604' has been updated.
Row with Unique_ID 'IR-4605' has been updated.
Row with Unique_ID 'IR-4606' has been updated.
Row with Unique_ID 'IR-4607' has been updated.
Row with Unique_ID 'IR-4608' has been updated.
Row with Unique_ID 'IR-4609' has been updated.
Iteration: 1320, Elapsed Time: 368 minutes and 24.21 seconds
Row with Unique_ID 'IR-4610' has been updated.
Row with Unique_ID 'IR-4611' has been updated.
Row with Unique_ID 'IR-4612' has been updated.
Row with Unique_ID 'IR-4613' has been updated.
Row with Unique_ID 'IR-4614' has been updated.
Row with Unique_ID 'IR-4615' has been updated.
Row with Unique_ID 'IR-4616' has been updated.
Row with Unique_ID 'IR-4617' has been updated.
Row with Unique_ID 'IR-4618' has been updated.
Row with Unique_ID 'IR-4619' has been updated.
Iteration: 1330, Elapsed Time: 370 minutes and 21.25 seconds
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4620' has been updated.
Row with Unique_ID 'IR-4621' has been updated.
Row with Unique_ID 'IR-4622' has been updated.
Row with Unique_ID 'IR-4623' has been updated.
Row with Unique_ID 'IR-4624' has been updated.
Row with Unique_ID 'IR-4625' has been updated.
Row with Unique_ID 'IR-4626' has been updated.
Row with Unique_ID 'IR-4627' has been updated.
Row with Unique_ID 'IR-4628' has been updated.
Row with Unique_ID 'IR-4629' has been updated.
Iteration: 1340, Elapsed Time: 372 minutes and 25.68 seconds
Row with Unique_ID 'IR-4630' has been updated.
Row with Unique_ID 'IR-4631' has been updated.
Row with Unique_ID 'IR-4632' has been updated.
Row with Unique_ID 'IR-4633' has been updated.
Row with Unique_ID 'IR-4634' has been updated.
Row with Unique_ID 'IR-4635' has been updated.
Row with Unique_ID 'IR-4636' has been updated.
Row with Unique_ID 'IR-4637' has been updated.
Row with Unique_ID 'IR-4638' has been updated.
Row with Unique_ID 'IR-4639' has been updated.
Iteration: 1350, Elapsed Time: 374 minutes and 12.79 seconds
Row with Unique_ID 'IR-4640' has been updated.
Row with Unique_ID 'IR-4641' has been updated.
Row with Unique_ID 'IR-4642' has been updated.
Row with Unique_ID 'IR-4643' has been updated.
Row with Unique_ID 'IR-4644' has been updated.
Row with Unique_ID 'IR-4645' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4646' has been updated.
Row with Unique_ID 'IR-4647' has been updated.
Row with Unique_ID 'IR-4648' has been updated.
Row with Unique_ID 'IR-4649' has been updated.
Iteration: 1360, Elapsed Time: 376 minutes and 18.55 seconds
Row with Unique_ID 'IR-4650' has been updated.
Row with Unique_ID 'IR-4651' has been updated.
Row with Unique_ID 'IR-4652' has been updated.
Row with Unique_ID 'IR-4653' has been updated.
Row with Unique_ID 'IR-4654' has been updated.
Row with Unique_ID 'IR-4655' has been updated.
Row with Unique_ID 'IR-4656' has been updated.
Row with Unique_ID 'IR-4657' has been updated.
Row with Unique_ID 'IR-4658' has been updated.
Row with Unique_ID 'IR-4659' has been updated.
Iteration: 1370, Elapsed Time: 378 minutes and 7.63 seconds
Row with Unique_ID 'IR-4660' has been updated.
Row with Unique_ID 'IR-4661' has been updated.
Row with Unique_ID 'IR-4662' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4663' has been updated.
Row with Unique_ID 'IR-4664' has been updated.
Row with Unique_ID 'IR-4665' has been updated.
Row with Unique_ID 'IR-4666' has been updated.
Row with Unique_ID 'IR-4667' has been updated.
Row with Unique_ID 'IR-4668' has been updated.
Row with Unique_ID 'IR-4669' has been updated.
Iteration: 1380, Elapsed Time: 380 minutes and 14.05 seconds
Row with Unique_ID 'IR-4670' has been updated.
Row with Unique_ID 'IR-4671' has been updated.
Row with Unique_ID 'IR-4672' has been updated.
Row with Unique_ID 'IR-4673' has been updated.
Row with Unique_ID 'IR-4674' has been updated.
Row with Unique_ID 'IR-4675' has been updated.
Row with Unique_ID 'IR-4676' has been updated.
Row with Unique_ID 'IR-4677' has been updated.
Row with Unique_ID 'IR-4678' has been updated.
Row with Unique_ID 'IR-4679' has been updated.
Iteration: 1390, Elapsed Time: 382 minutes and 16.48 seconds
Row with Unique_ID 'IR-4680' has been updated.
Row with Unique_ID 'IR-4681' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4682' has been updated.
Row with Unique_ID 'IR-4683' has been updated.
Row with Unique_ID 'IR-4684' has been updated.
Row with Unique_ID 'IR-4685' has been updated.
Row with Unique_ID 'IR-4686' has been updated.
Row with Unique_ID 'IR-4687' has been updated.
Row with Unique_ID 'IR-4688' has been updated.
Row with Unique_ID 'IR-4689' has been updated.
Iteration: 1400, Elapsed Time: 384 minutes and 28.20 seconds
Row with Unique_ID 'IR-4690' has been updated.
Row with Unique_ID 'IR-4691' has been updated.
Row with Unique_ID 'IR-4692' has been updated.
Row with Unique_ID 'IR-4693' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4694' has been updated.
Row with Unique_ID 'IR-4695' has been updated.
Row with Unique_ID 'IR-4696' has been updated.
Row with Unique_ID 'IR-4697' has been updated.
Row with Unique_ID 'IR-4698' has been updated.
Row with Unique_ID 'IR-4700' has been updated.
Iteration: 1410, Elapsed Time: 386 minutes and 29.65 seconds
Row with Unique_ID 'IR-4701' has been updated.
Row with Unique_ID 'IR-4702' has been updated.
Row with Unique_ID 'IR-4704' has been updated.
Row with Unique_ID 'IR-4705' has been updated.
Row with Unique_ID 'IR-4706' has been updated.
Row with Unique_ID 'IR-4707' has been updated.
Row with Unique_ID 'IR-4708' has been updated.
Row with Unique_ID 'IR-4709' has been updated.
Row with Unique_ID 'IR-4710' has been updated.
Row with Unique_ID 'IR-4711' has been updated.
Iteration: 1420, Elapsed Time: 388 minutes and 39.53 seconds
Row with Unique_ID 'IR-4712' has been updated.
Error encountered: 'str' object has no attribute 'items'. Retry 1/5
Row with Unique_ID 'IR-4713' has been updated.
Row with Unique_ID 'IR-4714' has been updated.
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 1/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 2/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 3/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 4/5
Error encountered: 429 Resource has been exhausted (e.g. check quota).. Retry 5/5
Failed to process unique_id IR-4715 after 5 attempts. Stopping.